<section class="section pv2">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column"> 
        <p> Candidates: <%= @count %> </p>
        <p class="has-text-warning"> Without skills: <%= @without_skills %> </p>
        <p class="has-text-success"> We Match activated: <%= (@count - @without_skills) %> </p>
        <p class="has-text-danger">  We Match deactivated: <%= @not_visible %> </p>
        <%= form_for admins_candidates_path, method: :get, html: {class: "mt3"} do |f| %>
          <div class="columns is-vertical-center">
            <div class="column">
              <input 
                type="text" 
                class="input" 
                placeholder="<%=t('search')%>" 
                name="search_users" 
                value="<%= params[:search_users] ? params[:search_users] : '' %>">
            </div>
            <div class="column has-text-left">
              <%= f.submit t('search'), class: "button is-dark" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="column has-text-right">
        <%= link_to admins_candidates_path(format: :xlsx), class: 'button is-success pl3' do %>
          <%= icon('fas', 'file-download pr2') %> Download
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="section pb5">
  <div class="container is-fluid">
    <div class="table-container">
      <table class="table is-striped">
        <thead> 
          <tr>
            <td>ID</td>
            <td><%= t('users.image') %></td>
            <td><%= t('users.name') %></td>
            <td><%= t('users.phone') %></td>
            <td><%= t('users.email') %></td>
            <td><%= t('users.profile_url') %></td>
            <td>We Match</td>
            <td>Skills</td>
            <td>Residencia</td>
            <td>Exp</td>
            <td><%= t('users.user_type') %></td>
            <td><%= t('inscribed') %></td>
            <td>User type</td>
            <td><%= t('save') %></td>
          </tr>
        </thead>
        <tfoot> 
          <tr>
            <td>ID</td>
            <td><%= t('users.image') %></td>
            <td><%= t('users.name') %></td>
            <td><%= t('users.phone') %></td>
            <td><%= t('users.email') %></td>
            <td><%= t('users.profile_url') %></td>
            <td>We Match</td>
            <td>Skills</td>
            <td>Residencia</td>
            <td>Exp</td>
            <td><%= t('users.user_type') %></td>
            <td><%= t('inscribed') %></td>
            <td>User type</td>
            <td><%= t('save') %></td>
          </tr>
        </tfoot>
        <tbody>
          <%= render partial: 'candidate', collection: @candidates %>
        </tbody>
      </table>
    </div>
    <div class="container is-fluid">
      <div class="columns is-centered mt3">
        <div class="column is-half-desktop">
          <%= paginate @candidates %>
        </div>
      </div>
    </div>
  </div>
</section>
