<div class="section">
  <div class="container">
    <div class="columns is-vcentered mb3">
      <div class="column has-text-left">
        <article class="message is-warning">
          <div class="message-header">
            <p>Estás como admin</p>
          </div>
          <div class="message-body">
            Así es como las empresas ven a los candidatos
          </div>
        </article>
      </div>
      <div class="column has-text-right">
        <%= link_to edit_admins_candidate_path(@candidate.id), class: 'button' do %>
          <%= icon('fas', 'edit', class: 'mr2') %> <%= t('edit_profile') %>
        <% end %>
      </div>
    </div>
    <div class="box">
      <div class="columns pa3">
        <div class="column is-2 is-vertical-center">
          <div class="rounded-image m-auto size-120">
            <% if @candidate.picture_url.file.nil? %>
              <%= image_tag(asset_path('user_male_avatar.svg')) %>
            <% else %>
              <%= image_tag(@candidate.picture_url_url(:thumb), alt: "Imagen perfil usuario | Wearehiring.io") %>
            <% end %>
          </div>
        </div>
        <div class="column is-4 with-right-border is-flex is-flex-direction-column is-justify-content-space-between">
          <p class="is-size-3 has-text-weight-bold"> <%= @candidate.name %> </p>
          <p> <%= @candidate.current_position %> </p>
          <p> <%= icon('fas', 'phone') %> <%= @candidate.phone %> </p>
          <div class="is-flex">
            <%= mail_to @candidate.email, class: 'button width-150 mr3 mt3' do %>
              <span>Contact</span> <%= icon('far', 'paper-plane ml2') %> 
            <% end %>
            <%= link_to @candidate.profile_url, target: '_blank', class: 'button linkedin width-50 mt3' do %>
              <%= icon('fab', 'linkedin') %>
            <% end %>
          </div>
        </div>
        <div class="column is-6 pl4">
          <div class="columns">
            <div class="column">
              <div>
                <%= content_tag(:span, 'Lugar de residencia habitual', class: 'has-text-weight-bold') %>:
              </div>
              <div class="mt2">
                <%= content_tag(:span, 'Years of experience', class: 'has-text-weight-bold') %>:
              </div>
              <div class="mt2">
                <%= content_tag(:span, t('users.salary_expectation'), class: 'has-text-weight-bold') %>:
              </div>
            </div>
            <div class="column">
              <div>
                <%= @candidate.location.present? ? content_tag(:span, @candidate.location) : content_tag(:span, 'Ciudad/País', class: 'has-text-grey-lighter') %>
              </div>
              <div class="mt2">
                <%= @candidate.experience.present? ? content_tag(:span, @candidate.experience) : content_tag(:span, 'X years', class: 'has-text-grey-lighter') %>
              </div>
              <div class="mt2">
                <% if @candidate.salary_from.present? && @candidate.salary_to.present? %>
                  <%= content_tag(:span, "#{@candidate.salary_from} €") %> - <%= content_tag(:span, "#{@candidate.salary_to} €") %>
                <% else %>
                  <%= content_tag(:span, "XXXXX €", class: 'has-text-grey-lighter') %> - <%= content_tag(:span, "XXXXX €", class: 'has-text-grey-lighter') %>
                <% end %>
              </div>
            </div>
          </div>
          <div>
            <% if @candidate.skills.any? %>
              <% @candidate.skills.each do |skill| %>
                <span class='tag is-success is-normal'> <%= skill.name %> </span>
              <% end %>  
            <% end %>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>

<div class="section pt2">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <div class="box">
          <p class="is-size-5 has-text-weight-bold"> Portfolio </p>
          <%= content_tag(:div, class: 'mt3') do %>
            <%= icon('fab', 'github mr2') %>
            <%= @candidate.github.present? ? link_to('Github', @candidate.github) : content_tag(:span, 'github/profile', class: 'has-text-grey-lighter') %>
          <% end %>

          <%= content_tag(:div, class: 'mt2') do %>
            <%= icon('fab', 'pinterest mr2') %>
            <%= @candidate.pinterest.present? ? link_to('Pinterest', @candidate.pinterest) : content_tag(:span, 'pinterest/profile', class: 'has-text-grey-lighter') %>
          <% end %>

          <%= content_tag(:div, class: 'mt2') do %>
            <%= icon('fab', 'behance-square mr2') %>
            <%= @candidate.behance.present? ? link_to('Behance', @candidate.behance) : content_tag(:span, 'behance/profile', class: 'has-text-grey-lighter') %>
          <% end %>

          <%= content_tag(:div, class: 'mt2') do %>
            <%= icon('fas', 'globe mr2') %>
            <%= @candidate.personal_website.present? ? link_to('Personal Website', @candidate.personal_website) : content_tag(:span, 'https://personalwebsite.com', class: 'has-text-grey-lighter') %>
          <% end %>
        </div>
      </div>
      <div class="column is-6">
        <div class="box">
          <p class="is-size-5 has-text-weight-bold"> About </p>
          <% if @candidate.description.present? %>
            <%= content_tag(:p, simple_format(@candidate.description), class: 'mt3') %>
          <% else %>
            <p class="has-text-grey-lighter mt3 is-vertical-center is-justify-content-center" style="height: 300px">
              Sin descripción
            </p>
          <% end %>
        </div>
      </div>
      <div class="column is-3">
        <p class="is-size-5 has-text-weight-bold"> Inscripciones </p>
        <hr>
        <% @candidate.inscriptions.each do |inscription| %>
          <div class="columns">
            <div class="column is-3 is-vertical-center">
              <div class="rounded-image m-auto size-50">
                <% if inscription.job.avatar.file.nil? %>
                  <%= image_tag(asset_path('user_male_avatar.svg')) %>
                <% else %>
                  <%= image_tag(inscription.job.avatar_url(:thumb), alt: "Imagen perfil usuario | Wearehiring.io") %>
                <% end %>
              </div>
            </div>
            <div class="column">
              <div class="">
                <p> <%= inscription.job.job_author %> </p>
                <p> <%= inscription.status.present? ? t("inscriptions.#{inscription.status}") : t('inscriptions.inscribed') %> </p>
                <p> <%= icon('fas', 'star') if inscription.recommended? %> </p>
                <p> <%= link_to 'Ver job', admins_job_path(inscription.job.id) %> </p>
              </div>
            </div>
          </div>
        <% end %>
        <div class="has-text-centered">
          <%= link_to inscriptions_admins_user_path(@candidate.id), class: 'button' do %>
            <%= t('inscriptions.show_all') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
