<%= form_for :inscription, url: create_inscription_companies_jobs_path(job_id: job.id, user_id: user.id) do |f| %>
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <% image_url = user.picture_url.file.nil? ? asset_path('user_male_avatar.svg') : user.picture_url_url(:thumb) %>
            <%= image_tag(image_url, alt: "Candidato ideal para tu empresa", class: 'is-rounded') %>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-6"> <%= user.current_position.present? ?  user.current_position : content_tag(:span, 'Posición no especificada', class: 'has-text-grey-light') %> </p>
          <p class="subtitle is-7"> <%= user.experience.present? ? user.experience : content_tag(:span, 'Experiencia no especificada', class: 'has-text-grey-light') %> </p>
        </div>
      </div>
      <div class="content">
        <% user.skills.each do |skill| %>
          <span class='tag is-success is-normal'> <%= skill.name %> </span>
        <% end %>  
      </div>
    </div>
    <footer class="card-footer">
      <% if user.is_already_inscribed(job) %>
        <div class="is-outline pa3 card-footer-item">
          <span class="mr2"> ¡Ya has añadido este candidato! </span>
          <span class="has-text-success"> <%= icon('far', 'check-circle') %> </span>
        </div>
      <% else %>
        <%= f.submit "Añadir al proceso de selección", class: "card-footer-item button is-info pa0" %>
      <% end %>              
    </footer>
  </div>
<% end %>
