<%= form_for :inscription, url: create_inscription_companies_jobs_path(job_id: job.id, user_id: user.id) do |f| %>
  <div class="card mb3">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <% image_url = user.picture_url.file.nil? ? asset_path('user_male_avatar.svg') : user.picture_url %>
            <%= image_tag(image_url, alt: "Candidato ideal para tu empresa", class: 'is-rounded') %>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"> <%= user.name %> </p>
          <p class="subtitle is-6"> <%= user.email %> </p>
        </div>
      </div>

      <div class="content">
        <div class="mb3">
          <% user.skills.each do |skill| %>
            <span class='tag is-success is-normal'> <%= skill.name %> </span>
          <% end %>  
        </div>
        <p> <%= icon('fas', 'phone') %> <%= user.phone %> </p>
        <%= link_to user.profile_url, target: "_blank", class: "is-size-5" do %>
          <%= icon('fab', 'linkedin') %>
        <% end %>  
        <%= mail_to user.email, target: "_blank", class: "is-size-5" do %>
          <%= icon('far', 'envelope') %>
        <% end %>
      </div>
    </div>
    <footer class="card-footer">
      <% if user.is_already_inscribed(job) %>
        <div class="is-outline pa3 card-footer-item">
          <span class="mr2"> Candidato inscrito </span>
          <span class="has-text-success"> <%= icon('far', 'check-circle') %> </span>
        </div>
      <% else %>
        <%= f.submit "Añadir al proceso de selección", class: "card-footer-item button is-info pa0" %>
      <% end %>
    </footer>
  </div>  
<% end %>        
