<%= simple_form_for([:companies, @job], html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="columns">
    <div class="column">
      <div class="field">
        <%= f.label :title, class: 'label has-text-weight-bold' %>
        <div class="control has-icons-left">
          <%= f.input :title, 
            input_html: { class: "input" }, 
            placeholder: "Frontend Developer", 
            label: false, 
            required: true,
            wrapper: false %>
          <span class="icon is-small is-left">
            <%= icon('fas', 'user-plus') %>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <%= f.label :job_author, class: 'label has-text-weight-bold' %>
        <div class="control has-icons-left">
          <%= f.input :job_author, 
            input_html: { class: "input" }, 
            placeholder: t('will_be_visible_by_candidates'), 
            label: false, 
            required: true,
            wrapper: false %>
          <span class="icon is-small is-left">
            <%= icon('fas', 'building') %>
          </span>
        </div>
      </div>
    </div>  
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control">
          <label class="label"> 
            <%= t('jobs.job_type') %>
          </label>
          <div class="control has-icons-left">
            <span class="select">
              <%= f.input_field :job_type_id, collection: JobType.all, promt: "Select Job Type", required: true %>
            </span>
            <span class="icon is-small is-left">
              <%= icon('fas', 'briefcase') %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-three-fifths-desktop">
      <div class="field">
        <%= f.label :location, class: 'label has-text-weight-bold' %>
        <div class="control has-icons-left">
          <%= f.input :location, 
            input_html: { class: "input" }, 
            placeholder: 'Barcelona', 
            label: false, 
            required: true,
            hint: 'Ejemplos: "Málaga", "Barcelona", "Madrid", "Remoto"',
            wrapper: false %>
          <span class="icon is-small is-left">
            <%= icon('fas', 'map-marker-alt') %>
          </span>
        </div>
      </div>
      <div class="field mt4">
        <div class="control">
          <%= f.check_box :remote_ok, { class: "switch remote-switch" } %>
          <%= f.label :remote_ok do %>
            <%= t('work_can_be_done_remotely') %> <%= icon('fas', 'wifi') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column"> 
      <strong>
        <abbr title="required">*</abbr>
        <%= t('jobs.salary_range') %>  
        <%= icon('fas', 'question-circle') %>
      </strong>
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-quarter-desktop salaries">
      <div class="field">
        <div class="control has-icons-left">
          <%= f.input :salary_from, 
            input_html: { class: "input" }, 
            placeholder: '30000', 
            label: false, 
            required: true,
            hint: t('forms.from'),
            wrapper: false %>
          <span class="icon is-small is-left">
            <%= icon('fas', 'euro-sign') %>
          </span>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter-desktop salaries">
      <div class="field">
        <div class="control has-icons-left">
          <%= f.input :salary_to, 
            input_html: { class: "input" }, 
            placeholder: '40000', 
            label: false, 
            required: true,
            hint: t('forms.to'),
            wrapper: false %>
          <span class="icon is-small is-left">
            <%= icon('fas', 'euro-sign') %>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <input id="salarySwitch" type="checkbox" name="salarySwitch" class="switch">
        <label for="salarySwitch"> <small> No mostrar salario </small> </label>
      </div>  
    </div>
  </div>
  
  <div class="columns">
    <div class="column is-one-third-desktop">
      <div class="field">
        <div class="control">
          <label class="label"> 
            <abbr title="required">*</abbr>
            <%= t('exp_level') %> 
          </label>
          <div class="control has-icons-left">
            <span class="select">
              <%= f.input_field :level_id, collection: Level.all, promt: "Select Level", required: true %>
            </span>
            <span class="icon is-small is-left">
              <%= icon('fas', 'graduation-cap') %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control">
          <label class="label"> 
            <abbr title="required">*</abbr>
            <%= t('category') %> 
          </label>
          <div class="control is-flex wrap mt3">
            <%= f.collection_radio_buttons :category_id, Category.all, :id, :name, item_wrapper_class: 'choice-collection' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control">
          <label class="label"> 
            <%= t('skills.title') %> 
          </label>
          <small> <%= t('skills.job_subtitle') %> </small>
          <%= f.collection_select :skill_ids, Skill.all, :id, :name, {}, { multiple: "multiple", class: "skills-select", style: "width: 100%"} %>  
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control">
          <%= f.input :description, input_html: { class: "textarea" }, wrapper: false, label_html: { class: "label" } %>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control">
          <label class="label f4"> <%= t('jobs.logo_image') %> </label>
          <div class="file is-info">
            <label class="file-label">
              <%= f.input :avatar, 
                as: :file, 
                required: false, 
                input_html: { class: "file-input load-image" }, 
                label: false, 
                wrapper: false %>
              <span class="file-cta">
                <span class="file-icon"> <%= icon('fas', 'upload') %> </span>
                <span class="file-label"> 
                  <% if @job_last && @job_last.avatar.file.present? %>
                    <%= t('jobs.change_image') %>
                  <% else %>
                    <%= t('jobs.upload_image') %>
                  <% end %>
                </span>
              </span>
            </label>
          </div>
          <p> Tamaño recomendado 200x200 </p>
        </div>
      </div>    
    </div>
    <div class="column">
      <output id="list">
        <% if @job_last && @job_last.avatar.file.present? %>
          <div class="rounded-image size-150" id="prevImage">
            <%= image_tag(@job_last.avatar_url(:thumb)) %>
          </div>
        <% end %>
      </output>
    </div>
  </div>

  <hr>

  <div class="is-light has-text-centered mt5">
    <p class="f3">
      <del> Precio 99 <%= icon('fas', 'euro') %> </del>
    </p>
    <p class="f3">
      <%= icon('fas', 'rocket') %>
      <strong class="has-text-success"> GRATIS </strong>
    </p>
    <p class="has-text-centered">
      Puedes publicar las veces que quieras.
    </p>
    <p class="has-text-centered">
      Sin coste de publicación ni de contratación en caso de seleccionar alguno de los candidatos.
    </p>
    <p class="has-text-centered mt2">
      ¡Aprovecha la promoción!
    </p>
    <span class="block mb3"></span>
  </div>
  
  <div class="has-text-centered submit-box">
    <% button_name = edit_page ? t('jobs.edit_job') : t('jobs.post_job_free') %>
    <% loading_text = edit_page ? 'Editando...' : 'Publicando...' %>
    <%= f.submit button_name, 
      class: "button is-rounded is-large primary mt3", 
      id: "submitJobButton", 
      data: { disable_with: loading_text } %>
  </div>

<% end %>

<%= content_for :head do %>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<% end %>

<%= content_for :footer do %>
  <%= javascript_include_tag "helpers/image_loader.js" %>
  <script src="https://cdn.tiny.cloud/1/2waujryfoz8jq9ucu0b6ioeaevozjce6026p9vf6i7hpp8io/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <script>  
    $(document).ready(function() {
      $('.skills-select').select2({
        maximumSelectionLength: 6
      });

      $("#salarySwitch").change(function() {
        if ($('#salarySwitch').is(":checked")) {
          $('#job_salary_from, #job_salary_to').val(0);
          $('.salaries').addClass("is-hidden");
          $(".salary-hint").addClass("is-hidden");
        } else {
          $('#job_salary_from, #job_salary_to').val("");
          $('.salaries').removeClass("is-hidden");
          $(".salary-hint").removeClass("is-hidden");
        }
      });

      tinymce.init({
        selector: '#job_description',
        plugins: 'image link lists',
        menubar:  false,
        toolbar: 'undo redo | styleselect | bold italic | numlist bullist | link | alignleft aligncenter alignright alignjustify | outdent indent | image'
      });

      tippy('.fa-question-circle', {
        content: 'Las empresas que añaden el salario tienen un 67% más de candidatos',
      });
    });
  </script>
<% end %>
