<%= link_to companies_job_path(job.id) do %>
  <div class="box radius-20 box-link is-clickable">
    <div class="columns listrow is-mobile">
      <div class="column is-4">
        <span class="is-size-5 has-text-weight-bold"> <%= job.title %> </span> <br>
        <%= job.job_author %> <br>
        
      </div>
      <div class="column is-3">
        <% job.skills.each do |skill| %>
          <span class="tag is-success"> <%= skill.name %> </span>
        <% end %>
      </div>
      <div class="column is-2">
        <strong> <%= job_inscriptions_counter(job) %> </strong>
      </div>
      <div class="column is-3">
        <%= t('remaining_days_short') %>: <strong> <%= job_expired(job) %> </strong> <br>
        Ref: <small> <%= job.reference %> </small>
      </div>
    </div>
  </div>
<% end %>
<div class="mb4"></div>
