<div class="columns">
  <div class="column">
    <h1 class="title"> <%= job.title %> </h1>
    <h2 class="subtitle"> <%= job.job_author %> en <%= job.location %> </h2>
    <div class="mt1">
      <% job.skills.each do |skill| %>
        <span class='tag is-success is-normal'> <%= skill.name %> </span>
      <% end %>   
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-one-third has-text-centered">
    <% if job.avatar.file.nil? %>
      <%= icon('far', 'image', style: 'font-size: 50px') %>
    <% else %>
      <div class="rounded-image size-150">
        <%= image_tag(job.avatar_url(:thumb), alt: "Empleo de #{job.title} en #{job.job_author}") %>
      </div>
    <% end %>
  </div>
  <div class="column">
    <div class="columns is-mobile">
      <div class="column is-1"> <%= icon('far', 'clock') %> </div>
      <div class="column"> <%= t('jobs.job_type') %> </div>
      <div class="column"> <%= job.job_type.name %> </div>
    </div>
    <div class="columns is-mobile">
      <div class="column is-1"> <%= icon('fas', 'level-up-alt') %> </div>
      <div class="column"> <%= t('exp_level')  %> </div>
      <div class="column"> <%= job.level.name %> </div>
    </div>
    <div class="columns is-mobile">
      <div class="column is-1"> <%= icon('fas', 'globe') %> </div>
      <div class="column"> <%= t('category') %> </div>
      <div class="column"> <%= job.category.name %> </div>
    </div>
    <div class="columns is-mobile">
      <div class="column is-1"> <%= icon('fas', 'wifi') %> </div>
      <div class="column"> <%= t('remote') %> </div>
      <div class="column"> <%= job.remote_ok? ? t('remote') : 'oficina' %> </div>
    </div>
    <div class="columns is-mobile">
      <div class="column is-1"> <%= icon('fas', 'euro-sign') %> </div>
      <div class="column"> <%= t('jobs.salary_range') %> </div>
      <div class="column"> <%= job_salary(job.salary_from, job.salary_to) %> </div>
    </div>
  </div>
</div>

<hr>

<div class="columns">
  <div class="column">
    <%= job.description.html_safe %>
  </div>
</div>


