
<div class="columns card-box-secondary payment-box">
  <div class="column">
    <% if !@job.persisted? %>
      <div class="columns">
        <div class="column">
          <p class="f4"> <%= t('payment_detail') %> </p>
        </div>
        <div class="column has-text-right">
          <%= image_tag(asset_path('powered-stripe.svg'), size: 150) %>
        </div>
      </div>

      <h4 class="subtitle is-4"> <%= t('payments.price') %> </h4>

      <div class="is-light">
        <div class="columns job-price-cards">
          <div class="column">
            <label class="price-card price-card-basic" for="job_job_price_id_1">
              <input name="job[job_price_id]" class="radio-card" type="radio" id="job_job_price_id_1" value="1">
              <span class="job-price-details">
                <span class="job-price-type">Basic</span>
                <span class="job-price-cost">99€</span>
                <div class="is-flex is-justify-content-space-between">
                  <p> <%= t('pricing_index.pricing_feature_1') %> </p>
                  <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
                </div>
                <div class="is-flex is-justify-content-space-between">
                  <p> <%= t('pricing_index.pricing_feature_2') %> </p>
                  <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
                </div>
                <div class="is-flex is-justify-content-space-between">
                  <p> <%= t('pricing_index.pricing_feature_3') %> </p>
                  <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
                </div>
                <div class="is-flex is-justify-content-space-between">
                  <p> <%= t('pricing_index.pricing_feature_4') %> </p>
                  <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
                </div>
                <div class="is-flex is-justify-content-space-between">
                  <p> <%= t('pricing_index.pricing_feature_5') %></p>
                  <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
                </div>
                <div class="is-flex is-justify-content-space-between">
                  <p> <del> <%= t('pricing_index.pricing_feature_6') %> </del> </p>
                  <p> <%= icon('fas', 'times-circle') %> </p>
                </div>
                <div class="is-flex is-justify-content-space-between">
                  <p> <del> <%= t('pricing_index.pricing_feature_7') %> </del> </p>
                  <p> <%= icon('fas', 'times-circle') %> </p>
                </div>
                <div class="is-flex is-justify-content-space-between">
                  <p> <del> <%= t('pricing_index.pricing_feature_8') %> </del> </p>
                  <p> <%= icon('fas', 'times-circle') %> </p>
                </div>
                <div class="is-flex is-justify-content-space-between">
                  <p> <del><%= t('pricing_index.pricing_feature_9') %> </del> </p>
                  <p> <%= icon('fas', 'times-circle') %> </p>
                </div>
                <div class="is-flex is-justify-content-space-between">
                  <p> <del> <%= t('pricing_index.pricing_feature_10') %> </del> </p>
                  <p> <%= icon('fas', 'times-circle') %> </p>
                </div>
              </span>
            </label>
          </div>
          <div class="column">
            <label class="price-card price-card-pro" for="job_job_price_id_2">
              <input name="job[job_price_id]" class="radio-card" type="radio" id="job_job_price_id_2" value="2" checked>
              <span class="job-price-details" aria-hidden="true">
                <span class="job-price-type">Pro <%= icon('fas', 'star', class: 'ml1') %> </span>
                <span class="job-price-cost">299€</span>
                <div class="is-flex is-justify-content-space-between">
                  <p> <%= t('pricing_index.pricing_feature_1') %> </p>
                  <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
                </div>
                <div class="is-flex is-justify-content-space-between">
                  <p> <%= t('pricing_index.pricing_feature_2') %> </p>
                  <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
                </div>
                <div class="is-flex is-justify-content-space-between">
                  <p> <%= t('pricing_index.pricing_feature_3') %> </p>
                  <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
                </div>
                <div class="is-flex is-justify-content-space-between">
                  <p> <%= t('pricing_index.pricing_feature_4') %> </p>
                  <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
                </div>
                <div class="is-flex is-justify-content-space-between">
                  <p> <%= t('pricing_index.pricing_feature_5') %> </p>
                  <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
                </div>
                <div class="is-flex is-justify-content-space-between">
                  <p> <%= t('pricing_index.pricing_feature_6') %> </p>
                  <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
                </div>
                <div class="is-flex is-justify-content-space-between">
                  <p> <%= t('pricing_index.pricing_feature_7') %></p>
                  <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
                </div>
                <div class="is-flex is-justify-content-space-between">
                  <p> <%= t('pricing_index.pricing_feature_8') %> </p>
                  <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
                </div>
                <div class="is-flex is-justify-content-space-between">
                  <p> <%= t('pricing_index.pricing_feature_9') %> </p>
                  <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
                </div>
                <div class="is-flex is-justify-content-space-between">
                  <p> <%= t('pricing_index.pricing_feature_10') %> </p>
                  <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
                </div>
              </span>
            </label>
          </div>
        </div>
        <p class="has-text-centered mt4">
          <%= icon('fas', 'credit-card f1') %>
          <strong class="has-text-success f1 ml2 job-price" id="price-displayed"> 299€ </strong>
          <span class="f1 ml2 discounted-price is-hidden"> <del> 299€ </del> <strong class="has-text-success" id="price-after-discount"></strong> </span>
          <span class="has-text-success"> + <%= t('taxes') %> </span>
        </p>
        <p class="has-text-centered">
          <%= icon('fas', 'info-circle') %>
          <small id="price-after-taxes"> 316.94 </small> <small> <%= t('tax_included') %> </small>
        </p>
        <p class="has-text-centered">
          <%= t('payments.monthly') %>
        </p>
        <span class="block mb4"></span>
      </div>

      <div class="form-row has-text-centered">
        <label for="card-element" class="label">
          <%= t('payments.enter_credit_card') %>
        </label>

        <div id="card-element" class="form-control"></div>

        <div id="card-errors" role="alert"></div>
      </div>

      <% if current_user.stripe_id.present? %>
        <div class="last-card bg-light pa4 border-radius-3 mt4 has-text-centered">
          <h5 class="is-6 title pt2">
            <%= t('payments.previously_card') %>
          </h5>
          <table class="table is-narrow bg-light is-fullwidth">
            <thead>
              <th> <%= t('payments.card_brand') %> </th>
              <th> <%= t('payments.card_last4') %> </th>
              <th> <%= t('payments.card_exp_month') %> </th>
              <th> <%= t('payments.card_exp_year') %> </th>
            </thead>
            <tr>
              <td> <%= current_user.card_brand %> </td>
              <td> <%= current_user.card_last4 %> </td>
              <td> <%= current_user.card_exp_month %> </td>
              <td> <%= current_user.card_exp_year %> </td>
            </tr>
          </table>
        </div>
      <% end %>
    <% end %>
    <div class="columns mt3 has-text-centered discount-section is-hidden">
      <div class="column is-half is-offset-one-quarter">
        <label class="label"> 
          <%= t('coupon_question_title') %>
        </label>
        <div class="field is-grouped">
          <p class="control is-expanded">
            <%= f.input :discount_code, label: false, input_html: { class: "input discount-code" }, wrapper: false, label_html: { class: "label" }, placeholder: "MYCOUPON10" %>
          </p>
          <p class="control">
            <a class="button is-dark">
              <%= t('apply') %>
            </a>
          </p>
        </div>
        <div id="error-message" class="has-text-danger"></div>
      </div>
    </div>
    <div class="has-text-centered submit-box">
      <%= f.submit t('payments.pay_and_post') , 
        class: "button is-rounded is-large is-success mt3", 
        id: "postJobSubmit" %>
    </div>
  </div>
</div>





