<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-3-desktop">
        <%= link_to companies_job_path(@job.id), class: 'button is-normal' do %>
          <%= icon('fas', 'arrow-left mr2') %>
          <%= t('go_back_to_job') %>
        <% end %>
      </div>
    </div>
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h1 class="title is-3"> <%= t('jobs.edit_job') %> </h1>
        <%= render 'form', job: @job, edit_page: true %>
      </div>
    </div>
  </div>
</section>