<section class="section">
  <div class="container mb5">
    <div class="columns">
      <div class="column">
        <h1 class="f2"> <%= t('my_jobs') %> </h1>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="info-tiles">
          <div class="tile has-text-centered">
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title"> <%= @jobs_count %> </p>
                <p class="subtitle"> Jobs </p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title"><%= @jobs_active_count %></p>
                <p class="subtitle"> Jobs Activos </p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title"> <%= @jobs_expired_count %> </p>
                <p class="subtitle"> Jobs Finalizados </p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title"> <%= @total_inscriptions %> </p>
                <p class="subtitle"> Total Inscritos </p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= form_for companies_jobs_path(current_user), method: :get do |f| %>
    <div class="columns">
      <div class="column is-4 is-offset-8">
        <div class="field has-addons is-pulled-right">
          <div class="control">
            <input 
              type="text" 
              class="input" 
              placeholder="<%=t('search')%>" 
              name="search_my_jobs" 
              value="<%=params[:search_my_jobs] ? params[:search_my_jobs] : ''%>">
          </div>
          <div class="control">
            <%= f.submit t('search'), class: "button is-dark" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="container">
    <div class="columns listhead is-mobile">
      <div class="column is-1 is-hidden-touch">
        Nb
      </div>
      <div class="column is-hidden-touch">
        <%= t('reference') %>
      </div>
      <div class="column is-hidden-mobile">
        <%= t('jobs.company') %>
      </div>
      <div class="column">
        <%= t('jobs.position') %>
      </div>
      <div class="column is-hidden-touch">
        <%= t('jobs.tags') %>
      </div>
      <div class="column">
        <%= t('jobs.candidates') %>
      </div>
      <div class="column">
        Días restantes
      </div>
    </div>

		<%= render partial: 'job', collection: @jobs, as: :job %>
  </div>
</section>

<% if @jobs.empty? %>
  <section class="section">
    <div class="container has-text-centered">
      <div class="columns">
          <div class="column">
            <h1 class="title f2"> No tienes ningún Job activo </h1>
          </div>
        </div>
      </div>
      <div class="columns mt4">
        <div class="column has-text-centered">
          <%= image_tag(asset_path('desert.svg'), width: 350, height: 350) %>
        </div>
      </div>
      <div class="columns mt4">
        <div class="column has-text-centered">
          <%= link_to t('jobs.post_job'), new_companies_job_path, class: 'button is-rounded primary is-large shadow' %>
        </div>
      </div>
    </div>
  </section>
<% end %>