<section class="section">
  <div class="container">
    <p> <strong><%= t('jobs.created_at') %>:</strong> <%= @job.created_at.strftime("%F") %> </p>
    <p> <strong><%= t('jobs.reference') %>:</strong> #<%= @job.reference %> </p>
  </div>
  <div class="container mt3">
    <div class="box radius-20">
      <div class="columns is-align-items-center">
        <div class="column">
          <p class="title is-4 has-text-weight-bold">
            <%= "#{t('job_offer_h1')} #{@job.title} en #{@job.remote_ok? ? "Remoto" : @job.location}" %>
          </p>
        </div>
        <div class="column is-3 is-flex is-align-items-center">
          <div class="is-size-6 has-text-right has-text-weight-bold mr2">
            <span> Tipo de </span> <br>
            <span> publicación </span>
          </div>
          <div class="is-size-2 has-text-weight-bold"> <%= @job.job_price&.internal_name.upcase %>  </div>
        </div>
        <div class="column is-2 is-flex is-align-items-center">
          <div class="is-size-6 has-text-right has-text-weight-bold mr2"> 
            <span> <%= t('days') %>  </span> <br>
            <span> <%= t('remaining').downcase %>  </span>
          </div>
          <div class="is-size-2 has-text-weight-bold"> <%= job_expired(@job) %> </div>
        </div>
        <div class="column is-2">
          <%= link_to edit_price_companies_job_path(id: @job.id), class: 'button upgrade-button radius-8 bigger ml3' do %>
            <span> <%= t('upgrade_this_job') %> </span>
          <% end unless @job.is_pro_price? || !@job.open? %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">    
        <p class="title is-4"> <%= t('manage_job_offer') %> </p>
      </div>
    </div>
  </div>
  <div class="container mt4">
    <div class="box broken-white-bg radius-20 pa4">
      <div class="has-text-right mb3">
        <% if @job.open? %>
          <% if @job.is_free_price? %>
            <span class="button is-static"> <%= t('jobs.edit') %> <span class="tag is-warning ml2"> Basic / Pro </span>  <%= icon('fas', 'lock', class: 'ml2 is-size-4') %> </span>
          <% else %>
            <%= link_to edit_companies_job_path(@job), class: 'button is-link' do %>
              <%= icon('fas', 'edit mr1') %> <%= t('jobs.edit') %>
            <% end %>
          <% end %>
          <%= link_to job_path(@job), class: 'button ml3', target: '_blank' do %>
            <%= icon('fas', 'eye mr1') %> <%= t('show_job_post') %>
          <% end %>
        <% else %>
          <%= content_tag(:span, t('job_ended'), class: 'button is-static is-danger') %>
        <% end %>
      </div>
      <%= render partial: "jobs/shared/job_info", locals: { job: @job } %>
    </div>
  </div>
</section>

<section class="section">
  <div class="container mt4"> 
    <p class="title is-4"> <%= t('manage_candidates') %> </p>
    <div class="info-tiles">
      <div class="tile has-text-centered mb4">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"> <%= @job.inscriptions.count %> </p>
            <p class="subtitle"><%= icon('fas', 'check-circle has-text-success') %> <%= t("inscriptions.inscribeds") %> </p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"> <%= @finalists_count %> </p>
            <p class="subtitle"><%= icon('fas', 'trophy has-text-warning') %> <%= t("inscriptions.finalists") %> </p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"> <%= @in_process_count %> </p>
            <p class="subtitle"> <%= icon('fas', 'user-clock has-text-info') %> <%= t("inscriptions.in_process") %> </p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"><%= @discardeds_count %></p>
            <p class="subtitle"> <%= icon('fas', 'heart-broken has-text-danger') %> <%= t("inscriptions.discardeds") %> </p>
          </article>
        </div>
      </div>
    </div>
    <div class="columns mt5">
      <div class="column has-text-right">
        <% if @job.is_pro_price? %>
          <%= link_to companies_job_inscriptions_path(job_id: @job.id, format: "xlsx"), class: 'button is-disabled' do %>
            <%= icon('fas', 'file-download pr2', class: 'has-excel-color') %> <%= t('download_candidates_excel') %>
          <% end if @inscriptions.any? %>
        <% else %>
          <span class="button is-static pa4"> <%= t('download_candidates_excel') %> <span class="tag is-warning ml2"> Pro </span>  <%= icon('fas', 'lock', class: 'ml2 is-size-2') %> </span>
        <% end %>
      </div>
    </div>
    <% if !@job.is_free_price? %>
      <div class="columns is-vcentered mb3">
        <div class="column is-2">
          <p>
            <%= @inscriptions_count %> <%= @inscriptions_count == 1 ? t('result') : t('results') %>
          </p>
        </div>
        <div class="column is-10">
          <%= form_tag(companies_job_path(@job.id), method: :get) do %>
            <div class="is-flex is-justify-content-flex-end">
              <div>
                <div class="control has-icons-left">
                  <div class="select">
                    <%= select_tag :by_country_code, 
                      options_for_select(@inscriptions_country_codes, params[:by_country_code]), 
                      :include_blank => t('select.resident_country_code') %>
                  </div>
                  <span class="icon is-left">
                    <%= icon('fas', 'flag') %>
                  </span>
                </div>
              </div>
              <div class="ml3">
                <div class="control has-icons-left">
                  <div class="select">
                    <%= select_tag :by_experience, 
                      options_for_select([ "0-2 años", "2-6 años", "6-10 años", "+10 años" ], params[:by_experience]), 
                      :include_blank => "Años de experiencia" %>
                  </div>
                  <span class="icon is-left">
                    <%= icon('fas', 'graduation-cap') %>
                  </span>
                </div>
              </div>
              <div class="ml3">
                <div class="control has-icons-left">
                  <div class="select">
                    <%= select_tag :by_status, 
                      options_for_select(Inscription.statuses.keys.map {|status, id| [t("inscriptions.#{status}"), status]}, params[:by_status]), 
                      :include_blank => t('inscriptions.process_status') %>
                  </div>
                  <span class="icon is-left">
                    <%= icon('fas', 'clock') %>
                  </span>
                </div>
              </div>
              <div class="ml3">
                <div class="control has-icons-left">
                  <div class="select">
                    <%= select_tag :by_recommended, 
                      options_for_select({ t('recommended_users') => true }, params[:by_recommended]), 
                      :include_blank => t('inscriptions.by_recommended') %>
                  </div>
                  <span class="icon is-left">
                    <%= icon('fas', 'star') %>
                  </span>
                </div>
              </div>
              <div>
                <%= button_tag(t('apply_filters'), type: 'submit', class: "button is-dark is-fullwidth has-text-weight-bold", data: { disable_with: "<i class='fas fa-spinner fa-spin'></i>".html_safe }) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="button is-static is-flex is-justify-content-flex-end is-align-items-center pa4 mb4">
        <div>
          <div class="control has-icons-left">
            <div class="select">
              <select disabled>
                <option value=""> <%= t('select.resident_country_code') %> </option>
              </select>
            </div>
            <span class="icon is-left">
              <%= icon('fas', 'flag') %>
            </span>
          </div>
        </div>
        <div class="ml3">
          <div class="control has-icons-left">
            <div class="select">
              <select disabled>
                <option value=""> <%= t('inscriptions.experience') %> </option>
              </select>
            </div>
            <span class="icon is-left">
              <%= icon('fas', 'graduation-cap') %>
            </span>
          </div>
        </div>
        <div class="ml3">
          <div class="control has-icons-left">
            <div class="select">
              <select disabled>
                <option value=""> <%= t('inscriptions.process_status') %> </option>
              </select>
            </div>
            <span class="icon is-left">
              <%= icon('fas', 'clock') %>
            </span>
          </div>
        </div>
        <div class="ml3">
          <div class="control has-icons-left">
            <div class="select">
              <select disabled>
                <option value=""> <%= t('inscriptions.by_recommended') %> </option>
              </select>
            </div>
            <span class="icon is-left">
              <%= icon('fas', 'star') %>
            </span>
          </div>
        </div>
        <div class="ml3 mr1">
          <span> <%= t('apply_filters') %> </span>
        </div>
        <div>
          <span class="tag is-warning ml2"> Basic / Pro </span>
        </div>
        <div>
          <%= icon('fas', 'lock', class: 'ml2 is-size-2') %>
        </div>
      </div>
    <% end %>
    <% if @inscriptions.any? %>
      <% @inscriptions.each do |inscription| %>
        <%= render partial: 'companies/jobs/inscriptions/inscription', locals: { inscription: inscription } %>
      <% end %>
      <% if @job.is_free_price? && @inscriptions_count >= 15 %>
        <%= render partial: 'companies/jobs/inscriptions/blurred_inscriptions', locals: { job: @job } %>
      <% end %>
    <% else %>
      <div class="columns mt5">
        <div class="column has-text-centered">
          <%= image_tag(asset_path('no_data_undraw.svg'), class: 'has-opacity-5', height: 200, width: 200) %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="section">
  <div class="container job-we-match-container">
    <div class="columns">
      <div class="column is-9 is-flex is-align-items-center">
        <div class="mr3">
          <%= icon('fas', 'gem', class: 'is-size-1 has-text-info') %>
        </div>
        <div>
          <p class="title is-4"> We Match </p>
          <p class="subtitle is-5"> Hay <span class="has-text-corporate"> <%= @matching_candidates.count %> candidatos </span> que encajan con esta oferta </p>
        </div>
      </div>
      <div class="column is-3 is-flex is-align-items-center">
        <div class="is-size-6 has-text-right has-text-weight-bold mr2">
          <p> Candidatos añadidos </p>
          <p> vía We Match </p>
        </div>
        <div class="is-size-2 has-text-weight-bold">
          <%= @we_match_inscriptions_count %>
        </div>
      </div>
    </div>
    <% if @job.is_pro_price? %>
      <div class="columns">
        <div class="column"></div>
        <div class="column is-6">
          <%= form_tag([:companies, @job], method: :get, remote: true) do %>
            <div class="field is-grouped">
              <p class="control is-expanded has-icons-left">
                <input
                  type="text" 
                  class="input" 
                  placeholder="<%=t('search_we_match_placeholder')%>" 
                  name="search_users" 
                  value="<%=params[:search_users] ? params[:search_users] : ''%>">
                <span class="icon is-small is-left">
                  <%= icon('fas', 'search') %>
                </span>
              </p>
              <p class="control">
                <%= button_tag(t('search'), type: 'submit', class: "button is-dark", data: { disable_with: "<i class='fas fa-spinner fa-spin'></i>".html_safe }) %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="mt4">
        <% if @job.open? %>
          <% if @matching_candidates.any? %>
            <div id="we-match-results">
              <% @matching_candidates.each do |user| %>
                  <%= render partial: "/jobs/shared/we_match_candidate", locals: { user: user, job: @job, path: companies_job_inscriptions_path(job_id: @job.id, user_id: user.id) } %>
              <% end %>
            </div>
            <div id="we-match-search-results"></div>
          <% else %>
            <div class="has-text-centered mt4 pa5">
              <p class="mb4">
                <%= icon('fas', 'user-ninja', class: 'is-size-2') %>
              </p>
              <p class="is-size-5"> <%= t('we_match_info_text_5') %> </p>
            </div>
          <% end %>
        <% else %>
          <div class="has-text-centered">
            <%= content_tag(:span, 'Job Finalizado. No es posible añadir más candidatos', class: 'is-size-5') %>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= render partial: 'companies/jobs/inscriptions/blurred_we_match_users', locals: { job: @job } %>
    <% end %>
  </div>
</section>

<hr>

<% if @job.is_free_price? %>
  <section class="section">
    <div class="container has-text-centered">
      <span class="button is-static is-large">
        <%= icon('fas', 'calendar-times mr2') %> <%= t('jobs.close') %>
        <span class="tag is-warning ml2"> Pro / Basic </span>  <%= icon('fas', 'lock', class: 'ml2 is-size-2') %>
      </span>
    </div>
  </section>
<% else %>
  <section class="section">
    <div class="container has-text-centered">
      <%= button_tag(type: 'button',
        class: 'button is-danger is-outlined is-large deactivate-job-button',
        'data-target': 'deactivate-job-modal',
        'aria-haspopup': 'true',
        disabled: !@job.open?) do %>
          <%= icon('fas', 'calendar-times mr2') %> <%= t('jobs.close') %> 
      <% end %>
    </div>
  </section>
  <%= render partial: '/jobs/partials/deactivate_job_modal', locals: { job: @job, model: :companies } %>
<% end %>

<div class="notification is-success is-light has-text-centered" id="notifySuccess" style="position: fixed; margin-left: auto; margin-right: auto; left: 25%; right: 25%; z-index: 99999; top: 65px; display: none;">
  <%= t('candidate_updated_notified') %>
</div>

<%= content_for :footer do %>
  <script>

    $(document).ready(function() {     
      $(document).on("click", ".modal-close, .modal-close-footer", function() {
        $('.modal').removeClass('is-active');
      });

      $(document).on("click", ".deactivate-job-button", function() {
        $('.deactivate-job-modal').addClass('is-active');
      });
    });

  </script>
<% end %>
