<section class="section pb0 pt1">
  <div class="container is-wrapper bg-white radius-8">
    <div class="columns">
      <div class="column">    
        <p> <%= t('jobs.reference') %>: #<%= @job.reference %> </p>
        <strong class="f3"> 
          <%= icon('far', 'calendar-alt') %> <%= job_expired(@job) %> 
        </strong> 
        <%= t('remaining_days') %>
      </div>
      <div class="column has-text-right">
        <%= link_to edit_companies_job_path(@job), class: 'button is-link' do %>
          <%= icon('fas', 'edit') %>
        <% end %>
        <%= link_to job_path(@job), class: 'button', target: '_blank' do %>
          <%= icon('fas', 'eye mr1') %> Ver publicación
        <% end %>
      </div>
    </div>
  </div>
  <div class="info-tiles container">
    <div class="tile has-text-centered">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title"> <%= @inscriptions_count %> </p>
          <p class="subtitle"><%= icon('fas', 'check-circle') %> <%= t("inscriptions.inscribeds") %> </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title"><%= @finalists.count %></p>
          <p class="subtitle"> <%= icon('fas', 'heart-broken') %> <%= t("inscriptions.finalists") %> </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title"> <%= @in_process.count %> </p>
          <p class="subtitle"> <%= icon('fas', 'user-clock') %> <%= t("inscriptions.in_process") %> </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title"> <%= @discardeds.count %> </p>
          <p class="subtitle"><%= icon('fas', 'trophy') %> <%= t("inscriptions.discardeds") %> </p>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <%= render partial: "companies/jobs/job_info", locals: { job: @job } %>
  </div>
</section>

<section class="section">
  <div class="container">
    <h3 class="title"> Otros candidatos que pueden interesarte <span class="tag is-info"> ¡Nuevo! </span> </h1>
    <h4 class="subtitle is-6"> Estos candidatos encajan con tus requisitos. Puedes añadirlos y ampliar el número de inscritos para el proceso. </h2>
    <% if @job.open? %>
      <% if @matching_candidates.any? %>
        <% @matching_candidates.each do |user| %>
          <%= render partial: "companies/jobs/candidate", locals: { user: user, job: @job } %>
        <% end %>
      <% else %>
        <div class="has-text-centered mt4">
          <p> Estamos buscando perfiles que puedan encajar con tus requisitos </p>
          <p>
            <img src='<%=asset_path('glasses-loading.gif')%>' width='50'>
          </p>
        </div>
      <% end %>
    <% else %>
      <div class="has-text-centered mt4">
        <p> Job Finalizado </p>
      </div>
    <% end %>  
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
          <h3 class="title"> Candidatos inscritos </h1>
      </div>
      <div class="column mb4 has-text-right"> 
        <% if @inscriptions.any? %>
          <%= link_to companies_job_inscriptions_path(job_id: @job.id, format: "xlsx"), class: 'button is-success' do %>
            <%= icon('fas', 'file-download pr2') %> <%= t('download_candidates_excel') %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= render partial: 'companies/jobs/inscriptions/header' %>
    <% @inscriptions.each do |inscription| %>
      <%= render partial: 'companies/jobs/inscriptions/inscription', locals: { inscription: inscription } %>
    <% end %>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <%= button_tag(type: 'button',
      class: 'button is-danger is-outlined deactivate-job-button',
      'data-target': 'deactivate-job-modal',
      'aria-haspopup': 'true',
      disabled: !@job.open?) do %>
        <%= icon('fas', 'calendar-times mr2') %> <%= t('jobs.close') %> 
    <% end %>
  </div>
</section>

<%= render partial: '/jobs/partials/deactivate_job_modal', locals: { job: @job } %>

<%= content_for :head do %>
  <%= render "seo", 
      title: "Empleo #{ @job.title } en #{ @job.job_author } en #{ @job.location } | WeAreHiring.io", 
      description: "#{ @job.job_author } está buscando a un #{ @job.title } en #{ @job.location }. Solicita este empleo en WeAreHiring.io",
      image: @job.avatar.file.nil? ? asset_path('logo_black.png') : image_url(@job.avatar_url(:thumb), alt: "Empleo de #{@job.title} en #{@job.job_author}") %>
<% end %>

<%= content_for :footer do %>
  <script>

    $(document).on("click", ".modal-close", function() {
      $('.modal').removeClass('is-active');
    });

    $(document).on("click", ".deactivate-job-button", function() {
      $('.deactivate-job-modal').addClass('is-active');
    });

    /* Activating Best In Place */
    $(".best_in_place").best_in_place();
    $('.best_in_place').bind("ajax:success", function () { 
      console.log('success');
      $(this).closest('tr').effect('highlight', {color: '#48c774'}, 700);
    });

  </script>
<% end %>