<section class="section">
  <div class="container radius-8">
    <div class="columns">
      <div class="column">    
        <p> <%= t('jobs.reference') %>: #<%= @job.reference %> </p>
        <strong class="f3"> 
          <%= icon('far', 'calendar-alt') %> <%= job_expired(@job) %> 
        </strong> 
        <%= t('remaining_days') %>
      </div>
      <div class="column has-text-right">
        <%= link_to edit_companies_job_path(@job), class: 'button is-link' do %>
          <%= icon('fas', 'edit mr1') %> <%= t('jobs.edit') %>
        <% end %>
        <%= link_to job_path(@job), class: 'button', target: '_blank' do %>
          <%= icon('fas', 'eye mr1') %> Ver publicación
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="info-tiles">
      <div class="tile has-text-centered mb4">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"> <%= @inscriptions_count %> </p>
            <p class="subtitle"><%= icon('fas', 'check-circle has-text-success') %> <%= t("inscriptions.inscribeds") %> </p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"> <%= @finalists_count %> </p>
            <p class="subtitle"><%= icon('fas', 'trophy has-text-warning') %> <%= t("inscriptions.finalists") %> </p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"> <%= @in_process_count %> </p>
            <p class="subtitle"> <%= icon('fas', 'user-clock has-text-info') %> <%= t("inscriptions.in_process") %> </p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"><%= @discardeds_count %></p>
            <p class="subtitle"> <%= icon('fas', 'heart-broken has-text-danger') %> <%= t("inscriptions.discardeds") %> </p>
          </article>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt4">
    <%= render partial: "jobs/shared/job_info", locals: { job: @job } %>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3 class="title"> Candidatos inscritos: <%= @inscriptions_count %> </h3>
      </div>
      <div class="column mb4 has-text-right"> 
        <% if @inscriptions.any? %>
          <%= link_to companies_job_inscriptions_path(job_id: @job.id, format: "xlsx"), class: 'button' do %>
            <%= icon('fas', 'file-download pr2', class: 'has-excel-color') %> <%= t('download_candidates_excel') %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="mb1">
      <span class="tag"> <%= icon('fas', 'check-circle mr1', class: 'has-text-success') %> <%= @inscriptions_count %> </span>
      <span class="tag"> <%= icon('fas', 'heart-broken mr1', class: 'has-text-danger') %> <%= @discardeds_count %> </span>
      <span class="tag"> <%= icon('fas', 'user-clock mr1', class: 'has-text-info') %> <%= @in_process_count %> </span>
      <span class="tag"> <%= icon('fas', 'trophy mr1', class: 'has-text-warning') %> <%= @finalists_count %> </span>
    </div>
    <div class="table-container mt3">
      <table class="table job-candidates-table is-striped is-fullwidth is-size-7">
        <%= render partial: 'jobs/shared/table_inscriptions_header' %>
        <% if @inscriptions.any? %>
          <tbody>
            <% @inscriptions.each do |inscription| %>
              <%= render partial: 'companies/jobs/inscriptions/inscription', locals: { inscription: inscription } %>
            <% end %>
          </tbody>
          <%= render partial: 'jobs/shared/table_inscriptions_footer' %>
        <% end %>
      </table>
    </div>
    <% if @inscriptions.empty? %>
      <div class="columns mt5">
        <div class="column is-half is-offset-one-quarter">
          <%= image_tag(asset_path('no_data_undraw.svg'), class: 'has-opacity-5') %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<% if @job.is_pro_price? %>
  <section class="section">
    <div class="container">
      <h3 class="title">
        We Match <span class="tag is-info"> ¡Nuevo! </span>
      </h3>
      <p class="subtitle is-6">
        Estos candidatos encajan con la oferta de empleo que has publicado.
        Añádelos a tu proceso de selección y empieza con las entrevistas ¡Ahora!.
      </p>
      <% if @job.open? %>
        <% if @matching_candidates.any? %>
          <p class="mb3 subtitle is-5 has-text-weight-bold">
            <%= icon('fas', 'gem has-text-info') %> ¡Genial! <%= @matching_candidates.count %> candidatos encontrados
          </p>
          <div id="candidates-carousel" class="carousel">
            <% @matching_candidates.each do |user| %>
                <%= render partial: "/jobs/shared/candidate", locals: { user: user, job: @job, path: companies_job_inscriptions_path(job_id: @job.id, user_id: user.id) } %>
            <% end %>
          </div>
        <% else %>
          <div class="has-text-centered mt4 box">
            <p class="mb2">
              <%= icon('fas', 'user-ninja', class: 'is-size-2') %>
            </p>
            <small> Actualmente no hay perfiles abiertos a ser contactados en nuestra base de datos para estos requisitos </small>
          </div>
        <% end %>
      <% else %>
        <div class="has-text-centered mt4">
          <span class="tag is-danger is-light"> <%= icon('fas', 'hourglass-end mr1') %> Job Finalizado. No es posible añadir más candidatos. </span>
        </div>
      <% end %>  
    </div>
  </section>
<% end %>

<section class="section">
  <div class="container has-text-centered">
    <%= button_tag(type: 'button',
      class: 'button is-danger is-outlined deactivate-job-button',
      'data-target': 'deactivate-job-modal',
      'aria-haspopup': 'true',
      disabled: !@job.open?) do %>
        <%= icon('fas', 'calendar-times mr2') %> <%= t('jobs.close') %> 
    <% end %>
  </div>
</section>

<%= render partial: '/jobs/partials/deactivate_job_modal', locals: { job: @job, model: :companies } %>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
  <%= render "seo", 
      title: "Empleo #{ @job.title } en #{ @job.job_author } en #{ @job.location } | WeAreHiring.io", 
      description: "#{ @job.job_author } está buscando a un #{ @job.title } en #{ @job.location }. Solicita este empleo en WeAreHiring.io",
      image: @job.avatar.file.nil? ? image_url(asset_path('wah_red_logo.png')) : image_url(@job.avatar_url(:thumb), alt: "Empleo de #{@job.title} en #{@job.job_author}") %>
<% end %>

<%= content_for :footer do %>
  <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
  <script>

    $(document).ready(function() {     
      $(document).on("click", ".modal-close", function() {
        $('.modal').removeClass('is-active');
      });

      $(document).on("click", ".deactivate-job-button", function() {
        $('.deactivate-job-modal').addClass('is-active');
      });

      /* Activating Best In Place */
      $(".best_in_place").best_in_place();
      $('.best_in_place').bind("ajax:success", function () { 
        var $value = $(this).text();
        if ($value == 'En proceso') {
          $(this).closest('.job-candidates-table .columns').effect('highlight', {color: '#3e8ed0'}, 700);
          $(this).closest('.job-candidates-table .columns').removeClass('inscription-row-discarded');
          $(this).closest('.job-candidates-table .columns').removeClass('inscription-row-finalist');
          $(this).closest('.job-candidates-table .columns').addClass('inscription-row-in_process');
        } else if ($value == 'Finalista') {
          $(this).closest('.job-candidates-table .columns').effect('highlight', {color: '#48c78e'}, 700);
          $(this).closest('.job-candidates-table .columns').removeClass('inscription-row-in_process');
          $(this).closest('.job-candidates-table .columns').removeClass('inscription-row-discarded');
          $(this).closest('.job-candidates-table .columns').addClass('inscription-row-finalist');
        } else if ($value == 'Descartado') {
          $(this).closest('.job-candidates-table .columns').effect('highlight', {color: '#f14668'}, 700);
          $(this).closest('.job-candidates-table .columns').removeClass('inscription-row-finalist');
          $(this).closest('.job-candidates-table .columns').removeClass('inscription-row-in_process');
          $(this).closest('.job-candidates-table .columns').addClass('inscription-row-discarded');
        } else {
          $(this).closest('.job-candidates-table .columns').removeClass('inscription-row-in_process');
          $(this).closest('.job-candidates-table .columns').removeClass('inscription-row-finalist');
          $(this).closest('.job-candidates-table .columns').removeClass('inscription-row-discarded');
        }
      });

      bulmaCarousel.attach('#candidates-carousel', {
        slidesToScroll: 1,
        slidesToShow: 4,
        pagination: false,
        breakpoints: [
          { changePoint: 768, slidesToShow: 1, slidesToScroll: 1 },
          { changePoint: 992, slidesToShow: 3, slidesToScroll: 1 }
        ]
      });
    });

  </script>
<% end %>
