<section class="section">
  <div class="container radius-8">
    <div class="columns">
      <div class="column">    
        <p> <%= t('jobs.reference') %>: #<%= @job.reference %> </p>
        <strong class="f3"> 
          <%= @job.is_pro_price? ? content_tag(:span, @job.job_price.name, class: "tag is-large is-dark") : content_tag(:span, 'Basic', class: "tag is-large") %> 
          <%= icon('far', 'calendar-alt') %> <%= job_expired(@job) %> 
        </strong> 
        <%= t('remaining_days') %>
      </div>
      <div class="column has-text-right">
        <%= link_to edit_companies_job_path(@job), class: 'button is-link' do %>
          <%= icon('fas', 'edit mr1') %> <%= t('jobs.edit') %>
        <% end %>
        <%= link_to job_path(@job), class: 'button', target: '_blank' do %>
          <%= icon('fas', 'eye mr1') %> <%= t('show_job_post') %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container mt4">
    <div class="info-tiles">
      <div class="tile has-text-centered mb4">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"> <%= @job.inscriptions.count %> </p>
            <p class="subtitle"><%= icon('fas', 'check-circle has-text-success') %> <%= t("inscriptions.inscribeds") %> </p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"> <%= @finalists_count %> </p>
            <p class="subtitle"><%= icon('fas', 'trophy has-text-warning') %> <%= t("inscriptions.finalists") %> </p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"> <%= @in_process_count %> </p>
            <p class="subtitle"> <%= icon('fas', 'user-clock has-text-info') %> <%= t("inscriptions.in_process") %> </p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"><%= @discardeds_count %></p>
            <p class="subtitle"> <%= icon('fas', 'heart-broken has-text-danger') %> <%= t("inscriptions.discardeds") %> </p>
          </article>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt4">
    <%= render partial: "jobs/shared/job_info", locals: { job: @job } %>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3 class="title"> <%= t('inscribed_candidates') %>: <%= @inscriptions_count %> </h3>
      </div>
      <div class="column mb4 has-text-right">
        <% if @inscriptions.any? %>
          <%= link_to companies_job_inscriptions_path(job_id: @job.id, format: "xlsx"), class: 'button' do %>
            <%= icon('fas', 'file-download pr2', class: 'has-excel-color') %> <%= t('download_candidates_excel') %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <span class="tag"> <%= icon('fas', 'check-circle mr1', class: 'has-text-success') %> <%= @inscriptions_count %> </span>
        <span class="tag"> <%= icon('fas', 'heart-broken mr1', class: 'has-text-danger') %> <%= @discardeds_count %> </span>
        <span class="tag"> <%= icon('fas', 'user-clock mr1', class: 'has-text-info') %> <%= @in_process_count %> </span>
        <span class="tag"> <%= icon('fas', 'trophy mr1', class: 'has-text-warning') %> <%= @finalists_count %> </span>
      </div>
    </div>
    <% if @inscriptions.any? %>
      <% @inscriptions.each do |inscription| %>
        <%= render partial: 'companies/jobs/inscriptions/inscription', locals: { inscription: inscription } %>
      <% end %>
    <% else %>
      <div class="columns mt5">
        <div class="column has-text-centered">
          <%= image_tag(asset_path('no_data_undraw.svg'), class: 'has-opacity-5', height: 200, width: 200) %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<% if @job.is_pro_price? %>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h3 class="title"> <%= t('added_we_match_candidates') %>: <%= @we_match_inscriptions_count %> </h3>
        </div>
        <div class="column mb4 has-text-right">
          <% if @job.open? %>
            <%= button_tag(type: 'button',
              class: "button is-warning we-match-button has-text-weight-bold #{ 'is-static' if @matching_candidates.empty?}",
              'data-target': 'we-match-modal',
              'aria-haspopup': 'true',
              disabled: @matching_candidates.empty?) do %>
                <%= icon('fas', 'gem', class: 'has-text-info mr1') %> We Match: <%= @matching_candidates.empty? ? '0' : @matching_candidates.count %> <%= t('we_match_info_text_4') %>
            <% end %>
          <% else %>
            <%= button_tag('Job Finalizado. No es posible añadir más candidatos', type: 'button', class: 'button is-static') %>
          <% end %>
        </div>
      </div>
      <% if @we_match_inscriptions.any? %>
          <% @we_match_inscriptions.each do |inscription| %>
            <%= render partial: 'companies/jobs/inscriptions/inscription', locals: { inscription: inscription } %>
          <% end %>
      <% else %>
        <div class="columns mt5">
          <div class="column has-text-centered">
            <%= image_tag(asset_path('no_data_undraw.svg'), class: 'has-opacity-5', height: 200, width: 200) %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
<% end %>

<hr>

<section class="section">
  <div class="container has-text-centered">
    <h3 class="title"> <%= t('finalized_job_question') %> </h3>
    <%= button_tag(type: 'button',
      class: 'button is-danger is-outlined deactivate-job-button',
      'data-target': 'deactivate-job-modal',
      'aria-haspopup': 'true',
      disabled: !@job.open?) do %>
        <%= icon('fas', 'calendar-times mr2') %> <%= t('jobs.close') %> 
    <% end %>
  </div>
</section>

<%= render partial: '/jobs/partials/deactivate_job_modal', locals: { job: @job, model: :companies } %>
<%= render partial: '/jobs/shared/we_match_modal', locals: { job: @job, matching_candidates: @matching_candidates, model: 'companies' } if @job.open? && @matching_candidates.present? %>

<%= content_for :footer do %>
  <script>

    $(document).ready(function() {     
      $(document).on("click", ".modal-close, .modal-close-footer", function() {
        $('.modal').removeClass('is-active');
        location.reload();
      });

      $(document).on("click", ".deactivate-job-button", function() {
        $('.deactivate-job-modal').addClass('is-active');
      });

      $(document).on("click", ".we-match-button", function() {
        $('.we-match-modal').addClass('is-active');
      });
    });

  </script>
<% end %>
