<section class="section pb0">
  <div class="container is-wrapper bg-white radius-8">
    <div class="columns">
      <div class="column">    
        <p> <%= t('jobs.reference') %>: #<%= @job.reference %> </p>
        <strong class="f3"> 
          <%= icon('far', 'calendar-alt') %> <%= job_expired(@job) %> 
        </strong> 
        <%= t('remaining_days') %>
      </div>
      <div class="column has-text-right">
        <%= link_to edit_companies_job_path(@job), class: 'button is-link' do %>
          <%= icon('fas', 'edit mr1') %> <%= t('jobs.edit') %>
        <% end %>
        <%= link_to job_path(@job), class: 'button', target: '_blank' do %>
          <%= icon('fas', 'eye mr1') %> Ver publicación
        <% end %>
      </div>
    </div>
  </div>
  <div class="container pt4">
    <%= render partial: "jobs/shared/job_info", locals: { job: @job } %>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="info-tiles">
      <div class="tile has-text-centered mb4">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"> <%= @inscriptions_count %> </p>
            <p class="subtitle"><%= icon('fas', 'check-circle') %> <%= t("inscriptions.inscribeds") %> </p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"><%= @discardeds_count %></p>
            <p class="subtitle"> <%= icon('fas', 'heart-broken') %> <%= t("inscriptions.discardeds") %> </p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"> <%= @in_process_count %> </p>
            <p class="subtitle"> <%= icon('fas', 'user-clock') %> <%= t("inscriptions.in_process") %> </p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"> <%= @finalists_count %> </p>
            <p class="subtitle"><%= icon('fas', 'trophy') %> <%= t("inscriptions.finalists") %> </p>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <span class="tag is-success is-light mb2">
      Activo <%= icon('fas', 'clock mr1 ml1') %> <%= job_expired(@job) %> días
    </span>
    <h3 class="title">
      We Match <span class="tag is-info"> ¡Nuevo! </span>
    </h3>
    <p class="subtitle is-6">
      Estos candidatos encajan con la oferta de empleo que has publicado.
      Añádelos a tu proceso de selección y empieza con las entrevistas ¡Ahora!.
    </p>
    <% if @matching_candidates.any? %>
      <p class="mb3 subtitle is-5 has-text-weight-bold">
        <%= icon('fas', 'gem has-text-info') %> ¡Genial! <%= @matching_candidates.count %> candidatos encontrados
      </p>
    <% end %>
    <% if @job.open? %>
      <% if @matching_candidates.any? %>
        <div id="candidates-carousel" class="carousel">
          <% @matching_candidates.each do |user| %>
              <%= render partial: "/jobs/shared/candidate", locals: { user: user, job: @job, path: companies_job_inscriptions_path(job_id: @job.id, user_id: user.id) } %>
          <% end %>
        </div>
      <% else %>
        <div class="has-text-centered mt4">
          <p> Nuestro sistema de matching está buscando perfiles que encajen con tus requisitos y puedas añadirlos al proceso. </p>
          <p>
            <img src='<%=asset_path('glasses-loading.gif')%>' width='50'>
          </p>
        </div>
      <% end %>
    <% else %>
      <div class="has-text-centered mt4">
        <p> Job Finalizado </p>
      </div>
    <% end %>  
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3 class="title"> Candidatos inscritos <%= icon('fas', 'check-circle has-text-success') %> </h1>
      </div>
      <div class="column mb4 has-text-right"> 
        <% if @inscriptions.any? %>
          <%= link_to companies_job_inscriptions_path(job_id: @job.id, format: "xlsx"), class: 'button' do %>
            <%= icon('fas', 'file-download pr2') %> <%= t('download_candidates_excel') %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="table-container">
      <table class="table job-candidates-table is-bordered is-striped is-fullwidth is-size-7">
        <%= render partial: 'jobs/shared/table_inscriptions_header' %>
        <% if @inscriptions.any? %>
          <tbody>
            <% @inscriptions.each do |inscription| %>
              <%= render partial: 'companies/jobs/inscriptions/inscription', locals: { inscription: inscription } %>
            <% end %>
          </tbody>
          <%= render partial: 'jobs/shared/table_inscriptions_footer' %>
        <% end %>
      </table>
    </div>
    <% if @inscriptions.empty? %>
      <div class="columns mt5">
        <div class="column is-half is-offset-one-quarter">
          <%= image_tag(asset_path('no_data_undraw.svg'), class: 'has-opacity-5') %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <%= button_tag(type: 'button',
      class: 'button is-danger is-outlined deactivate-job-button',
      'data-target': 'deactivate-job-modal',
      'aria-haspopup': 'true',
      disabled: !@job.open?) do %>
        <%= icon('fas', 'calendar-times mr2') %> <%= t('jobs.close') %> 
    <% end %>
  </div>
</section>

<%= render partial: '/jobs/partials/deactivate_job_modal', locals: { job: @job, model: :companies } %>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
  <%= render "seo", 
      title: "Empleo #{ @job.title } en #{ @job.job_author } en #{ @job.location } | WeAreHiring.io", 
      description: "#{ @job.job_author } está buscando a un #{ @job.title } en #{ @job.location }. Solicita este empleo en WeAreHiring.io",
      image: @job.avatar.file.nil? ? asset_path('logo_black.png') : image_url(@job.avatar_url(:thumb), alt: "Empleo de #{@job.title} en #{@job.job_author}") %>
<% end %>

<%= content_for :footer do %>
  <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
  <script>

    $(document).ready(function() {     
      $(document).on("click", ".modal-close", function() {
        $('.modal').removeClass('is-active');
      });

      $(document).on("click", ".deactivate-job-button", function() {
        $('.deactivate-job-modal').addClass('is-active');
      });

      /* Activating Best In Place */
      $(".best_in_place").best_in_place();
      $('.best_in_place').bind("ajax:success", function () { 
        var $value = $(this).text();
        if ($value == 'En proceso') {
          $(this).closest('.job-candidates-table tr').effect('highlight', {color: '#3e8ed0'}, 700);
          $(this).closest('.job-candidates-table tr').removeClass('inscription-row-discarded');
          $(this).closest('.job-candidates-table tr').removeClass('inscription-row-finalist');
          $(this).closest('.job-candidates-table tr').addClass('inscription-row-in_process');
        } else if ($value == 'Finalista') {
          $(this).closest('.job-candidates-table tr').effect('highlight', {color: '#48c78e'}, 700);
          $(this).closest('.job-candidates-table tr').removeClass('inscription-row-in_process');
          $(this).closest('.job-candidates-table tr').removeClass('inscription-row-discarded');
          $(this).closest('.job-candidates-table tr').addClass('inscription-row-finalist');
        } else if ($value == 'Descartado') {
          $(this).closest('.job-candidates-table tr').effect('highlight', {color: '#f14668'}, 700);
          $(this).closest('.job-candidates-table tr').removeClass('inscription-row-finalist');
          $(this).closest('.job-candidates-table tr').removeClass('inscription-row-in_process');
          $(this).closest('.job-candidates-table tr').addClass('inscription-row-discarded');
        } else {
          $(this).closest('.job-candidates-table tr').removeClass('inscription-row-in_process');
          $(this).closest('.job-candidates-table tr').removeClass('inscription-row-finalist');
          $(this).closest('.job-candidates-table tr').removeClass('inscription-row-discarded');
        }
      });

      bulmaCarousel.attach('#candidates-carousel', {
        slidesToScroll: 1,
        slidesToShow: 4,
        pagination: false,
        breakpoints: [
          { changePoint: 768, slidesToShow: 1, slidesToScroll: 1 },
          { changePoint: 992, slidesToShow: 3, slidesToScroll: 1 }
        ]
      });
    });

  </script>
<% end %>
