<div class="card mb3">
  <div class="card-image">
    <figure class="image crop">
      <% if !post.image.file.nil? %>
        <%= image_tag(post.image_url, alt: post.title) %>
      <% else %>
        <%= icon('far', 'image', style: 'font-size: 50px') %>
      <% end %>    
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">
          <%= post.title %>
        </p>
      </div>
    </div>
    <div class="content">
      <small> <%= time_ago_in_words(post.created_at) %> </small>
      <p> <%= post.description.truncate(150).html_safe %> </p>
    </div>
    <div class="comment-count">
      <span class="tag is-rounded"> <%= post.comments.count %> Comentarios </span>
    </div>
    <div class="has-text-right"> 
      <%= link_to 'Ir al Post', blog_post_path(post), class: "button primary" %>
    </div>
  </div>
</div>
