
<section class="section">
	<div class="container">
		<div class="columns is-centered is-variable is-8">
      <div class="column is-7 is-hidden-mobile">
        <%= image_tag(asset_path('undraw_winners_ao2o.svg'), alt: "Encuentra todo el Empleo Digital en We Are Hiring") %>
      </div>
			<div class="column is-4">
				<h2 class="title is-3"> <%= t('candidate_signup') %> </h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <%= f.hidden_field :user_type_id, value: UserType.where(internal_name: 'candidate').first.id %>
          <%= f.hidden_field :accepted_terms, value: true %>
          <div class="field mb5">
            <%= f.label :name, class: 'has-text-weight-bold' %>
            <div class="control has-icons-left">
              <%= f.input :name, 
                  required: true, 
                  wrapper: false,
                  autofocus: true, 
                  label: false,
                  input_html: { class: "input" },
                  placeholder: "John Smith" %>
              <span class="icon is-small is-left">
                <%= icon('fas', 'user') %>
              </span>
            </div>
          </div>
          <div class="field mb2">
            <%= f.label :email, class: 'has-text-weight-bold' %>
            <div class="control has-icons-left">
              <%= f.input :email,
                  required: true,
                  wrapper: false,
                  label: false,
                  input_html: { class:"input" },
                  placeholder: "johnsmith@correo.com" %>
              <span class="icon is-small is-left">
                <%= icon('fas', 'envelope') %>
              </span>
            </div>
          </div>
          <div class="field mb2">
            <%= f.label :password, class: 'has-text-weight-bold' %>
            <div class="control has-icons-left">
              <%= f.input :password,
                  required: true,
                  wrapper: false,
                  label: false,
                  input_html: { class: "input" },
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
              <span class="icon is-small is-left">
                <%= icon('fas', 'key') %>
              </span>
            </div>
          </div>
          <div class="field">
            <%= f.label :password_confirmation, class: 'has-text-weight-bold' %>
            <div class="control has-icons-left">
              <%= f.input :password_confirmation,
                  required: true,
                  wrapper: false,
                  label: false,                  
                  input_html: { class: "input" } %>
              <span class="icon is-small is-left">
                <%= icon('fas', 'key') %>
              </span>
            </div>
          </div>
          <div class="mb2">
            <small class="accept-terms-text pl2">
              Al inscribirme, estoy de acuerdo con la
              <%= link_to 'política de privacidad', privacy_policy_path, target: '_blank' %>, 
              <%= link_to 'aviso legal', legal_terms_path, target: '_blank' %> y 
              <%= link_to 'política de cookies', cookies_policy_path, target: '_blank' %>
              de Wearehiring
            </small>
          </div>
          <div class="field mt3">
            <div class="control is-grouped">
              <%= f.button :submit,
                  t('create_account'),
                  class:"button primary" %>
              <%= link_to "¿Ya estás registrado?", 
                  new_user_session_path(:candidate => "true"), 
                  class: "button with-border" %>
            </div>
          </div>
        <% end %>
        <hr>
        O accede con Linkedin
        <div class="mt2">
          <%= link_to user_linkedin_omniauth_authorize_path, class: "button linkedin" do %>
            <%= icon('fab', 'linkedin mr2') %> <%= t('create_account') %>
          <% end %>
        </div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column has-text-centered">
				<h2 class="title"> Colaboramos con </h2>
			</div>
		</div>
		<%= render 'partners' %>
	</div>
</section>

<%= content_for :head do %>
	<%= render "seo", 
			title: t('seo.candidate_signup'), 
			description: t('seo.candidate_signup_description'),
			image: asset_path('logo_black.png') %>
<% end %>