<%= simple_form_for(current_user, method: :patch, url: candidates_user_profile_path(current_user), html: { multipart: true }) do |f| %>
<section class="section">
  <div class="container">
    <div class="columns is-vcentered mb3">
      <div class="column has-text-left">
        <h2 class="title is-4"> <%= t('edit_profile') %> </h2>
      </div>
      <div class="column has-text-right">
        <%= link_to candidates_user_profile_path(current_user), class: 'button' do %>
          <%= icon('fas', 'eye', class: 'mr2') %> <%= t('view_profile') %>
        <% end %>
      </div>
    </div>
    <div class="box">
      <div class="columns pa3">
        <div class="column is-2">
          <div class="rounded-image m-auto size-120">
            <% if current_user.picture_url.file.nil? %>
              <%= image_tag(asset_path('user_male_avatar.svg')) %>
            <% else %>
              <%= image_tag(current_user.picture_url_url(:thumb), alt: "Imagen perfil usuario | Wearehiring.io") %>
            <% end %>
          </div>
          <div class="file justify-center is-small mt4">
            <label class="file-label">
              <%= f.input :picture_url, as: :file, input_html: { class: "file-input load-image" }, label: false, wrapper: false %>
              <span class="file-cta">
                <span class="file-icon"> <%= icon('fas', 'upload') %> </span>
                <span class="file-label"> Edit image... </span>
              </span>
            </label>
          </div>
          <div class="has-text-centered mt2">
            <p class="is-size-7"> Recommended size 200x200 </p>
          </div>
          <output id="list"></output>
        </div>
        <div class="column is-4 with-right-border is-flex is-flex-direction-column is-justify-content-space-between">
          <div class="field">
            <%= f.label :name, class: 'has-text-weight-bold' %>
            <%= content_tag(:span, nil, class: 'dot-notification') if current_user.name.blank? %>
            <div class="control mt2">
              <%= f.input :name, 
                input_html: { class: "input" }, 
                placeholder: "Carlos", 
                label: false, 
                wrapper: false %>
            </div>
          </div>
          <div class="field mt4">
            <%= f.label :current_position, class: 'label has-text-weight-bold' do %>
              <%= t('users.current_position_or_wanted') %>
              <%= content_tag(:span, nil, class: 'dot-notification') if current_user.current_position.blank? %>
            <% end %>
            <div class="control">
              <%= f.input :current_position, 
                label: false,
                input_html: { class: "input" }, 
                wrapper: false, 
                placeholder: "Marketing digital" %>
            </div>
          </div>
          <div class="field mt4">
            <%= f.label :phone, class: 'label has-text-weight-bold' do %>
              <%= t('users.phone') %>
              <%= content_tag(:span, nil, class: 'dot-notification') if current_user.phone.blank? %>
            <% end %>
            <% if current_user.phone.blank? %>
              <span class="f6 primary-color"> Add your <strong class="primary-color"> phone number </strong> and raise your chances to be contacted </span>
            <% end %>
            <div class="control has-icons-left">
              <%= f.input :phone, 
                label: false,
                hint: "Only companies where you apply will see your phone number.", 
                input_html: { class: "input" }, 
                wrapper: false, 
                placeholder: "+34 666555444" %>
              <span class="icon is-small is-left">
                <%= icon('fas', 'phone') %>
              </span>
            </div>
          </div>
          <div class="field mt4">
            <label class="label has-text-weight-bold"> <%= t('email') %> </label>
            <div class="control has-icons-left">
              <p class="input" disabled> <%= current_user.email %> </p>
              <span class="icon is-small is-left">
                <%= icon('fas', 'phone') %>
              </span>
            </div>
          </div>
          <div class="field mt4">
            <%= f.label :profile_url, class: 'label has-text-weight-bold' do %>
              <%= t('users.profile_url') %>
              <%= content_tag(:span, nil, class: 'dot-notification') if current_user.profile_url.blank? %>
            <% end %>
            <div class="control has-icons-left">
              <%= f.input :profile_url, 
                label: false,
                input_html: { class: "input" }, 
                wrapper: false, 
                placeholder: "https://www.linkedin.com/in/your-profile-url/" %>
              <span class="icon is-small is-left">
                <%= icon('fab', 'linkedin') %>
              </span>
            </div>
          </div>
        </div>
        <div class="column is-6 pl4">
          <div class="field">
            <%= f.label :location, class: 'label has-text-weight-bold' do %>
              Lugar de residencia habitual
              <%= content_tag(:span, nil, class: 'dot-notification') if current_user.location.blank? %>
            <% end %>
            <div class="control has-icons-left">
              <%= f.input :location, 
                input_html: { class: "input" }, 
                placeholder: 'Barcelona', 
                label: false, 
                hint: 'Examples: "London", "Barcelona", "California", "Remote"',
                wrapper: false %>
              <span class="icon is-small is-left">
                <%= icon('fas', 'map-marker-alt') %>
              </span>
            </div>
          </div>
          <div class="field mt4">
            <%= f.label :experience, class: 'label has-text-weight-bold' do %>
              Years of experience      
              <%= content_tag(:span, nil, class: 'dot-notification') if current_user.experience.blank? %>
            <% end %>
            <div class="select is-rounded">
              <%= f.select :experience, 
                options_for_select([ "0-2 years", "2-6 years", "6-10 years", "+10 years" ], current_user.experience),
                {include_blank: 'Seleccionar' } %>
            </div>
          </div>
          <div class="field mt4">
            <strong> <%= t('users.salary_expectation') %> </strong>  
            <%= content_tag(:span, nil, class: 'dot-notification') if current_user.salary_from.blank? && current_user.salary_to.blank?  %>
          </div>
          <div class="columns">
            <div class="column is-one-quarter-desktop">
              <div class="field">
                <div class="control has-icons-left">
                  <%= f.input :salary_from, 
                    input_html: { class: "input" }, 
                    placeholder: '23000', 
                    label: false, 
                    hint: t('forms.from'),
                    wrapper: false %>
                  <span class="icon is-small is-left">
                    <%= icon('fas', 'euro-sign') %>
                  </span>
                </div>
              </div>
            </div>
            <div class="column is-one-quarter-desktop">
              <div class="field">
                <div class="control has-icons-left">
                  <%= f.input :salary_to, 
                    input_html: { class: "input" }, 
                    placeholder: '40000', 
                    label: false, 
                    hint: t('forms.to'),
                    wrapper: false %>
                  <span class="icon is-small is-left">
                    <%= icon('fas', 'euro-sign') %>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="field">
              <%= f.label :skills_ids, class: 'label has-text-weight-bold' do %>
                <%= t('skills.candidate_title') %>
                <%= content_tag(:span, nil, class: 'dot-notification') if current_user.skills.empty? %>
              <% end %>
              <div class="control">
                <small> <%= t('skills.job_subtitle') %> </small>
                <%= f.collection_select :skill_ids, Skill.all, :id, :name, {}, { multiple: "multiple", class: "skills-select-2", style: "width: 100%", id: "candidate_skills" } %>  
              </div>
            </div>
          </div>
        </div> 
      </div>
      <div class="columns">
        <div class="column has-text-right">
          <%= f.button :submit, t('save'), class:"button is-success" %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section pt2">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <div class="box">
          <p class="is-size-5 has-text-weight-bold"> Portfolio </p>
          <div class="field">
            <%= f.label :github, class: 'has-text-weight-bold' %>
            <div class="control has-icons-left mt2">
              <%= f.input :github, 
                input_html: { class: "input" }, 
                placeholder: "github/yourprofile", 
                label: false, 
                wrapper: false %>
              <span class="icon is-small is-left">
                <%= icon('fab', 'github') %>
              </span>
            </div>
          </div>

          <div class="field">
            <%= f.label :pinterest, class: 'has-text-weight-bold' %>
            <div class="control has-icons-left mt2">
              <%= f.input :pinterest, 
                input_html: { class: "input" }, 
                placeholder: "pinterest/yourprofile", 
                label: false, 
                wrapper: false %>
              <span class="icon is-small is-left">
                <%= icon('fab', 'pinterest') %>
              </span>           
            </div>
          </div>

          <div class="field">
            <%= f.label :behance, class: 'has-text-weight-bold' %>
            <div class="control has-icons-left mt2">
              <%= f.input :behance, 
                input_html: { class: "input" }, 
                placeholder: "behance/yourprofile", 
                label: false, 
                wrapper: false %>
              <span class="icon is-small is-left">
                <%= icon('fab', 'behance-square') %>
              </span>        
            </div>
          </div>

          <div class="field">
            <%= f.label :personal_website, class: 'has-text-weight-bold' %>
            <div class="control has-icons-left mt2">
              <%= f.input :personal_website, 
                input_html: { class: "input" }, 
                placeholder: "https://yourwebsite.com", 
                label: false, 
                wrapper: false %>
              <span class="icon is-small is-left">
                <%= icon('far', 'window-restore') %>
              </span>        
            </div>
          </div>
          <div class="columns mt3">
            <div class="column has-text-right">
              <%= f.button :submit, t('save'), class:"button is-success" %>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="box">
          <p class="is-size-5 has-text-weight-bold"> About </p>
          <div class="field">
            <%= f.label t('about_me'), class: 'has-text-weight-bold', for: 'user_description' %>
            <div class="control">
              <%= f.input :description, 
                input_html: { class: "input textarea mt2" }, 
                placeholder: "Háblanos un poco sobre ti", 
                label: false, 
                wrapper: false %>
            </div>
          </div>
          <div class="columns mt3">
            <div class="column has-text-right">
              <%= f.button :submit, t('save'), class:"button is-success" %>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="box">
          <p class="is-size-5 has-text-weight-bold">
            <% if current_user.visible? %>
              <%= icon('fas', 'rocket', class: 'mr2') %> We Match <span class="tag is-success is-light"> <%= t('we_match.active') %> </span>
            <% else %>
              <%= icon('fas', 'rocket', class: 'mr2') %> We Match <span class="tag is-danger is-light"> <%= t('we_match.inactive') %> </span>
            <% end %>
          </p>
          <article class="message is-success mb3 mt3">
            <div class="message-body">
              <div>
                <strong> <%= t('we_match.info_text_1') %> </strong> <%= t('we_match.info_text_2').downcase %>
                <p class="mt2"> <%= t('we_match.info_text_3') %> <%= icon('far','smile-wink') %> </p>
                <p class="mt2"><strong> <%= t('we_match.info_text_4') %> </strong> </p>
                <p class="mt2"> <%= t('we_match.info_text_5') %> </p>
              </div>
            </div>
          </article>
          <hr>
          <div>
            <%= f.check_box :visible, { class: "switch" }, false, true %>
            <%= f.label :visible do %>
              <strong> <%= t('we_match.deactivate') %> </strong>
            <% end %>
          </div>
          <small class="mt2"> <%= t('we_match.deactivate_info_message') %> </small>
          <div class="columns mt3">
            <div class="column has-text-right">
              <%= f.button :submit, t('save'), class:"button is-success" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>

<%= content_for :head do %>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<% end %>

<%= content_for :footer do %>
  <%= javascript_include_tag "helpers/image_loader.js" %>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

  <script>  
    $(document).ready(function() {
      $('#candidate_skills').select2({
        maximumSelectionLength: 4
      });
    });
  </script>
<% end %>