<%= simple_form_for(@user, method: :patch, url: candidates_user_profile_path(@user), html: { multipart: true }) do |f| %>
<div class="columns candidate-user-form">
  <div class="column is-4 has-text-centered">
    <h1 class="title is-5"> <%= t('my_profile') %> </h1>
    <% if current_user.picture_url.file.nil? %>
      <%= icon('far', 'user-circle', style: 'font-size: 100px') %>
    <% else %>
      <div class="rounded-image m-auto size-120">
        <%= image_tag(current_user.picture_url, alt: "Imagen perfil usuario | Wearehiring.io") %>
      </div>
    <% end %>
    <p class="title f4 mt4"> 
      <%= current_user.name %> 
    </p>
    <p> 
      <%= current_user.current_position %> 
    </p>
    <p> 
      <%= icon('far', 'paper-plane') %>
      <%= mail_to current_user.email %> 
    </p>
    <p class="mt4">
      <%= icon('fab', 'get-pocket') %>
      <%= link_to "#{current_user.inscriptions.count} Jobs aplicados", candidates_inscriptions_path(current_user.id), target: "_blank" %>
    </p>
    <div class="file justify-center is-normal mt4">
      <label class="file-label">
        <%= f.input :picture_url, as: :file, required: false, input_html: { class: "file-input load-image" }, label: false, wrapper: false %>
        <span class="file-cta">
          <span class="file-icon"> <%= icon('fas', 'upload') %> </span>
          <span class="file-label"> Cambiar imagen... </span>
        </span>
      </label>
    </div>
    <small> Tamaño mínimo recomendado 200x200 </small>
    <output id="list"></output>
  </div>
  <div class="column is-8">
    <article class="message animate__animated animate__pulse mb3 mt3">
      <div class="message-body">
        <div class="columns">
          <div class="column">
            <h2 class="title is-4"> We Match <span class="tag is-info is-light is-size-6"> ¡Nuevo! </span> </h2>
          </div>
          <div class="column has-text-right">
            <% if current_user.visible? %>
              <div class="button is-rounded is-success is-light is-medium">  
                <%= icon('fas', 'check mr2') %> Activado 
              </div>
            <% else %>
              <%= button_tag(type: 'button',
                class: "button is-rounded is-medium primary shadow",
                id: "showWeMatchModal",
                'data-target': 'deactivate-job-modal',
                'aria-haspopup': 'true') do %>
                  Activar
              <% end %>
            <% end %>
          </div>
        </div>
        <% sentence = current_user.visible? ? '¡Enhorabuena! Has activado We Match y a partir de ahora' : 'Activa We Match y' %>
        <%= sentence %> aparecerás como <strong> Candidato Recomendado </strong> cuando las empresas busquen 
        perfiles como el tuyo. 
        <p><strong> ¡No busques trabajo, haz que el trabajo venga a ti! </strong></p>
      </div>
    </article>
    <h2 class="title is-4 mt4"> <%= t('important_info_for_the_recruiter') %> </h2>
    <div class="columns">
      <div class="column">
        <div class="field">
          <%= f.label :name, class: 'has-text-weight-bold' %>
          <div class="control mt2">
            <%= f.input :name, 
              input_html: { class: "input" }, 
              placeholder: "Carlos", 
              label: false, 
              wrapper: false %>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <%= f.label :last_name, class: 'has-text-weight-bold' %>
          <div class="control mt2">
            <%= f.input :last_name, 
              input_html: { class: "input" }, 
              placeholder: "Hernández", 
              label: false, 
              wrapper: false %>
          </div>
        </div>
      </div>
    </div>
    <div class='has-text-weight-bold mb2'>
      <%= t('users.phone') %>
      <%= content_tag(:span, nil, class: 'dot-notification') if current_user.phone.blank? %>
    </div>
    <% if current_user.phone.blank? %>
      <span class="f6 primary-color"> Añade tu <strong class="primary-color"> teléfono </strong> y aumenta las posibilidades de ser contactado </span>
    <% end %>
    <div class="field">
      <div class="control has-icons-left">
        <%= f.input :phone, 
          label: false,
          hint: "Solo las empresas donde apliques verán tu teléfono", 
          input_html: { class: "input" }, 
          wrapper: false, 
          placeholder: "+34 666555444" %>
        <span class="icon is-small is-left">
          <%= icon('fas', 'phone') %>
        </span>
      </div>
    </div>
    <div class='has-text-weight-bold mb2'>
      <%= t('users.profile_url') %>
      <%= content_tag(:span, nil, class: 'dot-notification') if current_user.profile_url.blank? %>
    </div>
    <div class="field">
      <div class="control has-icons-left">
        <%= f.input :profile_url, 
          label: false,
          input_html: { class: "input" }, 
          wrapper: false, 
          placeholder: "https://www.linkedin.com/in/your-profile-url/" %>
        <span class="icon is-small is-left">
          <%= icon('fab', 'linkedin') %>
        </span>
      </div>
    </div>
    <div class='has-text-weight-bold mb2'>
      <%= t('users.current_position') %>
      <%= content_tag(:span, nil, class: 'dot-notification') if current_user.current_position.blank? %>
    </div>
    <div class="field">
      <div class="control">
        <%= f.input :current_position, 
          label: false,
          input_html: { class: "input" }, 
          wrapper: false, 
          placeholder: "Marketing digital" %>
      </div>
    </div>
    <div class="field mt3">
      <%= f.label t('skills.candidate_title'), class: 'has-text-weight-bold' %>
      <div class="control">
        <small> <%= t('skills.job_subtitle') %> </small>
        <%= f.collection_select :skill_ids, Skill.all, :id, :name, {}, { multiple: "multiple", class: "skills-select-2", style: "width: 100%", required: true, id: "candidate_skills" } %>  
      </div>
    </div>
    <div class="field">
      <%= f.label 'Lugar de residencia habitual', class: 'label has-text-weight-bold', for: 'user_location' %>
      <div class="control has-icons-left">
        <%= f.input :location, 
          input_html: { class: "input" }, 
          placeholder: 'Barcelona', 
          label: false, 
          hint: 'Ejemplos: "Barcelona", "Madrid", "Málaga", "Remoto", "Cualquiera"',
          wrapper: false %>
        <span class="icon is-small is-left">
          <%= icon('fas', 'map-marker-alt') %>
        </span>
      </div>
    </div>
    <div class="field">
      <%= f.label 'Años de experiencia', class: 'label has-text-weight-bold', for: 'user_experience' %>
      <div class="select is-rounded">
        <%= f.select :experience, 
          options_for_select([ "0-2 años", "2-6 años", "6-10 años", "+10 años" ], current_user.experience),
          {include_blank: 'Seleccionar' } %>
      </div>
    </div>
    <div class="field">
      <strong> <%= t('users.salary_expectation') %> </strong>  
    </div>
    <div class="columns">
      <div class="column is-one-quarter-desktop">
        <div class="field">
          <div class="control has-icons-left">
            <%= f.input :salary_from, 
              input_html: { class: "input" }, 
              placeholder: '23000', 
              label: false, 
              hint: t('forms.from'),
              wrapper: false %>
            <span class="icon is-small is-left">
              <%= icon('fas', 'euro-sign') %>
            </span>
          </div>
        </div>
      </div>
      <div class="column is-one-quarter-desktop">
        <div class="field">
          <div class="control has-icons-left">
            <%= f.input :salary_to, 
              input_html: { class: "input" }, 
              placeholder: '40000', 
              label: false, 
              hint: t('forms.to'),
              wrapper: false %>
            <span class="icon is-small is-left">
              <%= icon('fas', 'euro-sign') %>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="has-text-right">
      <%= f.button :submit, t('save'), class:"button is-info " %>
    </div>

    <h2 class="title is-4 mt4"> <%= t('complementary_info') %> </h2>

    <div class="field">
      <%= f.label t('about_me'), class: 'has-text-weight-bold', for: 'user_description' %>
      <div class="control">
        <%= f.input :description, 
          input_html: { class: "input textarea mt2" }, 
          placeholder: "Háblanos un poco sobre ti", 
          label: false, 
          wrapper: false %>
      </div>
    </div>

    <div class="field">
      <%= f.label :github, class: 'has-text-weight-bold' %>
      <div class="control has-icons-left mt2">
        <%= f.input :github, 
          input_html: { class: "input" }, 
          placeholder: "github/yourprofile", 
          label: false, 
          wrapper: false %>
        <span class="icon is-small is-left">
          <%= icon('fab', 'github') %>
        </span>
      </div>
    </div>

    <div class="field">
      <%= f.label :pinterest, class: 'has-text-weight-bold' %>
      <div class="control has-icons-left mt2">
        <%= f.input :pinterest, 
          input_html: { class: "input" }, 
          placeholder: "pinterest/yourprofile", 
          label: false, 
          wrapper: false %>
        <span class="icon is-small is-left">
          <%= icon('fab', 'pinterest') %>
        </span>           
      </div>
    </div>

    <div class="field">
      <%= f.label :behance, class: 'has-text-weight-bold' %>
      <div class="control has-icons-left mt2">
        <%= f.input :behance, 
          input_html: { class: "input" }, 
          placeholder: "behance/yourprofile", 
          label: false, 
          wrapper: false %>
        <span class="icon is-small is-left">
          <%= icon('fab', 'behance-square') %>
        </span>        
      </div>
    </div>

    <div class="field">
      <%= f.label :personal_website, class: 'has-text-weight-bold' %>
      <div class="control has-icons-left mt2">
        <%= f.input :personal_website, 
          input_html: { class: "input" }, 
          placeholder: "https://yourwebsite.com", 
          label: false, 
          wrapper: false %>
        <span class="icon is-small is-left">
          <%= icon('far', 'window-restore') %>
        </span>        
      </div>
    </div>

    <% if current_user.visible? %>
      <div class="field mt4">
        <%= f.check_box :visible, checked: f.object.visible, class: "switch" %>
        <%= f.label :visible do %>
          Desactivar We Match y dejar de ser visible como candidato recomendado para las empresas que estén buscando perfiles con tus mismas habilidades
        <% end %>
      </div>
    <% end %>

    <%= f.button :submit, t('save'), class:"button is-info is-pulled-right mt3" %>
  </div>
</div>
<% end %>
<%= render partial: 'candidates/partials/activate_we_match_modal' %>

<%= content_for :head do %>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<% end %>

<%= content_for :footer do %>
  <%= javascript_include_tag "helpers/image_loader.js" %>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

  <script>  
    $(document).ready(function() {

      $('#candidate_skills, #user_skill_ids').select2({
        maximumSelectionLength: 10
      });

      $("#showWeMatchModal").click(function() {
        $(".modal").addClass("is-active");
      });

      $(document).on("click", ".modal-close", function() {
        $('.modal').removeClass('is-active');
      });

      $(document).on('click', '#btnActivation', function() {
        if (!$('#btnActivation').hasClass('btn--activated') && $("#user_skill_ids").val()) {
          $('#btnActivation').removeClass('btn--activate');
          $('#btnActivation').addClass('btn--waiting');
        }
      });
    });

  </script>
<% end %>