<section class="section main-section">

  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">

      <h2 class="title is-2"> <%= current_user.is_company? ? t('edit_password') : t('profile') %> </h2>
      <div class="columns">
        <% if current_user.is_candidate? %>
        <div class="column is-4">
          <img src="<%= current_user.picture_url %>" width="150" height="150" alt="Imagen usuario del perfil de Linkedin | Wearehiring.io">
        </div>
        <% end %>
        <div class="column is-8">
          <div class='has-text-weight-bold'><%= t('your_email') %></div>
          <div> <%= current_user.email %> </div>
          <div class='has-text-weight-bold'><%= t('your_name') %></div>
          <div> <%= current_user.name %> </div>
        </div>
      </div>
        
      <% if current_user.is_candidate? %>
        Logged with <%= icon('fab', 'linkedin') %>
      <% else %>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

            <div class="field">
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>
            </div>

            <div class="field">
              <div class="control">
              <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
              </div>
            </div>

            <div class="field">
              <div class="control">
              <%= f.input :password_confirmation, required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
              </div>
            </div>

            <%= f.button :submit, "Update", class:"button primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
