<div class="section main-section">
  <div class="container">
  <div class="columns is-centered">

    <div class="column is-4">

    <h2 class="title is-2"> <%= t('sign_up_as_company') %> </h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <%= f.hidden_field :user_type_id, value: UserType.where(internal_name: 'company').first.id %>

    <div class="field mb5">
      <div class="control">
        <%= f.input :name, required: true, autofocus: true, input_html: { class:"input" }, wrapper: false, label_html: { class: "label" }, label: t('forms.company_name') %>
      </div>
    </div>

    <div class="field mb2">
      <div class="control">
        <%= f.input :email, required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" }, label: t('forms.email') %>
      </div>
    </div>

    <div class="field mb2">
      <div class="control">
        <%= f.input :password, required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" }, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: t('forms.password')  %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= f.input :password_confirmation, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, label: t('forms.password_confirmation')  %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= f.button :submit, t('create_account'), class:"button primary is-medium mt3" %>
      </div>
    </div>

    <% end %>
      <br />
      <hr>
      <%= render "devise/shared/links" %>
    </div>
    </div>
  </div>
</div>
