<div class="columns">
  <div class="column">
    <h1 class="title"> <%= job.title %> </h1>
    <h2 class="subtitle"> <%= job.job_author %> en <%= job.remote_ok? ? "Remoto" : job.location %> </h2>
  </div>
</div>

<div class="columns pr4 wrapper-content">
  <div class="column is-2 is-vertical-center justify-center">
    <% if job.avatar.file.nil? %>
      <%= icon('far', 'image', style: 'font-size: 50px') %>
    <% else %>
      <div class="rounded-image size-150">
        <%= image_tag(job.avatar_url(:thumb), alt: "Empleo de #{job.title} en #{job.job_author}") %>
      </div>
    <% end %>
  </div>
  <div class="column bg-light radius-10">
    <div class="columns">
      <div class="column">
        <div class="pv1 pl2 pr2">
          <strong> <%= job.title %> </strong>
        </div>
        <div class="pv1 pl2 pr2 mt2">
          <%= icon('fas', 'puzzle-piece mr1') %> <%= job.category.name %>
        </div>
        <div class="pv1 pl2 pr2 mt2">
          <%= icon('fas', 'coins mr1') %>
          <%= job_salary(job.salary_from, job.salary_to) %>
        </div>        
      </div>
      <div class="column">
        <div class="pv1 pl2 pr2">
          <%= icon('fas', 'level-up-alt mr1') %> <%= job.level.name %>
        </div>           
        <div class="pv1 pl2 pr2 mt2">
          <%= icon('far', 'clock mr2') %> <%= job.job_type.name %>
        </div>
        <div class="pv1 pl2 pr2 mt2">
          <% if job.remote_ok? %>
            <%= icon('fas', 'wifi') %> <%= t('remote') %> 
          <% else %>
            <%= icon('fas', 'laptop') %> Oficina
          <% end %>     
        </div>
      </div>
      <div class="column">
        <% job.skills.each do |skill| %>
          <span class='tag is-success is-normal'> <%= skill.name %> </span>
        <% end %>  
        <% job.tags.each do |tag| %>
          <span class='tag is-success is-normal'> <%= tag.name %> </span>
        <% end if job.tags.any? %>  
      </div>
    </div>
  </div>
</div>



