<div class="columns">
  <div class="column pb0">
    <h1 class="f2 mb0"><%= "#{t('job_offer_h1')} #{job.title} #{t('at')} #{job.remote_ok? ? "Remote" : job.location}" %></h1>
    <p> <%= job.job_author %> <%= t('at') %> <%= job.location %> </p>
  </div>
</div>

<div class="ma4 is-hidden-mobile"></div>
<div class="columns">
  <div class="column is-2 is-vertical-center justify-center">
    <figure class="image rounded-image size-120">
      <% if job.avatar.file.nil? %>
        <%= image_tag(asset_path('wah_red_logo.png'), alt: t('seo.digital_job_offer_alt', title: job.title, job_author: job.job_author)) %>
      <% else %>
        <%= image_tag(job.avatar_url(:thumb), alt: t('seo.digital_job_offer_alt', title: job.title, job_author: job.job_author)) %>
      <% end %>
    </figure>
  </div>
  <div class="column is-10 card-box-secondary pa4">
    <div class="columns">
      <div class="column is-5">
        <p class="is-size-5"> <strong> <%= job.title %> </strong> </p>
        <p class="size-14">
          <%= icon('fas', 'building mr1') %> <span class="mr3"> <%= job.job_author %> </span>
          <%= icon('fas', 'map-marker-alt mr1') %> <span> <%= job.location %> </span>
        </p>
      </div>
      <div class="column is-7 has-text-right">
        <div class="content">
          <p> 
            <%= icon('fas', 'piggy-bank mr1') %> <%= job_salary(job.salary_from, job.salary_to) %>
          </p>
          <div>
            <span class="mr3">
              <% if job.remote_ok? %>
                <%= icon('fas', 'wifi mr1') %> <%= t('remote') %> 
              <% else %>
                <%= icon('fas', 'laptop mr1') %> Oficina
              <% end %>   
            </span>
            <span>
              <%= icon('far', 'clock mr1') %> <%= job.job_type.name %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="columns mt4">
      <div class="column">
        <span class="job-tag category-tag bg-white mr2"> <%= icon('fas', 'puzzle-piece mr1') %> <%= job.category.name %> </span>
        <span class="job-tag level-tag bg-white mr2"> <%= icon('fas', 'graduation-cap mr1') %> <%= job.level.name %>  </span>
        <% job.skills.first(4).each do |skill| %>
          <span class='job-tag skill-tag mr2'> <%= skill.name %> </span>
        <% end %> 
      </div>
    </div>
  </div>
</div>
