<%= form_for :inscription, url: path, remote: true, id: "add-inscription-form-#{user.id}" do |f| %>
  <%= f.hidden_field :added_by_company, value: true %>
  <div class="box mt2">
    <div class="columns">
      <div class="column is-1">
        <figure class="image is-48x48">
          <%= image_tag(asset_path('unknown_user.png') , alt: "Candidato ideal para tu empresa", class: 'is-rounded') %>
        </figure>
      </div>
      <div class="column is-3">
        <%= user.current_position.present? ?  user.current_position : content_tag(:span, 'Posición no especificada', class: 'has-text-grey-light') %>
      </div>
      <div class="column is-1">
        <%= user.experience.present? ? user.experience : content_tag(:span, 'Experiencia no especificada', class: 'has-text-grey-light') %>
      </div>
      <div class="column is-2">
        <%= user.location.present? ? user.location : content_tag(:span, 'Localización no especificada', class: 'has-text-grey-light') %>
      </div>
      <div class="column is-3">
        <% user.skills.take(6).each do |skill| %>
          <span class='tag is-success is-normal'> <%= skill.name %> </span>
        <% end %>  
      </div>
      <div class="column is-2">
        <% if user.is_already_inscribed(job) %>
          <div class="is-outline card-footer-item profile-added">
            <span class="mr2"> ¡Añadido! </span>
            <span class="has-text-success"> <%= icon('far', 'check-circle') %> </span>
          </div>
        <% else %>
          <%= f.submit "Añadir", class: "button is-info add-profile" %>
          <div class="is-outline card-footer-item profile-added is-hidden">
            <span class="mr2"> ¡Añadido! </span>
            <span class="has-text-success"> <%= icon('far', 'check-circle') %> </span>
          </div>
        <% end %>  
      </div>
    </div>
  </div>
<% end %>

<%= content_for :footer do %>

<script>
  $(document).on('ajax:success', '#add-inscription-form-<%= user.id %>', function(event) {
    $(this).find('.add-profile').addClass('is-hidden')
    $(this).find('.profile-added').removeClass('is-hidden')
  });
</script>

<% end %>
