<%= simple_form_for(partner, method: :patch, url: admins_partner_path(partner.id), html: { multipart: true }) do |f| %>
  <div class="columns is-vertical-center listrow">
    <div class="column has-text-centered">
      <%= partner.id %>
    </div>
    <div class="column">
      <%= f.input :name, label: false, input_html: { class: "input is-size-7" }, wrapper: false, placeholder: t('partners.name') %>
    </div>
    <div class="column">
      <%= f.input :token, label: false, input_html: { class: "input is-size-7" }, wrapper: false, placeholder: t('partners.token') %>
    </div>
    <div class="column">
      <%= f.submit t('save'), class: 'button is-info is-size-7' %>
    </div>
  </div>
<% end %>
