
<% %w[user_types categories job_types levels].each do |settings| %>
  <div class="container mb5 is-size-7">
    <div class="columns has-text-centered">
      <div class="column">
        <p class="title f4"> <%= t("#{settings}.title") %> </p>
      </div>
    </div>

    <div class="columns has-text-centered listhead">
      <div class="column"> <%= t("#{settings}.id") %> </div>
      <div class="column"> <%= t("#{settings}.name") %> </div>
      <div class="column"> <%= t("#{settings}.internal_name") %> </div>
      <div class="column"></div>
    </div>

    <% instance_variable_get("@#{settings}".to_sym).each do |setting| %>
      <%= render partial: "/admins/settings/#{settings.singularize}", locals: { "#{settings.singularize}": setting } %>
    <% end %>
  </div>
<% end %>

<div class="container mb5 is-size-7">
  <div class="columns has-text-centered">
    <div class="column">
      <p class="title f4"> <%= t("coupons.title") %> </p>
    </div>
  </div>

  <div class="columns has-text-centered listhead">
    <div class="column"> <%= t("coupons.id") %> </div>
    <div class="column"> <%= t("coupons.name") %> </div>
    <div class="column"> <%= t("coupons.value") %> </div>
    <div class="column"></div>
  </div>
  <%= simple_form_for(Coupon.new, method: :post, url: admins_coupons_path, html: { multipart: true }) do |f| %>
    <div class="columns is-vertical-center listrow">
      <div class="column"></div>
      <div class="column">
        <%= f.input :name, label: false, input_html: { class: "input is-size-7" }, wrapper: false, placeholder: t('coupons.name') %>
      </div>
      <div class="column">
        <%= f.input :value, label: false, input_html: { class: "input is-size-7" }, wrapper: false, placeholder: t('coupons.value') %>
      </div>
      <div class="column">
        <%= f.submit t('create'), class: 'button is-primary is-size-7' %>
      </div>
    </div>
  <% end %>
  <% @coupons.each do |coupon| %>
    <%= render partial: "/admins/settings/coupon", locals: { coupon: coupon } %>
  <% end %>
</div>

<div class="container mb5 is-size-7">
  <div class="columns has-text-centered">
    <div class="column">
      <p class="title f4"> <%= t("partners.title") %> </p>
    </div>
  </div>

  <div class="columns has-text-centered listhead">
    <div class="column"> <%= t("partners.id") %> </div>
    <div class="column"> <%= t("partners.name") %> </div>
    <div class="column"> <%= t("partners.token") %> </div>
    <div class="column"></div>
  </div>
  <%= simple_form_for(Partner.new, method: :post, url: admins_partners_path, html: { multipart: true }) do |f| %>
    <div class="columns is-vertical-center listrow">
      <div class="column"></div>
      <div class="column">
        <%= f.input :name, label: false, input_html: { class: "input is-size-7" }, wrapper: false, placeholder: t('partners.name') %>
      </div>
      <div class="column">
        <%= f.input :token, label: false, input_html: { class: "input is-size-7" }, wrapper: false, placeholder: t('partners.token') %>
      </div>
      <div class="column">
        <%= f.submit t('create'), class: 'button is-primary is-size-7' %>
      </div>
    </div>
  <% end %>
  <% @partners.each do |partner| %>
    <%= render partial: "/admins/settings/partner", locals: { partner: partner } %>
  <% end %>
</div>

<div class="container mb5 is-size-7">
  <div class="columns has-text-centered">
    <div class="column">
      <p class="title f4"> <%= t("job_prices.title") %> </p>
    </div>
  </div>

  <div class="columns has-text-centered listhead">
    <div class="column"> <%= t("job_prices.id") %> </div>
    <div class="column"> <%= t("job_prices.name") %> </div>
    <div class="column"> <%= t('job_prices.internal_name') %> </div>
    <div class="column"> <%= t("job_prices.value") %> </div>
    <div class="column"> <%= t("job_prices.value_with_taxes") %> </div>
    <div class="column"></div>
  </div>
  <%= simple_form_for(JobPrice.new, method: :post, url: admins_job_prices_path, html: { multipart: true }) do |f| %>
    <div class="columns is-vertical-center listrow">
      <div class="column"></div>
      <div class="column">
        <%= f.input :name, label: false, input_html: { class: "input is-size-7" }, wrapper: false, placeholder: t('job_prices.name') %>
      </div>
      <div class="column">
        <%= f.input :internal_name, label: false, input_html: { class: "input is-size-7" }, wrapper: false, placeholder: t('job_prices.internal_name') %>
      </div>
      <div class="column">
        <%= f.input :value, label: false, input_html: { class: "input is-size-7" }, wrapper: false, placeholder: t('job_prices.value') %>
      </div>
      <div class="column">
        <%= f.input :value_with_taxes, label: false, input_html: { class: "input is-size-7" }, wrapper: false, placeholder: t('job_prices.value_with_taxes') %>
      </div>
      <div class="column">
        <%= f.submit t('create'), class: 'button is-primary is-size-7' %>
      </div>
    </div>
  <% end %>
  <% @job_prices.each do |job_price| %>
    <%= render partial: "/admins/settings/job_price", locals: { job_price: job_price } %>
  <% end %>
</div>

<div class="container mb5 is-size-7">
  <div class="columns has-text-centered">
    <div class="column">
      <p class="title f4"> <%= t("skills.title") %> </p>
    </div>
  </div>

  <div class="columns has-text-centered listhead">
    <div class="column"> <%= t("skills.id") %> </div>
    <div class="column"> <%= t("skills.name") %> </div>
    <div class="column"> <%= t("skills.internal_name") %> </div>
    <div class="column"></div>
  </div>

  <%= simple_form_for(Skill.new, method: :post, url: admins_skills_path, html: { multipart: true }) do |f| %>
    <div class="columns is-vertical-center listrow">
      <div class="column"></div>
      <div class="column">
        <%= f.input :name, label: false, input_html: { class: "input is-size-7" }, wrapper: false, placeholder: t('skills.name') %>
      </div>
      <div class="column">
        <%= f.input :internal_name, label: false, input_html: { class: "input is-size-7" }, wrapper: false, placeholder: t('skills.internal_name') %>
      </div>
      <div class="column">
        <%= f.submit t('create'), class: 'button is-primary is-size-7' %>
      </div>
    </div>
  <% end %>
  <% @skills.each do |skill| %>
    <%= render partial: "/admins/settings/skill", locals: { skill: skill } %>
  <% end %>
</div>
