
<% %w[categories job_types levels].each do |settings| %>
  <div class="container mb5">
    <div class="columns has-text-centered">
      <div class="column">
        <p class="title f3"> <%= t("#{settings}.title") %> </p>
      </div>
    </div>

    <div class="columns has-text-centered listhead">
      <div class="column"> <%= t("#{settings}.id") %> </div>
      <div class="column"> <%= t("#{settings}.name") %> </div>
      <div class="column"> <%= t("#{settings}.internal_name") %> </div>
      <div class="column"></div>
    </div>

    <% instance_variable_get("@#{settings}".to_sym).each do |setting| %>
      <%= render partial: "/admins/settings/#{settings.singularize}", locals: { "#{settings.singularize}": setting } %>
    <% end %>
  </div>
<% end %>
