<div class="pricing-page-wrapper">
  <section class="section pt5">
    <div class="headline container has-text-centered pt2">
      <div class="mb4">
        <h2 class="title is-3">
          Precios adaptados a tus necesidades
        </h2>
      </div>
      <p class="subtitle is-6">
        Duración 60 días. Publicación al instante.
      </p>
      <p class="subtitle is-6">
        Por cada candidato garantizamos la información mínima de nombre, email, teléfono y perfil de Linkedin. 
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-2"></div>
        <div class="column">
          <div class="box pricing-box">
            <p class="subtitle is-4 has-text-centered"> 
              <span> Publicación Basic </span> 
            </p>
            <hr>
            <p class="has-text-centered has-text-weight-bold mb4"> 
              <span class="is-size-3"> 99€ + IVA </span> <br>
              <span> por Job </span>
            </p>
            <div class="is-flex is-justify-content-space-between">
              <p> Duración 60 días </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> Gestión proceso </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> Notificación a tiempo real </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> Posicionamiento SEO </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> Compartir Job </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> We Match </p>
              <p> <%= icon('fas', 'times-circle') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> Candidato Estrella </p>
              <p> <%= icon('fas', 'times-circle') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> Difusión comunidad WAH </p>
              <p> <%= icon('fas', 'times-circle') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> Acciones de Marketing </p>
              <p> <%= icon('fas', 'times-circle') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> Integración con audiencia </p>
              <p> <%= icon('fas', 'times-circle') %> </p>
            </div>
            
          </div>
        </div>
        <div class="column is-1"></div>
        <div class="column">
          <div class="box pricing-box">
            <p class="subtitle is-4 has-text-centered"> 
              <span> Publicación Pro </span> 
            </p>
            <hr>
            <p class="has-text-centered has-text-weight-bold mb4"> 
              <span class="is-size-3"> 299€ + IVA </span> <br>
              <span> por Job </span>
            </p>
            <div class="is-flex is-justify-content-space-between">
              <p> Duración 60 días </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> Gestión proceso </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> Notificación a tiempo real </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> Posicionamiento SEO </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> Compartir Job </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> We Match </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> Candidato Estrella </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> Difusión comunidad WAH </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> Acciones de Marketing </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> Integración con audiencia </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
          </div>
        </div>
        <div class="column is-2"></div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container is-max-desktop">
      <p class="has-text-centered mb3">
        <span class="has-text-weight-bold"> ¿Estás buscando un perfil muy específico? </span> Ponemos a tu disposición nuestra herramienta de consultoría. <br>
        Contrata un recruiter dedicado que no parará hasta encontrarlo.
      </p>
      <p class="has-text-centered">
        Explícanos tu caso <a href="mailto:hello@wearehiring.io"> hello@wearehiring.io </a>
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container is-max-desktop">
      <div class="columns">
        <div class="column has-text-centered">
          <img src="<%=asset_path('undraw_online_payments.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
        </div>
      </div>
    </div>
  </section>
</div>

<%= content_for :head do %>
	<%= render "seo", 
			title: t('seo.pricing_title'), 
			description: t('seo.pricing_description'),
			image: image_url(asset_path('wah_red_logo.png')) %>
<% end %>
