<div class="pricing-page-wrapper">
  <section class="section">
    <div class="container">
      <div class="headline container has-text-centered pt2">
        <div class="mb4">
          <h1 class="title is-3">
            <%= t('pricing_index.title_1') %>
          </h1>
          <p class="subtitle">
            <%= t('pricing_index.subtitle_3') %>
          </p>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box radius-20 full-height is-flex is-flex-direction-column pricing-price-box">
            <div class="columns is-vcentered">
              <div class="column">
                <p class="has-text-grey mt4 mb3"> <%= t('included') %>: </p>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.subtitle_1') %> </p>         
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_1') %> </p>         
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_6') %> </p>
                  <p> <%= icon('fas', 'gem has-text-info ml2') %> </p>
                  <p class="ml2 has-text-weight-semibold"> <%= t('dont_wait_candidates_apply') %> </p>
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_7') %> </p>
                  <p> <%= icon('fas', 'star has-text-warning ml2') %> </p>
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_8') %> </p>
                  <p> <%= icon('fas', 'bullhorn has-text-corporate ml2') %> </p>
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_9') %> </p>
                  <p> <%= icon('fas', 'bolt has-text-warning ml2') %> </p>
                </div>
                <div class="is-flex mb4">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_10') %> </p>
                  <p> <%= icon('fas', 'plug ml2') %> </p>
                  <p> <%= icon('fab', 'google ml2') %> </p>
                </div>
                <p class="has-text-grey mt3 mb3"> <%= t('plus_feature') %>: </p>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p> <%= t('pricing_index.pricing_feature_2') %> </p>
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p> <%= t('pricing_index.pricing_feature_3') %> </p>
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p> <%= t('pricing_index.pricing_feature_4') %> </p>
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p> <%= t('download_candidates_excel') %> </p>
                </div>
              </div>
              <div class="column has-text-centered">
                <p class="">
                  <span class="title pricing-price-title"> <%= formatted_price('299') %> </span> /
                  <span class="has-text-weight-semibold"> <%= t('pricing_index.per_job') %> </span>
                </p>
                <p class="is-vertical-center is-justify-content-center">
                  <span class="has-text-weight-light is-italic"> 
                    <%= formatted_price('340.86') %> <%= t('tax_included') %>
                  </span>
                </p>
                <div class="mb3 is-hidden-tablet"></div>
                <p class="is-vertical-center is-justify-content-center">
                  <%= image_tag(asset_path('stipe_climate.svg'), height: 20, width: 20, class: 'mr1') %>
                  <span class="has-text-weight-light is-italic">
                    <%= t('stripe_climate') %>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container is-max-desktop">
      <div class="columns">
      </div>
      <div class="columns">
        <div class="column has-text-centered">
          <p class="has-text-weight-bold is-size-3 mb3">
            <%= icon('fas', 'lock') %>
            <%= t('payment_safe_with_stripe') %>
          </p>
          <img src="<%=asset_path('powered-stripe.svg')%>" width="120" height="120" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <p class="title is-3">
            <%= t('minimum_guaranteed_candidate_information') %>:
          </p>
        </div>
      </div>
      <div class="columns">
        <div class="column has-text-centered">
          <div class="box">
            <%= icon('fas', 'user') %>
            <p> <%= t('inscriptions.name') %> </p>
          </div>
        </div>
        <div class="column has-text-centered">
          <div class="box">
            <%= icon('fas', 'envelope') %>
            <p> <%= t('inscriptions.email') %> </p>
          </div>
        </div>
        <div class="column has-text-centered">
          <div class="box">
            <%= icon('fas', 'phone') %>
            <p> <%= t('inscriptions.phone') %> </p>
          </div>
        </div>
        <div class="column has-text-centered">
          <div class="box">
            <%= icon('fas', 'home') %>
            <p> <%= t('inscriptions.residence') %> </p>
          </div>
        </div>
        <div class="column has-text-centered">
          <div class="box">
            <%= icon('fab', 'linkedin') %>
            <p> <%= t('inscriptions.linkedin_url') %> </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section pv6">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <p class="title is-3"> <%= t('find_what_you_are_looking_for') %>: </p>
        </div>
      </div>
      <div class="columns has-text-centered">
        <div class="column is-5-desktop is-offset-1-desktop">
          <div class="box pv5">
            <%= icon('fas', 'eye', class: 'is-size-3') %> <br>
            <p class="is-size-3"> +50 <%= t('job_views') %> </p>
            <p class="is-size-3"> <%= t('guaranteed') %> </p>
          </div>
        </div>
        <div class="column is-5-desktop">
          <div class="box pv5">
            <%= icon('fas', 'check-circle', class: 'has-text-success is-size-3') %> <br>
            <p class="is-size-3"> +20 <%= t('applicants') %> </p>
            <p class="is-size-3"> <%= t('verified') %> </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section pv6">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <p class="title is-3"> <%= t('audience') %>: </p>
        </div>
      </div>
      <div class="columns is-vertical-center has-text-centered">
        <div class="column is-half is-offset-one-quarter">
          <div class="box pv5">
            <%= icon('fas', 'bullhorn', class: 'is-size-1') %> <br>
            <p class="is-size-1"> +100.000 </p>
            <p class="is-size-3"> <%= t('digital_profiles') %> </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section pv6">
    <div class="container">
      <div class="columns has-text-centered">
        <div class="column is-half is-offset-one-quarter">
          <p class="is-size-1"> 
            <%= icon('fas', 'network-wired', class: 'is-size-1') %> +35 
          </p>
          <p class="is-size-3"> <%= t('cross_postings_on_specialized_portals_and_talent_pools') %> </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section pv6">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <p class="title is-3"> <%= t('distributed_on_google_for_jobs') %>: </p>
        </div>
      </div>
      <div class="columns is-vertical-center has-text-centered">
        <div class="column is-half is-offset-one-quarter">
          <div class="box">
            <%= image_tag(asset_path('google_for_jobs_logo.png'), width: 600, height: 600, alt: 'Emogg - We Are Hiring partner') %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section pv6">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <p class="title is-2 has-text-corporate"> <%= t('companies_trust_us') %> </p>
        </div>
      </div>
      <div class="box mt4 pv5 pricing-company-logos">
        <div class="columns is-vertical-center has-text-centered">
          <div class="column">
            <%= link_to 'https://emogg.com/', target: '_blank' do %>
              <%= image_tag(asset_path('emogg_logo.png'), width: 100, height: 100, alt: 'Emogg - We Are Hiring partner') %>
            <% end %>
          </div>
          <div class="column">
            <%= link_to 'https://www.ganasdevicio.com/', target: '_blank' do %>
              <%= image_tag(asset_path('logo_vicio.png'), width: 100, height: 100, alt: 'Vicio - We Are Hiring partner') %>
            <% end %>
          </div>
          <div class="column">
            <%= link_to 'https://quasardynamics.com/', target: '_blank' do %>
              <%= image_tag(asset_path('logo_quasar_dynamics.png'), width: 100, height: 100, alt: 'Quasar Dynamics - We Are Hiring partner') %>
            <% end %>
          </div>
        </div>
        <div class="columns is-vertical-center has-text-centered">
          <div class="column">
            <%= link_to 'https://www.t-systems.com/es/es', target: '_blank' do %>
              <%= image_tag(asset_path('t_systems_logo.png'), width: 100, height: 100, alt: 'TSystems - We Are Hiring partner') %>
            <% end %>
          </div>
          <div class="column">
            <%= link_to 'https://madeofgenes.com/', target: '_blank' do %>
              <%= image_tag(asset_path('madeofgenes_logo.png'), width: 100, height: 100, alt: 'MadeOfGenes - We Are Hiring partner') %>
            <% end %>
          </div>
          <div class="column">
            <%= link_to 'https://www.gartner.es/es', target: '_blank' do %>
              <%= image_tag(asset_path('gartner_logo.png'), width: 100, height: 100, alt: 'Gartner - We Are Hiring partner') %>
            <% end %>
          </div>
        </div>
        <div class="columns is-vertical-center has-text-centered">
          <div class="column">
            <%= link_to 'https://emogg.com/', target: '_blank' do %>
              <%= image_tag(asset_path('nuo_planet.jpg'), width: 100, height: 100, alt: 'Nuo - We Are Hiring partner') %>
            <% end %>
          </div>
          <div class="column">
            <%= link_to 'https://nuoplanet.com/', target: '_blank' do %>
              <%= image_tag(asset_path('dnv_logo.png'), width: 100, height: 100, alt: 'DNV - We Are Hiring partner') %>
            <% end %>
          </div>
          <div class="column">
            <%= link_to 'https://belender.eu/', target: '_blank' do %>
              <%= image_tag(asset_path('belender_logo.png'), width: 100, height: 100, alt: 'Belender EU - We Are Hiring partner') %>
            <% end %>
          </div>
        </div>
        <div class="columns is-vertical-center has-text-centered">
          <div class="column">
            <%= link_to 'https://www.housell.com/', target: '_blank' do %>
              <%= image_tag(asset_path('logo_housell.png'), width: 100, height: 100, alt: 'Housell - We Are Hiring partner') %>
            <% end %>
          </div>
          <div class="column">
            <%= link_to 'https://www.turijobs.com/', target: '_blank' do %>
              <%= image_tag(asset_path('logo_turijobs.png'), width: 100, height: 100, alt: 'Turijobs - We Are Hiring partner') %>
            <% end %>
          </div>
          <div class="column">
            <%= link_to 'https://www.mobilots.com/es/', target: '_blank' do %>
              <%= image_tag(asset_path('logo_mobilots.png'), width: 100, height: 100, alt: 'Talent Hackers - We Are Hiring partner') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <h2 class="title is-3"> <%= t('i_want_digital_talent') %>: </h2>
          <%= link_to t('join_we_are_hiring'), 'mailto:hello@wearehiring.io', class: 'button is-rounded primary is-large shadow' %>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container is-max-desktop">
      <p class="has-text-centered mb3">
        <span class="has-text-weight-bold"> <%= t('pricing_index.pricing_we_talent_text_1') %> </span> <%= t('pricing_index.pricing_we_talent_text_2') %> <br>
        <%= t('pricing_index.pricing_we_talent_text_3') %>
      </p>
      <p class="has-text-centered">
        <%= t('pricing_index.tell_us') %> <a href="mailto:hello@wearehiring.io"> hello@wearehiring.io </a>
      </p>
    </div>
  </section>
</div>

<%= content_for :head do %>
	<%= render "seo", 
		title: t('seo.pricing_title'), 
		description: t('seo.pricing_description'),
		image: image_url(asset_path('wah_red_logo.png')) %>
<% end %>
