<div class="pricing-page-wrapper">
  <section class="section pt5">
    <div class="headline container has-text-centered pt2">
      <div class="mb4">
        <h2 class="title is-3">
          <%= t('pricing_index.title_1') %>
        </h2>
      </div>
      <p class="subtitle is-6">
        <%= t('pricing_index.subtitle_1') %>
      </p>
      <p class="subtitle is-6">
        <%= t('pricing_index.subtitle_2') %> 
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-2"></div>
        <div class="column">
          <div class="box pricing-box">
            <p class="subtitle is-4 has-text-centered"> 
              <span> <%= t('pricing_index.basic') %>  </span> 
            </p>
            <hr>
            <p class="has-text-centered has-text-weight-bold mb4"> 
              <span class="is-size-3"> 99€ + IVA </span> <br>
              <span> <%= t('pricing_index.per_job') %> </span>
            </p>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_1') %> </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_2') %> </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_3') %> </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_4') %> </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_5') %> </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_6') %></p>
              <p> <%= icon('fas', 'times-circle') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_7') %> </p>
              <p> <%= icon('fas', 'times-circle') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_8') %> </p>
              <p> <%= icon('fas', 'times-circle') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_9') %> </p>
              <p> <%= icon('fas', 'times-circle') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_10') %> </p>
              <p> <%= icon('fas', 'times-circle') %> </p>
            </div>
            
          </div>
        </div>
        <div class="column is-1"></div>
        <div class="column">
          <div class="box pricing-box">
            <p class="subtitle is-4 has-text-centered"> 
              <span> <%= t('pricing_index.pro') %> </span> 
            </p>
            <hr>
            <p class="has-text-centered has-text-weight-bold mb4"> 
              <span class="is-size-3"> 299€ + IVA </span> <br>
              <span> <%= t('pricing_index.per_job') %> </span>
            </p>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_1') %> </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_2') %> </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_3') %> </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_4') %> </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_5') %> </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_6') %> </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_7') %> </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_8') %> </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_9') %> </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
              <p> <%= t('pricing_index.pricing_feature_10') %> </p>
              <p> <%= icon('fas', 'check-circle has-text-success') %> </p>
            </div>
          </div>
        </div>
        <div class="column is-2"></div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container is-max-desktop">
      <p class="has-text-centered mb3">
        <span class="has-text-weight-bold"> <%= t('pricing_index.pricing_we_talent_text_1') %> </span> <%= t('pricing_index.pricing_we_talent_text_2') %> <br>
        <%= t('pricing_index.pricing_we_talent_text_3') %>
      </p>
      <p class="has-text-centered">
        <%= t('pricing_index.tell_us') %> <a href="mailto:hello@wearehiring.io"> hello@wearehiring.io </a>
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container is-max-desktop">
      <div class="columns">
        <div class="column has-text-centered">
          <img src="<%=asset_path('undraw_online_payments.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
        </div>
      </div>
    </div>
  </section>
</div>

<%= content_for :head do %>
	<%= render "seo", 
			title: t('seo.pricing_title'), 
			description: t('seo.pricing_description'),
			image: image_url(asset_path('wah_red_logo.png')) %>
<% end %>
