<div class="pricing-page-wrapper">
  <section class="section pt5">
    <div class="headline container has-text-centered pt2">
      <div class="mb4">
        <h2 class="title is-3">
          <%= t('pricing_index.title_1') %>
        </h2>
      </div>
      <p class="subtitle is-6">
        <%= t('pricing_index.subtitle_1') %>
      </p>
      <p class="subtitle is-6">
        <%= t('pricing_index.subtitle_2') %> 
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box radius-20 full-height is-flex is-flex-direction-column">
            <p class="title is-3 has-text-centered">
              Free
            </p>
            <p class="has-text-centered">
              <span class="title is-3 has-text-success"> 0€ </span> <br>
              <span class="has-text-weight-semibold"> por Job </span>
            </p>
            <p class="has-text-grey mt4 mb3"> Incluye: </p>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p> <%= t('pricing_index.pricing_feature_1_free') %> </p>
            </div>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p> <%= t('pricing_index.pricing_feature_2') %> </p>
            </div>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p> <%= t('pricing_index.pricing_feature_3') %> </p>
            </div>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p> <%= t('pricing_index.pricing_feature_4') %> </p>
            </div>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p> Hasta 25 candidatos </p>
            </div>
          </div>
        </div>
        <div class="column mr-2">
          <div class="box radius-20 full-height is-flex is-flex-direction-column">
            <p class="title is-3 has-text-centered">
              Basic
            </p>
            <p class="has-text-centered">
              <span class="title is-3 has-text-success"> 99€ + IVA </span> <br>
              <span class="has-text-weight-semibold"> por Job </span>
            </p>
            <p class="has-text-grey mt4 mb3"> Incluye: </p>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p> 
                <del> <%= t('pricing_index.pricing_feature_1_free') %> </del>
                <span class="has-text-success ml1 has-text-weight-semibold"> 60 días </span>
              </p>
            </div>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p> <%= t('pricing_index.pricing_feature_2') %> </p>
            </div>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p> <%= t('pricing_index.pricing_feature_3') %> </p>
            </div>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p> <%= t('pricing_index.pricing_feature_4') %> </p>
            </div>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p> <del> Hasta 25 candidatos </del> <span class="has-text-success ml1 has-text-weight-semibold">Nº candidatos ilimitado</span> </p>
            </div>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p> Descargar candidatos en excel </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box radius-20 full-height is-flex is-flex-direction-column">
            <p class="title is-3 has-text-centered">
              Pro
            </p>
            <p class="has-text-centered">
              <span class="title is-3 has-text-success"> 299€ + IVA </span> <br>
              <span class="has-text-weight-semibold"> por Job </span>
            </p>
            <p class="has-text-grey mt4 mb3"> Incluye: </p>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p> 
                <del> <%= t('pricing_index.pricing_feature_1_free') %> </del>
                <span class="has-text-success ml1 has-text-weight-semibold"> 60 días </span>
              </p>          
            </div>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p> <%= t('pricing_index.pricing_feature_2') %> </p>
            </div>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p> <%= t('pricing_index.pricing_feature_3') %> </p>
            </div>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p> <%= t('pricing_index.pricing_feature_4') %> </p>
            </div>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p> <del> Hasta 25 candidatos </del> <span class="has-text-success ml1 has-text-weight-semibold">Nº candidatos ilimitado</span> </p>
            </div>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p> Descargar candidatos en excel </p>
            </div>
            <p class="has-text-grey mt3 mb3"> Y además: </p>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_6') %> </p>
              <p> <%= icon('fas', 'gem has-text-info ml2') %> </p>
            </div>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_7') %> </p>
              <p> <%= icon('fas', 'star has-text-warning ml2') %> </p>
            </div>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_8') %> </p>
              <p> <%= icon('fas', 'bullhorn has-text-corporate ml2') %> </p>
            </div>
            <div class="is-flex">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_9') %> </p>
              <p> <%= icon('fas', 'bolt has-text-warning ml2') %> </p>
            </div>
            <div class="is-flex mb4">
              <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
              <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_10') %> </p>
              <p> <%= icon('fas', 'plug ml2') %> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container is-max-desktop">
      <p class="has-text-centered mb3">
        <span class="has-text-weight-bold"> <%= t('pricing_index.pricing_we_talent_text_1') %> </span> <%= t('pricing_index.pricing_we_talent_text_2') %> <br>
        <%= t('pricing_index.pricing_we_talent_text_3') %>
      </p>
      <p class="has-text-centered">
        <%= t('pricing_index.tell_us') %> <a href="mailto:hello@wearehiring.io"> hello@wearehiring.io </a>
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container is-max-desktop">
      <div class="columns">
        <div class="column has-text-centered">
          <img src="<%=asset_path('undraw_online_payments.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
        </div>
      </div>
    </div>
  </section>
</div>

<%= content_for :head do %>
	<%= render "seo", 
			title: t('seo.pricing_title'), 
			description: t('seo.pricing_description'),
			image: image_url(asset_path('wah_red_logo.png')) %>
<% end %>
