<div class="section">
  <div class="container is-max-widescreen">
    <p>
      En We Are Hiring los precios son por publicación. 
    </p>
    <p>
      Todos los jobs tienen una duración mínima de 60 días y se muestran al instante. 
    </p>
    <p>
      Por cada candidato garantizamos la información mínima de Nombre, Email, Teléfono y Perfil de Linkedin. 
    </p>
  </div>
</div>

<section class="section has-text-left-mobile">
	<div class="container is-max-widescreen">
    <div class="columns">
      <div class="column is-1"></div>
      <div class="column">
        <div class="box">
          <h2 class="title"> 
            <span> Publicación Lite </span> 
          </h2>
          <p> <%= icon('fas', 'check-circle has-text-success') %> Duración 60 días </p>
          <p> <%= icon('fas', 'check-circle has-text-success') %> Gestión proceso </p>
          <p> <%= icon('fas', 'check-circle has-text-success') %> Notificación a tiempo real </p>
          <p> <%= icon('fas', 'check-circle has-text-success') %> Posicionamiento SEO </p>
          <p> <%= icon('fas', 'check-circle has-text-success') %> Compartir Job </p>
          <p> <%= icon('fas', 'times-circle') %> We Match </p>
          <p> <%= icon('fas', 'times-circle') %> Candidato Estrella </p>
          <p> <%= icon('fas', 'times-circle') %> Difusión comunidad WAH </p>
          <p> <%= icon('fas', 'times-circle') %> Acciones de Marketing </p>
          <p> <%= icon('fas', 'times-circle') %> Integración con audiencia </p>
          <br>
          <p class="is-size-1"> 99€ </p>
        </div>
      </div>
      <div class="column is-1"></div>
      <div class="column">
        <div class="box">
          <h2 class="title"> 
            <span> Publicación Pro </span> 
          </h2>
          <p> <%= icon('fas', 'check-circle has-text-success') %> Duración 60 días </p>
          <p> <%= icon('fas', 'check-circle has-text-success') %> Gestión proceso </p>
          <p> <%= icon('fas', 'check-circle has-text-success') %> Notificación a tiempo real </p>
          <p> <%= icon('fas', 'check-circle has-text-success') %> Posicionamiento SEO </p>
          <p> <%= icon('fas', 'check-circle has-text-success') %> Compartir Job </p>
          <p> <%= icon('fas', 'check-circle has-text-success') %> We Match </p>
          <p> <%= icon('fas', 'check-circle has-text-success') %> Candidato Estrella </p>
          <p> <%= icon('fas', 'check-circle has-text-success') %> Difusión comunidad WAH </p>
          <p> <%= icon('fas', 'check-circle has-text-success') %> Acciones de Marketing </p>
          <p> <%= icon('fas', 'check-circle has-text-success') %> Integración con audiencia </p>
          <br>
          <p class="is-size-1"> 299€ </p>
        </div>
      </div>
      <div class="column is-1"></div>
    </div>
	</div>
</section>
