<div class="pricing-page-wrapper">
  <section class="section">
    <div class="container">
      <div class="headline container has-text-centered pt2">
        <div class="mb4">
          <h1 class="title is-3">
            <%= t('pricing_index.title_1') %>
          </h1>
          <p class="subtitle">
            Consigue aumentar tu alcance por un precio imbatible.
          </p>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box radius-20 full-height is-flex is-flex-direction-column pricing-price-box">
            <div class="columns is-vcentered">
              <div class="column">
                <p class="has-text-grey mt4 mb3"> <%= t('included') %>: </p>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.subtitle_1') %> </p>         
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_1') %> </p>         
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_6') %> </p>
                  <p> <%= icon('fas', 'gem has-text-info ml2') %> </p>
                  <p class="ml2 has-text-weight-semibold"> ¡No esperes a que los candidatos apliquen! </p>
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_7') %> </p>
                  <p> <%= icon('fas', 'star has-text-warning ml2') %> </p>
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_8') %> </p>
                  <p> <%= icon('fas', 'bullhorn has-text-corporate ml2') %> </p>
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_9') %> </p>
                  <p> <%= icon('fas', 'bolt has-text-warning ml2') %> </p>
                </div>
                <div class="is-flex mb4">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_10') %> </p>
                  <p> <%= icon('fas', 'plug ml2') %> </p>
                  <p> <%= icon('fab', 'google ml2') %> </p>
                </div>
                <p class="has-text-grey mt3 mb3"> <%= t('plus_feature') %>: </p>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p> <%= t('pricing_index.pricing_feature_2') %> </p>
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p> <%= t('pricing_index.pricing_feature_3') %> </p>
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p> <%= t('pricing_index.pricing_feature_4') %> </p>
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p> <%= t('download_candidates_excel') %> </p>
                </div>
              </div>
              <div class="column has-text-centered">
                <p class="">
                  <span class="title pricing-price-title"> 299€ </span> /
                  <span class="has-text-weight-semibold"> por Job </span>
                </p>
                <p class="is-vertical-center is-justify-content-center">
                  <span class="has-text-weight-light is-italic"> 
                    340.86€ con tasas incluidas
                  </span>
                </p>
                <p class="is-vertical-center is-justify-content-center">
                  <%= image_tag(asset_path('stipe_climate.svg'), height: 20, width: 20, class: 'mr1') %>
                  <span class="has-text-weight-light is-italic">
                    <%= t('stripe_climate') %>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container is-max-desktop">
      <div class="columns">
      </div>
      <div class="columns">
        <div class="column has-text-centered">
          <p class="has-text-weight-bold is-size-3 mb3">
            <%= icon('fas', 'lock') %>
            Tu pago seguro con Stripe. 
          </p>
          <img src="<%=asset_path('powered-stripe.svg')%>" width="120" height="120" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <p class="title is-3">
            Información [del candidato] mínima garantizada:
          </p>
        </div>
      </div>
      <div class="columns">
        <div class="column has-text-centered">
          <div class="box">
            <%= icon('fas', 'user') %>
            <p> Nombre </p>
          </div>
        </div>
        <div class="column has-text-centered">
          <div class="box">
            <%= icon('fas', 'envelope') %>
            <p> Email </p>
          </div>
        </div>
        <div class="column has-text-centered">
          <div class="box">
            <%= icon('fas', 'phone') %>
            <p> Teléfono </p>
          </div>
        </div>
        <div class="column has-text-centered">
          <div class="box">
            <%= icon('fas', 'home') %>
            <p> Lugar de residencia </p>
          </div>
        </div>
        <div class="column has-text-centered">
          <div class="box">
            <%= icon('fab', 'linkedin') %>
            <p> Perfil de Linkedin </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section pv6">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <p class="title is-3"> Encuentra lo que buscas: </p>
        </div>
      </div>
      <div class="columns has-text-centered">
        <div class="column is-5-desktop is-offset-1-desktop">
          <div class="box pv5">
            <%= icon('fas', 'eye', class: 'is-size-3') %> <br>
            <p class="is-size-3"> +50 <%= t('job_views') %> </p>
            <p class="is-size-3"> garantizadas </p>
          </div>
        </div>
        <div class="column is-5-desktop">
          <div class="box pv5">
            <%= icon('fas', 'check-circle', class: 'has-text-success is-size-3') %> <br>
            <p class="is-size-3"> +20 aplicantes </p>
            <p class="is-size-3"> verificados </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section pv6">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <p class="title is-3"> Audiencia: </p>
        </div>
      </div>
      <div class="columns is-vertical-center has-text-centered">
        <div class="column is-half is-offset-one-quarter">
          <div class="box pv5">
            <%= icon('fas', 'bullhorn', class: 'is-size-1') %> <br>
            <p class="is-size-1"> +100.000 </p>
            <p class="is-size-3"> perfiles digitales </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section pv6">
    <div class="container">
      <div class="columns has-text-centered">
        <div class="column is-half is-offset-one-quarter">
          <p class="is-size-1"> 
            <%= icon('fas', 'network-wired', class: 'is-size-1') %> +35 
          </p>
          <p class="is-size-3"> publicaciones cruzadas en portales especializados y minas de talento </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section pv6">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <p class="title is-3"> Distribuido en Google for Jobs: </p>
        </div>
      </div>
      <div class="columns is-vertical-center has-text-centered">
        <div class="column is-half is-offset-one-quarter">
          <div class="box">
            <%= image_tag(asset_path('google_for_jobs_logo.png'), width: 600, height: 600, alt: 'Emogg - We Are Hiring partner') %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section pv6">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <p class="title is-2 has-text-corporate"> <%= t('companies_trust_us') %> </p>
        </div>
      </div>
      <div class="box mt4 pv5">
        <div class="columns is-vertical-center has-text-centered">
          <div class="column">
            <%= image_tag(asset_path('emogg_logo.png'), width: 100, height: 100, alt: 'Emogg - We Are Hiring partner') %>
          </div>
          <div class="column">
            <%= image_tag(asset_path('by_evolution_logo.png'), width: 100, height: 100, alt: 'ByEvolution - We Are Hiring partner') %>
          </div>
          <div class="column">
            <%= image_tag(asset_path('dnv_logo.png'), width: 100, height: 100, alt: 'DNV - We Are Hiring partner') %>
          </div>
        </div>
        <div class="columns is-vertical-center has-text-centered">
          <div class="column">
            <%= image_tag(asset_path('t_systems_logo.png'), width: 100, height: 100, alt: 'TSystems - We Are Hiring partner') %>
          </div>
          <div class="column">
            <%= image_tag(asset_path('madeofgenes_logo.png'), width: 100, height: 100, alt: 'MadeOfGenes - We Are Hiring partner') %>
          </div>
          <div class="column">
            <%= image_tag(asset_path('gartner_logo.png'), width: 100, height: 100, alt: 'Gartner - We Are Hiring partner') %>
          </div>
        </div>
        <div class="columns is-vertical-center has-text-centered">
          <div class="column">
            <%= image_tag(asset_path('nuo_planet.jpg'), width: 100, height: 100, alt: 'Nuo - We Are Hiring partner') %>
          </div>
          <div class="column">
            <%= image_tag(asset_path('knauf.png'), width: 100, height: 100, alt: 'Knauf - We Are Hiring partner') %>
          </div>
          <div class="column">
            <%= image_tag(asset_path('webedia_logo.png'), width: 100, height: 100, alt: 'Webedia - We Are Hiring partner') %>
          </div>
        </div>
        <div class="columns is-vertical-center has-text-centered">
          <div class="column">
            <%= image_tag(asset_path('sequra_logo.png'), width: 100, height: 100, alt: 'Sequra - We Are Hiring partner') %>
          </div>
          <div class="column">
            <%= image_tag(asset_path('payfit_logo.png'), width: 100, height: 100, alt: 'Payfit - We Are Hiring partner') %>
          </div>
          <div class="column">
            <%= image_tag(asset_path('talent-hackers-logo.png'), width: 100, height: 100, alt: 'Talent Hackers - We Are Hiring partner') %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <h2 class="title is-3"> Quiero encontrar talento digital: </h2>
          <% url = user_signed_in? ? new_companies_job_path :  new_company_registration_path %>
          <%= link_to url, 
              class: "button primary is-large" do %>
              <%= t('jobs.post_job') %> <%= icon('fas', 'bullhorn ml2') %>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container is-max-desktop">
      <p class="has-text-centered mb3">
        <span class="has-text-weight-bold"> <%= t('pricing_index.pricing_we_talent_text_1') %> </span> <%= t('pricing_index.pricing_we_talent_text_2') %> <br>
        <%= t('pricing_index.pricing_we_talent_text_3') %>
      </p>
      <p class="has-text-centered">
        <%= t('pricing_index.tell_us') %> <a href="mailto:hello@wearehiring.io"> hello@wearehiring.io </a>
      </p>
    </div>
  </section>
</div>

<%= content_for :head do %>
	<%= render "seo", 
		title: t('seo.pricing_title'), 
		description: t('seo.pricing_description'),
		image: image_url(asset_path('wah_red_logo.png')) %>
<% end %>
