<div class="mt5 is-hidden-touch"></div>

<section class="section pv5">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					Para <span class="has-text-dark"> empresas </span> dentro del ecosistema digital
				</p>
				<p>
          Somos el <strong> talent place</strong>  especializado en talento digital para tus <strong>equipos tech.</strong>
				</p>
				<p class="mt4">
					<%= link_to t('create_company_account'), new_company_registration_path, class: 'button is-rounded is-dark shadow' %>
				</p>
			</div>
			<div class="column">
				<img src="<%=asset_path('undraw_group_hangout.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>

<section class="section pv5">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column is-hidden-touch">
				<img src="<%=asset_path('undraw_maker_launch.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					¡BOOST! para tus Jobs
				</p>
				<p>
					We Are Hiring es el altavoz que le falta a tus Jobs para llegar al talento que estabas buscando.
				</p>
			</div>
      <div class="column is-hidden-desktop">
				<img src="<%=asset_path('undraw_maker_launch.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>

<section class="section pv5">
	<div class="container is-max-widescreen">
    <p class="title is-2 has-text-weight-bold has-text-corporate">
      El Job Board más Geek
    </p>
    <p>
      Soluciones inteligentes para facilitar tu búsqueda y gestión
    </p>
    <div class="columns is-vcentered mt4">
      <div class="column is-4 has-text-right-desktop has-text-centered-touch">
        <img src="<%=asset_path('undraw_the_world_is_mine.svg')%>" width="180" height="180" class="is-blank" alt="Solución Digital Tech Talent Place | Wearehiring.io">			
      </div>
      <div class="column is-8">
        📺 La comunidad We Are Hiring.
      </div>
    </div>
    <div class="columns is-vcentered mt4">
      <div class="column is-4 has-text-right-desktop has-text-centered-touch">
        <img src="<%=asset_path('undraw_progressive_app.svg')%>" width="180" height="180" class="is-blank" alt="Solución Digital Tech Talent Place | Wearehiring.io">			
      </div>
      <div class="column is-6">
        🧲 Nuestra solución Digital Tech Talent Place donde podrás desarrollar el proceso de selección directamente
      </div>
    </div>
    <div class="columns is-vcentered mt4">
      <div class="column is-4 has-text-right-desktop has-text-centered-touch">
        <img src="<%=asset_path('undraw_sync.svg')%>" width="180" height="180" class="is-blank" alt="WeMatch tool que te ofrece al instante los mejores candidatos | Wearehiring.io">			
      </div>
      <div class="column is-6">
        ✅ WeMatch tool que te ofrece al instante los mejores candidatos de nuestra comunidad que encajan con tu oferta.
      </div>
    </div>
    <div class="columns is-vcentered mt4">
      <div class="column is-4 has-text-right-desktop has-text-centered-touch">
      	<img src="<%=asset_path('undraw_social_thinking.svg')%>" width="180" height="180" class="is-blank" alt="Acciones de Marketing | Wearehiring.io">			
      </div>
      <div class="column is-6">
        📣 Acciones de Marketing y difusión automática integrada con nuestra audiencia. 
      </div>
    </div>
    <div class="columns is-vcentered mt4">
      <div class="column is-4 has-text-right-desktop has-text-centered-touch">
      	<img src="<%=asset_path('undraw_swipe_profiles.svg')%>" width="180" height="180" class="is-blank" alt="Candidatos estrella | Wearehiring.io">			
      </div>
      <div class="column is-6">
        ⭐ Candidatos estrella: ¡Ahorra tiempo! Resaltamos aquellos candidatos más interesantes para tu posición.
      </div>
    </div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>

<section class="section section-bg-gray pv6">
	<div class="container">
		<div class="columns">
			<div class="column has-text-centered">
				<p class="title is-2 has-text-corporate"> Empresas que confían en nosotros </p>
			</div>
		</div>
		<div class="box mt4 pv5">
			<div class="columns is-vertical-center has-text-centered">
				<div class="column">
					<%= image_tag(asset_path('emogg_logo.png'), width: 100, height: 100) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('by_evolution_logo.png'), width: 100, height: 100) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('dnv_logo.png'), width: 100, height: 100) %>
				</div>
			</div>
			<div class="columns is-vertical-center has-text-centered">
				<div class="column">
					<%= image_tag(asset_path('t_systems_logo.png'), width: 100, height: 100) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('madeofgenes_logo.png'), width: 100, height: 100) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('gartner_logo.png'), width: 100, height: 100) %>
				</div>
			</div>
			<div class="columns is-vertical-center has-text-centered">
				<div class="column">
					<%= image_tag(asset_path('nuo_planet.jpg'), width: 100, height: 100) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('knauf.png'), width: 100, height: 100) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('webedia_logo.png'), width: 100, height: 100) %>
				</div>
			</div>
			<div class="columns is-vertical-center has-text-centered">
				<div class="column">
					<%= image_tag(asset_path('sequra_logo.png'), width: 100, height: 100) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('payfit_logo.png'), width: 100, height: 100) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('sennder_logo.png'), width: 100, height: 100) %>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>

<section class="section pv5">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					Nos obsesiona
				</p>
				<p>
					<strong> Encontrar el talento que buscas </strong> el 100% de las veces.
				</p>
				<p class="mt4">
          <strong> El talento digital </strong> es la materia prima de las nuevas organizaciones ¡Como la tuya!.
				</p>
				<p class="mt4">
          <strong> La velocidad </strong>, para que tu equipo crezca cuanto antes.
				</p>
			</div>
			<div class="column">
				<img src="<%=asset_path('undraw_data.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>

<section class="section section-bg-gray pv6">
	<div class="container">
		<div class="columns">
			<div class="column has-text-centered">
				<p class="title is-2 has-text-corporate"> Colaboramos con: </p>
			</div>
		</div>
		<div class="box mt4 pv5">
			<div class="columns is-vertical-center has-text-centered">
				<div class="column">
					<%= image_tag(asset_path('UIC.png'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('codehouse_academy.png'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('inesdi.jpg'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('ironhack.png'), width: 60, height: 60) %>
				</div>
			</div>
			<div class="columns is-vertical-center has-text-centered">
				<div class="column">
					<%= image_tag(asset_path('lets_coder.png'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('esade.png'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('BAU.png'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('BTS.png'), width: 80, height: 80) %>
				</div>
			</div>
			<div class="columns is-vertical-center has-text-centered">
				<div class="column">
					<%= image_tag(asset_path('esdi.png'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('KEEPCODING.png'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('la_salle.png'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('upc.png'), width: 80, height: 80) %>
				</div>
			</div>
			<div class="columns is-vertical-center has-text-centered">
				<div class="column">
					<%= image_tag(asset_path('elisava.png'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('epitech.jpg'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('gse_bcn.jpg'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('IEBS.png'), width: 80, height: 80) %>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="mt6"></div>

<section class="section pt4">
	<div class="container">
		<div class="columns">
			<div class="column has-text-centered">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					Pruébanos ahora
				</p>
				<p>
					Publica tu job en We Are Hiring
				</p>
				<p class="mt4">
					<%= link_to "Publicar", new_company_registration_path, class: 'button is-rounded primary is-large shadow' %>
				</p>
			</div>
		</div>
	</div>
</section>

<%= content_for :head do %>
	<%= render "seo", 
			title: t('seo.companies_title'), 
			description: t('seo.companies_description'),
			image: image_url(asset_path('wah_red_logo.png')) %>
<% end %>
