<div class="mt5 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section pv5">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					Éste es tu lugar
				</p>
				<p>
          Únete a la comunidad digital más activa del momento y <br>
          accede a oportunidades de trabajo dentro del ecosistema tecnológico que encajen contigo.
				</p>
				<p class="mt4">
					<%= link_to t('create_account'), new_user_registration_path, class: 'button is-rounded primary shadow' %>
					<%= link_to "https://discord.gg/feMXMacM9w", class: 'button is-rounded shadow' do %>
						<%= icon('fab', 'discord', class: 'mr2') %> Discord 
					<% end %>
				</p>
			</div>
      <div class="column mt3 is-hidden-desktop"></div>
			<div class="column">
				<img src="<%=asset_path('undraw_programmer.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section pv5">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column is-hidden-touch">
				<img src="<%=asset_path('undraw_online_wishes.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					Digital talent place
				</p>
				<p class="is-size-5 mb3 has-text-weight-bold">
					Sólo empleos tecnológicos. <br>
					Recién salidos del horno.
				</p>
				<p>
					En We Are Hiring agrupamos y damos <br>
					visibilidad a los Jobs digitales más recientes.
				</p>
			</div>
      <div class="column is-hidden-desktop">
				<img src="<%=asset_path('undraw_online_wishes.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>

<section class="section pv5">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					We Match
				</p>
				<p class="is-size-5 mb3 has-text-weight-bold">
					Haz que el trabajo venga a ti. <br>
					Multiplica x10 tu visibilidad.
				</p>
				<p>
					Activa We Match y las empresas podrán encontrar tu perfil por tus requerimientos.
				</p>
			</div>
			<div class="column">
				<img src="<%=asset_path('undraw_surveillance.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>

<section class="section pv5">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column is-hidden-touch">
				<img src="<%=asset_path('undraw_positive_attitude.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					Toda una comunidad digital para ti
				</p>
				<p class="is-size-5 mb3 has-text-weight-bold">
					Crece con la WAH Community
				</p>
				<p>
					Una comunidad exclusiva donde conectaras con los mejores profesionales de tu sector. <br>
					Mentoring, Learning, Networking o el simple placer de compartir con otros.
				</p>
				<p class="mt4">
					<%= link_to "https://discord.gg/feMXMacM9w", class: 'button is-rounded shadow' do %>
						<%= icon('fab', 'discord', class: 'mr2') %> Discord 
					<% end %>
				</p>
			</div>
      <div class="column is-hidden-desktop">
				<img src="<%=asset_path('undraw_positive_attitude.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>

<section class="section section-bg-gray pv6">
	<div class="container">
		<p class="title is-2 has-text-weight-bold has-text-corporate has-text-centered">
			Estos sí que hicieron match
		</p>
		<div class="columns mt4">
			<div class="column">
				<div class="card">
					<div class="card-content">
						<div class="rounded-image m-auto size-120">
							<img src="<%=asset_path('alex_lope.jpeg')%>" class="is-blank">			
						</div>
						<div class="media mt3">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="<%=asset_path('emogg_logo.png')%>" class="is-blank">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4">Alex Lope</p>
								<p class="subtitle is-6">Fullstack developer - Emogg</p>
							</div>
						</div>
						<div class="content">
							"Buscaba el reto de trabajar en una startup como desarrollador de software y gracias a We Are Hiring conocí a Emogg."
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-content">
						<div class="rounded-image m-auto size-120">
							<img src="<%=asset_path('jose_alvarez.jpeg')%>" class="is-blank">			
						</div>
						<div class="media mt3">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="<%=asset_path('nuo_planet.jpg')%>" class="is-blank">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4">Jose Álvarez</p>
								<p class="subtitle is-6">ReactJS developer - Nüo Planet</p>
							</div>
						</div>
						<div class="content">
							"Nunca imaginé dar este salto profesional de una manera tan rápida, sencilla y transparente ¡Fue surrealista!"
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-content">
						<div class="rounded-image m-auto size-120">
							<img src="<%=asset_path('laia_armengol.jpeg')%>" class="is-blank">			
						</div>
						<div class="media mt3">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="<%=asset_path('knauf.png')%>" class="is-blank">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4">Laia Armengol</p>
								<p class="subtitle is-6">SEO specialist - Knauff Insulation</p>
							</div>
						</div>
						<div class="content">
							"Cuesta encontrar páginas especializadas y que agrupen de una manera tan directa ofertas digitales."
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="columns mt5">
    <div class="column has-text-centered">
      <%= link_to "Únete a We Are Hiring", new_user_registration_path, class: 'button is-rounded primary is-large shadow' %>
    </div>
  </div>
</section>

<div class="mt5 is-hidden-touch"></div>

<section class="section pv5">
	<div class="container">
		<div class="columns">
			<div class="column has-text-centered">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					Estamos a tu disposición
				</p>
				<p class="is-size-5 mb3 has-text-weight-bold">
					Fácil. Sin letra pequeña. Sin Spam.
				</p>
				<p>
					Nuestro objetivo es que crezcas como profesional más allá del portal.
				</p>
				<img src="<%=asset_path('undraw_powerful.svg')%>" width="400" height="400" class="is-blank mt5" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">
			</div>
		</div>
	</div>
</section>

<hr>

<div class="mt5 is-hidden-touch"></div>

<section class="section pv5">
	<div class="container">
		<div class="columns">
			<div class="column has-text-centered">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					Entra en la WAH Community
				</p>
				<p class="mt4">
					<%= link_to "https://www.linkedin.com/company/we-are-hiring-digital-talent-place", target: "_blank", class: 'button is-rounded shadow' do %>
						<%= icon('fab', 'linkedin', class: 'mr2') %> Linkedin 
					<% end %>					
					<%= link_to "https://discord.gg/feMXMacM9w", target: "_blank", class: 'button is-rounded shadow' do %>
						<%= icon('fab', 'discord', class: 'mr2') %> Discord 
					<% end %>
					<%= link_to "https://twitter.com/WeAreHiring_io", target: "_blank", class: 'button is-rounded shadow' do %>
						<%= icon('fab', 'twitter', class: 'mr2') %> Twitter 
					<% end %>
				</p>
			</div>
		</div>
	</div>
</section>

<%= content_for :head do %>
	<%= render "seo", 
			title: t('seo.talent_title'), 
			description: t('seo.talent_description'),
			image: image_url(asset_path('wah_red_logo.png')) %>
<% end %>
