<div class="mt5 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section pv5">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					<%= content_tag(:span, t('home_index.first_section_text_2').capitalize) %>
				</p>
				<p>
          <%= t('talent_index.first_section_text_1') %> <br>
          <%= t('talent_index.first_section_text_2') %>
				</p>
				<p class="mt4">
					<%= link_to t('create_account'), new_user_registration_path, class: 'button is-rounded primary shadow' %>
					<%= link_to "https://discord.gg/feMXMacM9w", class: 'button is-rounded shadow' do %>
						<%= icon('fab', 'discord', class: 'mr2') %> Discord 
					<% end %>
				</p>
			</div>
      <div class="column mt3 is-hidden-desktop"></div>
			<div class="column">
				<img src="<%=asset_path('undraw_programmer.svg')%>" width="400" height="400" class="is-blank" alt="<%= t('talent_index.first_section_text_1') %> | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section pv5">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column is-hidden-touch">
				<img src="<%=asset_path('undraw_online_wishes.svg')%>" width="400" height="400" class="is-blank" alt="<%= t('home_index.first_section_text_3') %> | Wearehiring.io">			
			</div>
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					Digital talent place
				</p>
				<p class="is-size-5 mb3 has-text-weight-bold">
					<%= t('home_index.first_section_text_3') %> <br>
					<%= t('home_index.first_section_text_4') %>
				</p>
				<p>
					<%= t('home_index.first_section_text_5') %> <br>
					<%= t('home_index.first_section_text_6') %>
				</p>
			</div>
      <div class="column is-hidden-desktop">
				<img src="<%=asset_path('undraw_online_wishes.svg')%>" width="400" height="400" class="is-blank" alt="<%= t('home_index.first_section_text_3') %> | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>

<section class="section pv5">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					We Match
				</p>
				<p class="is-size-5 mb3 has-text-weight-bold">
					<%= t('talent_index.third_section_text_1') %> <br>
					<%= t('talent_index.third_section_text_2') %>
				</p>
				<p>
					<%= t('talent_index.third_section_text_3') %>
				</p>
			</div>
			<div class="column">
				<img src="<%=asset_path('undraw_surveillance.svg')%>" width="400" height="400" class="is-blank" alt="<%= t('talent_index.third_section_text_1') %> | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>

<section class="section pv5">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column is-hidden-touch">
				<img src="<%=asset_path('undraw_positive_attitude.svg')%>" width="400" height="400" class="is-blank" alt="<%= t('talent_index.fourth_section_text_1') %> | Wearehiring.io">			
			</div>
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
          <%= t('talent_index.fourth_section_text_1') %>
				</p>
				<p class="is-size-5 mb3 has-text-weight-bold">
          <%= t('talent_index.fourth_section_text_2') %>
				</p>
				<p>
          <%= t('talent_index.fourth_section_text_3') %> <br>
          <%= t('talent_index.fourth_section_text_4') %>
				</p>
				<p class="mt4">
					<%= link_to "https://discord.gg/feMXMacM9w", class: 'button is-rounded shadow' do %>
						<%= icon('fab', 'discord', class: 'mr2') %> Discord 
					<% end %>
				</p>
			</div>
      <div class="column is-hidden-desktop">
				<img src="<%=asset_path('undraw_positive_attitude.svg')%>" width="400" height="400" class="is-blank" alt="<%= t('talent_index.fourth_section_text_1') %> | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>

<section class="section section-bg-gray pv6">
	<div class="container">
		<p class="title is-2 has-text-weight-bold has-text-corporate has-text-centered">
			<%= t('home_index.people_heading_2') %>
		</p>
		<div class="columns mt4">
			<div class="column">
				<div class="card">
					<div class="card-content">
						<div class="rounded-image m-auto size-120">
							<img src="<%=asset_path('alex_lope.jpg')%>" class="is-blank">			
						</div>
						<div class="media mt3">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="<%=asset_path('emogg_logo.png')%>" class="is-blank">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4">Alex Lope</p>
								<p class="subtitle is-6">Fullstack developer - Emogg</p>
							</div>
						</div>
						<div class="content">
							<%= t('home_index.people_1') %>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-content">
						<div class="rounded-image m-auto size-120">
							<img src="<%=asset_path('jose_alvarez.jpg')%>" class="is-blank">			
						</div>
						<div class="media mt3">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="<%=asset_path('nuo_planet.jpg')%>" class="is-blank">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4">Jose Álvarez</p>
								<p class="subtitle is-6">ReactJS developer - Nüo Planet</p>
							</div>
						</div>
						<div class="content">
							<%= t('home_index.people_2') %>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-content">
						<div class="rounded-image m-auto size-120">
							<img src="<%=asset_path('laia_armengol.jpg')%>" class="is-blank">			
						</div>
						<div class="media mt3">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="<%=asset_path('knauf.png')%>" class="is-blank">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4">Laia Armengol</p>
								<p class="subtitle is-6">SEO specialist - Knauff Insulation</p>
							</div>
						</div>
						<div class="content">
							<%= t('home_index.people_3') %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="columns mt5">
    <div class="column has-text-centered">
      <%= link_to t('join_we_are_hiring'), new_user_registration_path, class: 'button is-rounded primary is-large shadow' %>
    </div>
  </div>
</section>

<div class="mt5 is-hidden-touch"></div>

<section class="section pv5">
	<div class="container">
		<div class="columns">
			<div class="column has-text-centered">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					<%= t('talent_index.fifth_section_text_1') %>
				</p>
				<p class="is-size-5 mb3 has-text-weight-bold">
					<%= t('talent_index.fifth_section_text_2') %>
				</p>
				<p>
					<%= t('talent_index.fifth_section_text_3') %>
				</p>
				<img src="<%=asset_path('undraw_powerful.svg')%>" width="400" height="400" class="is-blank mt5" alt="<%= t('talent_index.fifth_section_text_1') %> | Wearehiring.io">
			</div>
		</div>
	</div>
</section>

<hr>

<div class="mt5 is-hidden-touch"></div>

<section class="section pv5">
	<div class="container">
		<div class="columns">
			<div class="column has-text-centered">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					<%= t('join_we_are_hiring') %>
				</p>
				<p class="mt4">
					<%= link_to "https://www.linkedin.com/company/we-are-hiring-digital-talent-place", target: "_blank", class: 'button is-rounded shadow' do %>
						<%= icon('fab', 'linkedin', class: 'mr2') %> Linkedin 
					<% end %>					
					<%= link_to "https://discord.gg/feMXMacM9w", target: "_blank", class: 'button is-rounded shadow' do %>
						<%= icon('fab', 'discord', class: 'mr2') %> Discord 
					<% end %>
					<%= link_to "https://twitter.com/WeAreHiring_io", target: "_blank", class: 'button is-rounded shadow' do %>
						<%= icon('fab', 'twitter', class: 'mr2') %> Twitter 
					<% end %>
				</p>
			</div>
		</div>
	</div>
</section>

<%= content_for :head do %>
	<%= render "seo", 
			title: t('seo.talent_title'), 
			description: t('seo.talent_description'),
      image: image_url(asset_path('wah_red_logo.png')) %>
  <% if I18n.locale == :es %>
    <%= tag(:link, rel: 'canonical', href: talent_how_it_works_es_url) %>
    <%= tag(:link, rel: 'alternate', href: talent_how_it_works_en_url, hreflang: :en) %>
    <%= tag(:link, rel: 'alternate', href: talent_how_it_works_es_url, hreflang: :es) %>
  <% else %>
    <%= tag(:link, rel: 'canonical', href: talent_how_it_works_en_url) %>
    <%= tag(:link, rel: 'alternate', href: talent_how_it_works_en_url, hreflang: :en) %>
    <%= tag(:link, rel: 'alternate', href: talent_how_it_works_es_url, hreflang: :es) %>
  <% end %>  
<% end %>
