<section class="section">
	<div class="container claim is-max-widescreen">
		<div class="columns is-vcentered">
			<div class="column is-5-desktop has-text-centered-mobile">
				<%= render 'claim' %>

				<div class="mv5"></div>
				<%= form_tag(root_path, method: :get) do %>
          <div class="columns is-vertical-center is-multiline">
            <div class="column is-9-desktop is-9-tablet is-12-mobile">
              <div class="control has-icons-left">
                <input
                  type="text"
                  id="search"
                  class="input searchbar is-large"
                  placeholder="<%=t('search_placeholder')%>" 
                  name="search_for" 
                  value="<%=params[:search_for] ? params[:search_for] : ''%>">
                <span class="icon is-small is-left">
                  <%= icon('fas', 'search') %>
                </span>
              </div>
            </div>
            <div class="column is-3-desktop is-3-tablet is-12-mobile has-text-right">
              <%= button_tag(t('search'), type: 'submit', class: "button primary is-fullwidth is-large", data: { disable_with: "<i class='fas fa-spinner fa-spin'></i>".html_safe }) %>
            </div>
          </div>
				<% end %>

				<p class="mt3 search-category-tags">
					<%= t('example') %>:
          <%= link_to root_path(search_for: 'backend') do %>
            <span class="tag is-light mr3"> Backend </span>
          <% end %>
          <%= link_to root_path(search_for: 'javascript') do %>
            <span class="tag is-light mr3"> Javascript </span>
          <% end %>
          <%= link_to root_path(search_for: 'remoto') do %>
            <span class="tag is-light mr3"> Remoto </span>
          <% end %>
				</p>
 			</div>
			<div class="column is-7-desktop">
				<%= image_tag(asset_path('WAH_cohete_1.svg'), alt: t('seo.jobs_description')) %>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container is-max-widescreen"">
		<div class="columns has-text-centered is-flex-desktop is-align-items-center">
			<div class="column">
				<%= image_tag(asset_path('emogg_logo.png'), width: 60, height: 60, alt: 'Emogg - We Are Hiring partner') %>
			</div>
			<div class="column">
				<%= image_tag(asset_path('t_systems_logo.png'), width: 100, height: 100, alt: 'TSystems - We Are Hiring partner') %>
			</div>
			<div class="column">
				<%= image_tag(asset_path('dnv_logo.png'), width: 80, height: 80, alt: 'DNV - We Are Hiring partner') %>
			</div>
			<div class="column">
				<%= image_tag(asset_path('madeofgenes_logo.png'), width: 100, height: 100, alt: 'MadeOfGenes - We Are Hiring partner') %>
			</div>
			<div class="column">
				<%= image_tag(asset_path('logo_vicio.png'), width: 100, height: 100, alt: 'Vicio - We Are Hiring partner') %>
			</div>
			<div class="column">
        <%= image_tag(asset_path('logo_quasar_dynamics.png'), width: 100, height: 100, alt: 'Quasar dynamics - We Are Hiring partner') %>
      </div>
		</div>
	</div>
</section>

<section class="section has-text-left-mobile section-bg-gray pv6">
	<div class="container">
    <div class="columns">
      <div class="column has-text-centered mb5">
        <h2 class="title is-3 title-touch"> 
          <%= t('home_index.first_section_text_5') %> <br>
          <span class="primary-color"> <%= t('home_index.first_section_text_6') %> </span>
        </h2>
      </div>
    </div>
		<div class="columns">
			<div class="column has-text-left">
				<p class="title is-3"> <%= t('last') %> <%= @jobs_count %> <%= t('digital_job_offers') %>	</p>
			</div>
		</div>
		<div class="columns">
			<div class="column boxes-wrapper">
				<%= render partial: '/jobs/job', collection: @jobs %>
			</div>
		</div>
		<div class="columns">
			<div class="column has-text-centered">
				<%= link_to t('show_all_jobs'),
            root_path,
            class: 'button is-rounded primary is-large shadow' %>
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column">
				<h3 class="title is-2 has-text-weight-bold has-text-corporate">
					<%= t('home_index.first_section_text_1') %>, <br>
					<%= t('home_index.first_section_text_2') %>
				</h3>
				<p class="is-size-5 mb3 has-text-weight-bold">
					<%= t('home_index.first_section_text_3') %> <br>
					<%= t('home_index.first_section_text_4') %>
				</p>
				<p>
					<%= t('home_index.first_section_text_5') %> <br>
					<%= t('home_index.first_section_text_6') %>
				</p>
				<p class="mt3">
					<%= link_to url_for(controller: '/how_it_works', action: 'talent', locale: I18n.locale.to_s), hreflang: I18n.locale.to_s, rel: 'alternate' do %>
            <span><%= t('for_talent') %></span> <%= icon('fas', 'arrow-right', class: 'ml3') %>
          <% end %>
				</p>
			</div>
      <div class="column mv3 is-hidden-desktop"></div>
			<div class="column">
				<img src="<%=asset_path('undraw_navigation.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">		
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column is-hidden-touch">
				<img src="<%=asset_path('undraw_community.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">	
			</div>
			<div class="column">
				<h3 class="title is-2 has-text-weight-bold has-text-corporate">
          <%= t('home_index.second_section_text_1') %>
				</h3>
				<p class="is-size-5 mb3 has-text-weight-bold">
					<%= t('home_index.second_section_text_2') %>
				</p>
				<p>
					<%= t('home_index.second_section_text_3') %> <br>
					<%= t('home_index.second_section_text_4') %>
				</p>
			</div>
      <div class="column is-hidden-desktop mt4">
				<img src="<%=asset_path('undraw_community.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">	
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section section-bg-gray pv6">
	<div class="container">
		<p class="title is-2 has-text-weight-bold has-text-corporate has-text-centered">
      <%= t('home_index.people_heading') %>
		</p>
		<div class="columns mt4">
			<div class="column">
				<div class="card">
					<div class="card-content">
						<div class="rounded-image m-auto size-120">
							<img src="<%=asset_path('alex_lope.jpg')%>" class="is-blank">			
						</div>
						<div class="media mt3">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="<%=asset_path('emogg_logo.png')%>" class="is-blank">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4">Ramón Bassols</p>
								<p class="subtitle is-6">Fullstack developer - Emogg</p>
							</div>
						</div>
						<div class="content">
							<%= t('home_index.people_1') %>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-content">
						<div class="rounded-image m-auto size-120">
							<img src="<%=asset_path('jose_alvarez.jpg')%>" class="is-blank">			
						</div>
						<div class="media mt3">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="<%=asset_path('nuo_planet.jpg')%>" class="is-blank">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4">Jose Álvarez</p>
								<p class="subtitle is-6">ReactJS developer - Nüo Planet</p>
							</div>
						</div>
						<div class="content">
							<%= t('home_index.people_2') %>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-content">
						<div class="rounded-image m-auto size-120">
							<img src="<%=asset_path('laia_armengol.jpg')%>" class="is-blank">			
						</div>
						<div class="media mt3">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="<%=asset_path('knauf.png')%>" class="is-blank">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4">Laia Armengol</p>
								<p class="subtitle is-6">SEO specialist - Knauff Insulation</p>
							</div>
						</div>
						<div class="content">
							<%= t('home_index.people_3') %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="columns mt5">
    <div class="column has-text-centered">
      <%= link_to t('join_we_are_hiring'), new_user_registration_path, class: 'button is-rounded primary is-large shadow' %>
    </div>
  </div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					<%= t('home_index.third_section_text_1') %>
				</p>
				<p>
					<%= t('home_index.third_section_text_2') %>
				</p>
			</div>
			<div class="column">
				<img src="<%=asset_path('undraw_maker_launch.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column is-hidden-touch">
				<img src="<%=asset_path('undraw_order_confirmed.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					<%= t('home_index.fourth_section_text_1') %>
				</p>
				<p class="is-size-5 mb3 has-text-weight-bold">
					<%= t('home_index.fourth_section_text_2') %>
				</p>
				<p>
					<%= t('home_index.fourth_section_text_3') %>
				</p>
				<p class="mt3">
          <%= link_to url_for(controller: '/how_it_works', action: 'companies', locale: I18n.locale.to_s), hreflang: I18n.locale.to_s, rel: 'alternate' do %>
            <span><%= t('for_companies') %></span> <%= icon('fas', 'arrow-right', class: 'ml3') %>
          <% end %>
				</p>
			</div>
      <div class="column is-hidden-desktop">
				<img src="<%=asset_path('undraw_order_confirmed.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

  <section class="section">
    <div class="container">
      <div class="headline container has-text-centered pt2">
        <div class="mb4">
          <h1 class="title is-3">
            <%= t('pricing_index.title_1') %>
          </h1>
          <p class="subtitle">
            <%= t('pricing_index.subtitle_3') %>
          </p>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box radius-20 full-height is-flex is-flex-direction-column pricing-price-box">
            <div class="columns is-vcentered">
              <div class="column">
                <p class="has-text-grey mt4 mb3"> <%= t('included') %>: </p>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.subtitle_1') %> </p>         
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_1') %> </p>         
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_6') %> </p>
                  <p> <%= icon('fas', 'gem has-text-info ml2') %> </p>
                  <p class="ml2 has-text-weight-semibold"> <%= t('dont_wait_candidates_apply') %> </p>
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_7') %> </p>
                  <p> <%= icon('fas', 'star has-text-warning ml2') %> </p>
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_8') %> </p>
                  <p> <%= icon('fas', 'bullhorn has-text-corporate ml2') %> </p>
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_9') %> </p>
                  <p> <%= icon('fas', 'bolt has-text-warning ml2') %> </p>
                </div>
                <div class="is-flex mb4">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_10') %> </p>
                  <p> <%= icon('fas', 'plug ml2') %> </p>
                  <p> <%= icon('fab', 'google ml2') %> </p>
                </div>
                <p class="has-text-grey mt3 mb3"> <%= t('plus_feature') %>: </p>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p> <%= t('pricing_index.pricing_feature_2') %> </p>
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p> <%= t('pricing_index.pricing_feature_3') %> </p>
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p> <%= t('pricing_index.pricing_feature_4') %> </p>
                </div>
                <div class="is-flex">
                  <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
                  <p> <%= t('download_candidates_excel') %> </p>
                </div>
              </div>
              <div class="column has-text-centered">
                <p class="">
                  <span class="title pricing-price-title"> 299€ </span> /
                  <span class="has-text-weight-semibold"> <%= t('pricing_index.per_job') %> </span>
                </p>
                <p class="is-vertical-center is-justify-content-center">
                  <span class="has-text-weight-light is-italic"> 
                    340.86€ <%= t('tax_included') %>
                  </span>
                </p>
                <div class="mb3 is-hidden-tablet"></div>
                <p class="is-vertical-center is-justify-content-center">
                  <%= image_tag(asset_path('stipe_climate.svg'), height: 20, width: 20, class: 'mr1') %>
                  <span class="has-text-weight-light is-italic">
                    <%= t('stripe_climate') %>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns mt5">
        <div class="column has-text-centered">
          <%= link_to pricing_path, class: 'button is-rounded primary is-large shadow' do %>
            <%= t('know_all_the_advantages') %>
            <%= icon('fas', 'rocket', class: 'ml1') %>
          <% end %>
        </div>
      </div>
    </div>
  </section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section pv6">
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        <p class="title is-2 has-text-corporate"> <%= t('companies_trust_us') %> </p>
      </div>
    </div>
    <div class="box mt4 pv5 pricing-company-logos">
      <div class="columns is-vertical-center has-text-centered">
        <div class="column">
          <%= link_to 'https://emogg.com/', target: '_blank' do %>
            <%= image_tag(asset_path('emogg_logo.png'), width: 100, height: 100, alt: 'Emogg - We Are Hiring partner') %>
          <% end %>
        </div>
        <div class="column">
          <%= link_to 'https://www.ganasdevicio.com/', target: '_blank' do %>
            <%= image_tag(asset_path('logo_vicio.png'), width: 100, height: 100, alt: 'Vicio - We Are Hiring partner') %>
          <% end %>
        </div>
        <div class="column">
          <%= link_to 'https://quasardynamics.com/', target: '_blank' do %>
            <%= image_tag(asset_path('logo_quasar_dynamics.png'), width: 100, height: 100, alt: 'Quasar Dynamics - We Are Hiring partner') %>
          <% end %>
        </div>
      </div>
      <div class="columns is-vertical-center has-text-centered">
        <div class="column">
          <%= link_to 'https://www.t-systems.com/es/es', target: '_blank' do %>
            <%= image_tag(asset_path('t_systems_logo.png'), width: 100, height: 100, alt: 'TSystems - We Are Hiring partner') %>
          <% end %>
        </div>
        <div class="column">
          <%= link_to 'https://madeofgenes.com/', target: '_blank' do %>
            <%= image_tag(asset_path('madeofgenes_logo.png'), width: 100, height: 100, alt: 'MadeOfGenes - We Are Hiring partner') %>
          <% end %>
        </div>
        <div class="column">
          <%= link_to 'https://www.gartner.es/es', target: '_blank' do %>
            <%= image_tag(asset_path('gartner_logo.png'), width: 100, height: 100, alt: 'Gartner - We Are Hiring partner') %>
          <% end %>
        </div>
      </div>
      <div class="columns is-vertical-center has-text-centered">
        <div class="column">
          <%= link_to 'https://emogg.com/', target: '_blank' do %>
            <%= image_tag(asset_path('nuo_planet.jpg'), width: 100, height: 100, alt: 'Nuo - We Are Hiring partner') %>
          <% end %>
        </div>
        <div class="column">
          <%= link_to 'https://nuoplanet.com/', target: '_blank' do %>
            <%= image_tag(asset_path('dnv_logo.png'), width: 100, height: 100, alt: 'DNV - We Are Hiring partner') %>
          <% end %>
        </div>
        <div class="column">
          <%= link_to 'https://belender.eu/', target: '_blank' do %>
            <%= image_tag(asset_path('belender_logo.png'), width: 100, height: 100, alt: 'Belender EU - We Are Hiring partner') %>
          <% end %>
        </div>
      </div>
      <div class="columns is-vertical-center has-text-centered">
        <div class="column">
          <%= link_to 'https://www.housell.com/', target: '_blank' do %>
            <%= image_tag(asset_path('logo_housell.png'), width: 100, height: 100, alt: 'Housell - We Are Hiring partner') %>
          <% end %>
        </div>
        <div class="column">
          <%= link_to 'https://www.turijobs.com/', target: '_blank' do %>
            <%= image_tag(asset_path('logo_turijobs.png'), width: 100, height: 100, alt: 'Turijobs - We Are Hiring partner') %>
          <% end %>
        </div>
        <div class="column">
          <%= link_to 'https://www.mobilots.com/es/', target: '_blank' do %>
            <%= image_tag(asset_path('logo_mobilots.png'), width: 100, height: 100, alt: 'Talent Hackers - We Are Hiring partner') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        <h2 class="title is-3"> <%= t('i_want_digital_talent') %>: </h2>
        <% url = user_signed_in? ? new_companies_job_path :  new_company_registration_path %>
        <%= link_to url, 
            class: "button primary is-large is-rounded" do %>
            <%= t('jobs.post_job') %> <%= icon('fas', 'bullhorn ml2') %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section pv5">
	<div class="container is-max-widescreen">
  	<div class="columns">
			<div class="column has-text-centered">
				<p class="title is-2 has-text-corporate"> <%= t('home_index.start_now') %> </p>
			</div>
		</div>
    <div class="columns mt3">
      <div class="column has-text-right-desktop has-text-centered-touch">
        <%= link_to t('im_talent'), new_user_registration_path, class: 'button is-rounded primary is-large shadow' %>
      </div>
      <div class="column has-text-centered-touch">
        <%= link_to t('search_talent'), new_company_registration_path, class: 'button is-rounded is-dark is-large shadow' %>
      </div>
    </div>
  </div>
</section>

<%= content_for :head do %>
	<%= render "seo", 
			title: t('seo.home_title'), 
			description: t('seo.home_description'),
			image: image_url(asset_path('wah_red_logo.png')) %>

  <% if I18n.locale == :es %>
    <%= tag(:link, rel: 'canonical', href: about_us_es_url) %>
    <%= tag(:link, rel: 'alternate', href: about_us_en_url, hreflang: :en) %>
    <%= tag(:link, rel: 'alternate', href: about_us_es_url, hreflang: :es) %>
  <% else %>
    <%= tag(:link, rel: 'canonical', href: about_us_en_url) %>
    <%= tag(:link, rel: 'alternate', href: about_us_en_url, hreflang: :en) %>
    <%= tag(:link, rel: 'alternate', href: about_us_es_url, hreflang: :es) %>
  <% end %>
<% end %>

<%= content_for :footer do %>
  <%= javascript_include_tag "jobs/typewriter.js" %>
<% end %>
