<section class="section">
  <div class="container">
    <h1 class="f3"> <%= t('my_inscriptions') %>: <%= @inscriptions_count %> </h1>
    <section class="info-tiles">
      <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"><%= @inscriptions_count %></p>
            <p class="subtitle"><%= icon('fas', 'check-circle') %> Inscripciones</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"><%= @discardeds.count %></p>
            <p class="subtitle"> <%= icon('fas', 'heart-broken') %> Descartado</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"> <%= @in_process.count %> </p>
            <p class="subtitle"> <%= icon('fas', 'user-clock') %> En Proceso</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"> <%= @finalists.count %> </p>
            <p class="subtitle"><%= icon('fas', 'trophy') %> Finalista</p>
          </article>
        </div>
      </div>
    </section>
    <% %w[finalists in_process discardeds inscribeds].each do |inscriptions_status| %>
      <div class="columns mt2">
        <div class="column">
          <p class="f4 mb2"> 
            <% if inscriptions_status == 'finalists' %>
              <%= icon('fas', 'trophy') %>
            <% elsif inscriptions_status == 'in_process' %> 
              <%= icon('fas', 'user-clock') %>
            <% elsif inscriptions_status == 'discardeds' %>
              <%= icon('fas', 'hiking') %>
            <% else %>
              <%= icon('fas', 'check-circle') %>
            <% end %>
            <%= t("users.inscriptions.jobs_#{inscriptions_status}") %> 
          </p>
          <hr>
        </div>
      </div>

      <% if instance_variable_get("@#{inscriptions_status}".to_sym).count.zero? %>
        <div class="columns is-mobile is-vertical-center">
          <div class="column has-text-centered">
            <%= t("users.inscriptions.any_#{inscriptions_status}") %>
          </div>
        </div>
      <% else %>
        <%= render partial: 'job', 
          collection: instance_variable_get("@#{inscriptions_status}".to_sym), 
          as: :inscription %>
      <% end %>
    <% end %>
  </div>
</section>
