<%= simple_form_for(current_user, method: :patch, url: candidates_user_profile_path(current_user), html: { multipart: true }) do |f| %>
<%= f.hidden_field :visible, value: true %>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"> ¡Estás a un paso de activar We Match! </p>
      <button type="button" class="modal-close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="field mt3">
        <%= f.label t('skills.candidate_title'), class: 'has-text-weight-bold' %>
        <div class="control mt3">
          <%= f.collection_select :skill_ids, Skill.all, :id, :name, {}, { multiple: "multiple", class: "skills-select input", style: "width: 100%", required: true } %> 
        </div>
        <small> <%= t('skills.job_subtitle') %> </small>
      </div>
      <article class="message mt4 mb4">
        <div class="message-body">
          Activa We Match y aparecerás como <strong> Candidato Recomendado </strong> cuando las empresas busquen 
          perfiles como el tuyo. 
          <p><strong> ¡No busques trabajo, haz que el trabajo venga a ti! </strong> </p>
        </div>
      </article>
    </section>
    <footer class="modal-card-foot justify-center">
      <div class="we-match-btn-block">
        <button class= "btn btn--activate" id="btnActivation">
          <span class="btn__icon"></span>
          <span class="btn__text" data-wait="Activando">Activar</span>
        </button>
      </div>
    </footer>
  </div>
</div>
<% end %>     
