<%= simple_form_for(current_user, method: :patch, url: candidates_user_profile_path(current_user), html: { multipart: true }) do |f| %>
<%= f.hidden_field :visible, value: true %>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"> ¡Estás a un paso de activar We Match! </p>
      <button type="button" class="modal-close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="field mt4">
        <%= f.label t('skills.candidate_title'), class: 'has-text-weight-bold' %>
        <div class="control">
          <small> <%= t('skills.job_subtitle') %> </small>
          <%= f.collection_select :skill_ids, Skill.all, :id, :name, {}, { multiple: "multiple", class: "skills-select", style: "width: 100%", required: true } %>  
        </div>
      </div>
      <div class="field mt4">
        <strong> <%= t('users.salary_expectation') %> </strong>  
      </div>
      <div class="columns">
        <div class="column is-one-quarter-desktop">
          <div class="field">
            <div class="control has-icons-left">
              <%= f.input :salary_from, 
                input_html: { class: "input" }, 
                placeholder: '23000', 
                label: false, 
                required: true,
                hint: t('forms.from'),
                wrapper: false %>
              <span class="icon is-small is-left">
                <%= icon('fas', 'euro-sign') %>
              </span>
            </div>
          </div>
        </div>
        <div class="column is-one-quarter-desktop">
          <div class="field">
            <div class="control has-icons-left">
              <%= f.input :salary_to, 
                input_html: { class: "input" }, 
                placeholder: '40000', 
                label: false, 
                required: true,
                hint: t('forms.to'),
                wrapper: false %>
              <span class="icon is-small is-left">
                <%= icon('fas', 'euro-sign') %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <article class="message mt3">
        <div class="message-body">
          Activa We Match y aparecerás como <strong> Candidato Recomendado </strong> cuando las empresas busquen 
          perfiles como el tuyo. 
          <p><strong> ¡No busques trabajo, haz que el trabajo venga a ti! </strong> </p>
        </div>
      </article>

    </section>
    <footer class="modal-card-foot justify-center">
      <div class="we-match-btn-block">
        <button class= "btn btn--activate" id="btnActivation">
          <span class="btn__icon"></span>
          <span class="btn__text" data-wait="Activando">Activar</span>
        </button>
      </div>
    </footer>
  </div>
</div>
<% end %>     
