<%= link_to job do %>
  <div class="columns box-link radius-10">
    <div class="column bg-white radius-10">
      <div class="columns is-hidden-touch">
        <div class="column">
          <strong> <%= job.job_author %> </strong> 
          <%= t('is_looking_for_one').downcase %> 
          <strong> <%= job.title %>  </strong>
          <%= t('at').downcase %> 
          <strong> <%= job.location %> </strong>
        </div>
        <div class="column is-3-desktop has-text-right">
          <p class="f7"> <%= icon('fas', 'clock primary-color') %> Publicado <%= time_ago_in_words(job.created_at) %> </p>
        </div>
      </div>
      <div class="columns">
        <div class="column is-1 is-vertical-center justify-center pr0">
          <% if !job.avatar.file.nil? %>
            <div class="rounded-image size-80">
              <%= image_tag(job.avatar_url(:thumb), alt: job.job_author) %>
            </div>
          <% else %>
            <%= icon('far', 'image', style: 'font-size: 50px') %>
          <% end %>
        </div>
        <div class="column">
          <div class="pv1 pl2 pr2 bg-light">
            <strong> <%= job.title %> </strong>
          </div>
          <div class="pv1 pl2 pr2 mt2 bg-light">
            <%= icon('fas', 'globe mr1') %> <%= job.category.name %>
          </div>
          <div class="pv1 pl2 pr2 mt2 bg-light">
            <%= icon('fas', 'coins mr1') %> 
            <%= job_salary(job.salary_from, job.salary_to) %>          
          </div>        
        </div>
        <div class="column">
          <div class="pv1 pl2 pr2 bg-light is-vertical-center">
            <img src="<%=asset_path('level.svg')%>" width="20" height="20", class="mr2"> <%= job.level.name %>
          </div>           
          <div class="pv1 pl2 pr2 mt2 bg-light">
            <%= icon('far', 'clock mr2') %> <%= job.job_type.name %>
          </div>
          <div class="pv1 pl2 pr2 mt2 bg-light">
            <% if job.remote_ok? %>
              <%= icon('fas', 'wifi') %> <%= t('remote') %> 
            <% else %>
              <%= icon('fas', 'laptop') %> Oficina
            <% end %>     
          </div>
        </div>
        <div class="column is-relative">
          <% job.tags.each do |tag| %>
            <span class='tag is-success is-normal'> <%= tag.name %> </span>
          <% end %>  
          <% if job_author(job) %>
            <span class='tag is-info my-tag'> <%= t('you_posted') %> </span>
          <% end %>
          <% if current_user&.is_candidate? && user_inscribed_to(job) %>
            <span class='tag is-danger my-tag'> <%= t('inscribed') %> </span>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
  <div class="mb4"></div>
<% end %>