<div class="columns border-bottom bg-white">
  <div class="column is-1 is-vertical-center">
    <% if !job.avatar.file.nil? %>
      <%= link_to image_tag(job.avatar_url(:thumb), alt: job.job_author, width: 100, height: 100), job.url %>
    <% else %>
      <%= icon('far', 'image', style: 'font-size: 50px') %>
    <% end %>
  </div>
  <div class="column">
    <div class="columns is-hidden-touch">
      <div class="column">
        <%= job.job_author %> <%= t('is_looking_for_one').downcase %> <%= job.title %> <%= t('at').downcase %> <%= job.location %>
      </div>
      <div class="column is-3-desktop has-text-right">
        <p class="f7"> <%= icon('fas', 'clock') %> Publicado <%= time_ago_in_words(job.created_at) %> </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="pv1 pl2 pr2 bg-light">
          <strong> <%= job.title %> </strong>
        </div>
        <div class="pv1 pl2 pr2 mt2 bg-light">
          <%= icon('fas', 'globe mr1') %> <%= job.category.name %>
        </div>
      </div>
      <div class="column">
        <div class="pv1 pl2 pr2 bg-light">
          <%= icon('fas', 'coins mr1') %> <%= number_to_currency(job.budget) %>
        </div>
        <div class="pv1 pl2 pr2 mt2 bg-light">
          <span class="mr2"> <%= icon('far', 'clock mr1') %> <%= job.job_type.name %>  </span>
          <% if job.remote_ok? %>
            <%= icon('fas', 'wifi') %> <%= t('remote') %> 
          <% end %>
        </div>
      </div>
      <div class="column">
        <% job.tags.each do |tag| %>
          <span class='tag is-success is-normal'> <%= tag.name %> </span>
        <% end %>
      </div>
      <div class="column has-text-right is-2">
        <%= link_to t('view'), job, class: 'button is-large is-link' %>
        <% if current_user %>
          <% if job.inscriptions.any? {|u| u[:user_id] == current_user.id} %>
            <%= t('inscribed') %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if current_user.try(:admin) || job_author(job) %>
    <div class="columns">
      <div class="column">
        <ul class="pv3">
          <li class="inline-block f6"> <%= t('admin_controls') %>: </li>
          <li class="inline-block">
            <%= link_to 'View', job, class: 'button is-small is-link is-outlined' %></li>
          <li class="inline-block">
            <%= link_to 'Edit', edit_job_path(job), class: 'button is-small is-link is-outlined' %></li>
          <li class="inline-block">
            <%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small is-link is-outlined is-danger' %>
          </li>
          <li class=inline-block>
            <% if current_user.try(:admin) || job_author(job) %>
              <p> <%= t('expire_at') %>: <%= (job.expiry_date.to_date - job.created_at.to_date).to_i %> </p>
            <% end %>
          </li>
          </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="mb4"></div>
