<%= link_to job do %>
  <div class="columns box-link">
    <div class="column is-1 is-vertical-center">
      <% if !job.avatar.file.nil? %>
        <%= image_tag(job.avatar_url(:thumb), alt: job.job_author) %>
      <% else %>
        <%= icon('far', 'image', style: 'font-size: 50px') %>
      <% end %>
    </div>
    <div class="column bg-white">
      <div class="columns is-hidden-touch">
        <div class="column">
          <%= job.job_author %> 
          <%= t('is_looking_for_one').downcase %> 
          <%= job.title %> 
          <%= t('at').downcase %> 
          <%= job.location %>
        </div>
        <div class="column is-3-desktop has-text-right">
          <p class="f7"> <%= icon('fas', 'clock') %> Publicado <%= time_ago_in_words(job.created_at) %> </p>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="pv1 pl2 pr2 bg-light">
            <strong> <%= job.title %> </strong>
          </div>
          <div class="pv1 pl2 pr2 mt2 bg-light">
            <%= icon('fas', 'globe mr1') %> <%= job.category.name %>
          </div>
        </div>
        <div class="column">
          <div class="pv1 pl2 pr2 bg-light">
            <%= icon('fas', 'coins mr1') %> 
            <%= number_to_currency(job.salary_from) %> - <%= number_to_currency(job.salary_to) %>
          </div>
          <div class="pv1 pl2 pr2 mt2 bg-light">
            <span class="mr2"> <%= icon('far', 'clock mr1') %> <%= job.job_type.name %>  </span>
            <% if job.remote_ok? %>
              <%= icon('fas', 'wifi') %> <%= t('remote') %> 
            <% end %>
          </div>
        </div>
        <div class="column">
          <% job.tags.each do |tag| %>
            <span class='tag is-success is-normal'> <%= tag.name %> </span>
          <% end %>
        </div>
        <% if current_user&.is_candidate? %>
          <div class="column has-text-right is-2">
            <% if job.inscriptions.any? {|u| u[:user_id] == current_user.id} %>
              <%= t('inscribed') %>
            <% end %>
          </div>
        <% end %>
        <div class="column is-1">
          <% if job_author(job) %>
            Editar
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="mb4"></div>
<% end %>