<%= link_to url_for(controller: 'jobs', action: 'show', id: job.id, locale: I18n.locale.to_s), hreflang: I18n.locale.to_s, rel: 'alternate' do %>
  <div class="box radius-20 box-link">
    <% if job.created_at.to_date > 7.days.ago %>
      <div class="card-ribbon">
        <span>New</span>
      </div>
    <% end %>
    <div class="columns">
      <div class="column is-8 mb2">
        <article class="media">
          <div class="media-left">
            <figure class="image rounded-image size-70">
              <% if job.avatar.file.nil? %>
                <%= image_tag(asset_path('wah_red_logo.png'), alt: "Empleo de #{job.title} en #{job.job_author}") %>
              <% else %>
                <%= image_tag(job.avatar_url(:thumb), alt: "Empleo de #{job.title} en #{job.job_author}") %>
              <% end %>
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p class="has-font-size-18"> <strong> <%= job.title %> </strong> </p>
              <p class="has-font-size-16">
                <%= icon('fas', 'building mr1') %> <span class="mr3"> <%= job.job_author %> </span>
                <%= icon('fas', 'map-marker-alt mr1') %> <span> <%= job.location %> </span>
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-4 has-text-right-tablet">
        <div class="content">
          <p class="has-font-size-18 has-text-weight-bold"> 
            <%= icon('fas', 'euro-sign mr1 has-font-size-16') %> <%= job_salary(job.salary_from, job.salary_to) %>
          </p>
          <div>
            <span class="mr3">
              <% if job.remote_ok? %>
                <%= icon('fas', 'wifi mr1') %> <%= t('remote') %> 
              <% else %>
                <%= icon('fas', 'laptop mr1') %> Oficina
              <% end %>   
            </span>
            <span>
              <%= icon('far', 'clock mr1') %> <%= job.job_type.name %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <span class="job-tag category-tag mr2"> <%= icon('fas', 'puzzle-piece mr1') %> <%= job.category.name %> </span>
        <span class="job-tag level-tag mr2"> <%= icon('fas', 'graduation-cap mr1') %> <%= job.level.name %>  </span>
        <br class="is-hidden-widescreen">
        <% job.skills.first(4).each do |skill| %>
          <span class='job-tag skill-tag mr2'> <%= skill.name %> </span>
        <% end %> 
        <% if current_user&.is_candidate? && user_inscribed_to(job) %> 
          <span class='tag is-danger my-tag'> <%= t('inscribed') %> </span>
        <% end %>
      </div>
      <% if job.partner.present? %>
        <div class="column is-2 is-vertical-center is-justify-content-flex-end">
          <span class="is-size-6 has-text-weight-bold"> By <%= job.partner.name %> </span> 
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<div class="mb4"></div>
