<div class="tabs is-centered">
  <ul>
    <li class="<%= 'is-active' if current_page?(user_jobs_jobs_path) %>">
      <%= link_to user_jobs_jobs_path do %>
        <span class="icon is-small"><%= icon('fas', 'briefcase') %></span>
        <span> <%= t('my_jobs') %> </span>
      <% end if current_user.is_company? %>
    </li>
    <li class="<%= 'is-active' if current_page?(edit_user_registration_path) %>">
      <%= link_to edit_user_registration_path do %>
        <span class="icon is-small"><%= icon('fas', 'user') %></span>
        <span> <%= t('edit_password') %> </span>
      <% end %>
    </li>
  </ul>
</div>
