<%= form_tag(jobs_path, method: :get) do %>
  <div class="columns is-vertical-center is-multiline">
    <div class="column is-9-desktop is-9-tablet is-12-mobile">
      <div class="control has-icons-left">
        <input
          type="text"
          id="search"
          class="input searchbar is-large"
          placeholder="<%=t('search_placeholder')%>" 
          name="search_for" 
          value="<%=params[:search_for] ? params[:search_for] : ''%>">
        <span class="icon is-small is-left">
          <%= icon('fas', 'search') %>
        </span>
      </div>
    </div>
    <div class="column is-3-desktop is-3-tablet is-12-mobile has-text-right">
      <%= button_tag(t('search'), type: 'submit', class: "button primary is-fullwidth is-large", data: { disable_with: "<i class='fas fa-spinner fa-spin'></i>".html_safe }) %>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <%= check_box_tag :is_remote, true, params[:is_remote], { class: "switch remote-switch" } %>
      <%= label_tag :is_remote do %>
        <%= t('show_remote_jobs_only') %>
      <% end %>
    </div>
  </div>
<% end %>
