<%= form_for jobs_path, method: :get do |f| %>
  <div class="columns is-search is-vertical-center">
    <div class="column is-4-desktop">
     <input 
      type="text" 
      class="input" 
      placeholder="<%=t('search')%>" 
      name="search_for" 
      value="<%=params[:search_for] ? params[:search_for] : ''%>">
    </div>
    <div class="column is-hidden-touch">
      <div class="select">
        <%= select_tag :by_category, 
          options_from_collection_for_select(Category.all, :id, :name, params[:by_category].to_i), 
          :include_blank => t('select.category') %>
      </div>
    </div>
    <div class="column is-hidden-touch">
      <div class="select">
        <%= select_tag :by_job_type, 
          options_from_collection_for_select(JobType.all, :id, :name, params[:by_job_type].to_i), 
          :include_blank => t('select.job_type') %>
      </div>
    </div>
    <div class="column is-hidden-touch">
      <div class="select">
        <%= select_tag :by_level, 
          options_from_collection_for_select(Level.all, :id, :name, params[:by_level].to_i), 
          :include_blank => t('select.level') %>
      </div>
    </div>
    <div class="column is-hidden-touch fw5">
      <%= label_tag do %>
        <%= check_box_tag :is_remote, true, params[:is_remote] %>
        <%= t('remote') %>
      <% end %>
    </div>
    <div class="column has-text-right">
      <%= f.submit t('search'), class: "button primary is-medium" %>
    </div>
  </div>
<% end %>
