<section class="hero bg-primary mb3 mt3 search-hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-marginless">
        <div class="column">
          <h1 class="title is-white">
            <%= t('show_all_digital_offers') %>
          </h1>
        </div>
      </div>
      <div class="columns is-marginless">
        <div class="column">
          <%= render 'search' %>
        </div>
      </div>      
    </div>
  </div>
</section>

<section class="section pb5 pt2">
  <div class="container">
    <div class="columns">
      <div class="column mt2">
        <span><b> <%= @jobs_count %> <%= t('jobs.published_jobs') %> </b></span>
      </div>

      <div class="column has-text-right is-hidden-touch">
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span> <%= params[:sort_by] ? t(params[:sort_by]) : t('sort_by') %> </span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
              <%= link_to t('oldest'), jobs_path(sort_by: "oldest"), class: "dropdown-item" %>
              <%= link_to t('newest'), jobs_path(sort_by: "newest"), class: "dropdown-item" %>
              <%= link_to t('by_title'), jobs_path(sort_by: "by_title"), class: "dropdown-item" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="boxes-wrapper">
        <%= render @jobs %>
    </div>

    <div class="columns mt2 is-centered">
      <div class="column is-half-desktop">
        <%= paginate @jobs %>
      </div>
    </div>
  </div>
</section>

<%= content_for :head do %>
  <%= render "seo", title: t('seo.jobs_title') , description: t('seo.jobs_description')%>
<% end %>