<section class="section">
  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
        <h1 class="title">
          <%= t('jobs_index.title_part_1') %> <span class="has-text-corporate"> <%= t('jobs_index.title_part_2').downcase %> </span>
        </h1>
      </div>
    </div>
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <%= render 'search' %>
      </div>
    </div>
  </div>
</section>

<div class="container mb2 has-text-centered jobs-company-logos is-hidden-mobile">
  <div class="columns is-vcentered pr5 pl5">
    <% @last_jobs_with_logo.each do |job| %>
      <div class="column">
        <%= link_to root_path(search_for: job.job_author) do %>
          <%= image_tag(job.avatar_url(:thumb), alt: "#{job.title} - #{job.job_author}", width: 65, height: 65) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= form_tag(root_path, id: 'jobFiltersForm', method: :get) do %>
  <section class="section pb6 pt2 section-bg-gray">
    <div class="container">
      <div class="columns">
        <div class="column mt2">
          <span><b> <%= @jobs_count %> <%= t('jobs.published_jobs') %> </b></span>
        </div>
        <div class="column is-hidden-touch is-narrow">
          <div class="control has-icons-left">
            <div class="select">
              <%= select_tag :by_category,
                options_from_collection_for_select(Category.all, :id, :name, params[:by_category].to_i), 
                :include_blank => t('select.category'), class: 'select-filter' %>
            </div>
            <span class="icon is-left">
              <%= icon('fas', 'puzzle-piece') %>
            </span>
          </div>
        </div>
        <div class="column is-hidden-touch is-narrow">
          <div class="control has-icons-left">
            <div class="select">
              <%= select_tag :by_job_type,
                options_from_collection_for_select(JobType.all, :id, :name, params[:by_job_type].to_i), 
                :include_blank => t('select.job_type'), class: 'select-filter' %>
            </div>
            <span class="icon is-left">
              <%= icon('fas', 'clock') %>
            </span>
          </div>
        </div>
        <div class="column is-hidden-touch is-narrow">
          <div class="control has-icons-left">
            <div class="select">
              <%= select_tag :by_level,
                options_from_collection_for_select(Level.all, :id, :name, params[:by_level].to_i), 
                :include_blank => t('select.level'), class: 'select-filter' %>
            </div>
            <span class="icon is-left">
              <%= icon('fas', 'graduation-cap') %>
            </span>
          </div>
        </div>
      </div>
    <% end %>

    <div class="boxes-wrapper" id="pagination-list">
      <%= render partial: "job", collection: @jobs %>
    </div>

    <div class="has-text-centered">
      <%= infinite_scroll @jobs %>
    </div>
  </div>
</section>

<div class="mnegative"></div>

<%= content_for :head do %>
  <%= render "seo", 
			title: t('seo.jobs_title'), 
			description: t('seo.jobs_description'),
      image: image_url(asset_path('wah_red_logo.png')) %>

  <%= tag(:link, rel: 'canonical', href: url_for()) %>
<% end %>

<%= content_for :footer do %>
  <%= javascript_include_tag "jobs/typewriter.js" %>
  <script>
    $('.select-filter').change(function() {
      $('#jobFiltersForm').submit();
    });
  </script>
<% end %>
