<section class="section main-section bg-grey">
  <div class="container">
    <div class="columns">
      <div class="column mt4">
        <%= render 'search' %>
      </div>
    </div>

    <div class="columns">
      <div class="column mt2">
        <span><b> <%= @job_count %> <%= t('published_jobs') %> </b></span>
      </div>

      <div class="column has-text-right">
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span>Hover me</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
              <div class="dropdown-item">
                <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <%= render @jobs %>

    <div class="columns">
      <div class="column is-4 is-offset-8">
        <%= paginate @jobs %>
      </div>
    </div>
  </div>
</section>


