<section class="section main-section">
  <div class="container">
    <div class="columns">
      <div class="column mt4">
        <%= render 'search' %>
      </div>
    </div>

    <div class="columns">
      <div class="column mt2">
        <span><b> <%= @jobs_count %> <%= t('jobs.published_jobs') %> </b></span>
      </div>

      <div class="column has-text-right is-hidden-touch">
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span> <%= params[:sort_by] ? t(params[:sort_by]) : t('sort_by') %> </span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
              <%= link_to t('oldest'), jobs_path(sort_by: "oldest"), class: "dropdown-item" %>
              <%= link_to t('newest'), jobs_path(sort_by: "newest"), class: "dropdown-item" %>
              <%= link_to t('by_title'), jobs_path(sort_by: "by_title"), class: "dropdown-item" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="boxes-wrapper">
        <%= render @jobs %>
    </div>

    <div class="columns">
      <div class="column is-4 is-offset-8">
        <%= paginate @jobs %>
      </div>
    </div>
  </div>
</section>

