<section class="section mt5">
  <%= link_to jobs_path, class: "button" do %>
    <span class="icon is-small">
      <%= icon('fas', 'arrow-left') %>
    </span>
    <span> <%= t('back') %> </span>
  <% end %>
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h1 class="title is-3"> <%= t('jobs.post_job') %> </h1>
        <%= render 'form', job: @job %>
      </div>
    </div>
  </div>
</section>