<% if user_signed_in? && current_user.is_admin? %>
  <section class="section">
    <div class="container bg-light radius-8 ph4">
      <div class="columns is-vcentered">
        <div class="column">
          <h3>Admin Panel</h3> 
        </div>
        <div class="column has-text-right">
          <%= link_to edit_admins_job_path(@job), class: 'button is-info radius-8 ml3' do %>
            <span> <%= t('jobs.edit') %> </span>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>

<% if @job.open? %>
  <%= render partial: "jobs/partials/job_information", locals: { job: @job } %>
<% else %>
  <section class="section mt5 mb5">
    <div class="container has-text-centered">
      <h1 class="f2">
        <p> ¡We're sorry! <%= icon('fas', 'sad-tear') %> </p> 
        <p> The Job <%= @job.title %> en <%= @job.location %> has expired </p>
      </h1>
    </div>
  </section>
<% end %>

<% if @same_category_jobs.any? %>
  <section class="section section-bg-gray pb6">
    <div class="container">
      <h2 class="f3 mb4"> 
        <%= t('if_you_liked_jobs_about') %> 
        <span class="primary-color"> <%= @job.title %>  </span> 
        <%= t('you_will_also_like') %> 
      </h2>
      <div class="boxes-wrapper">
        <%= render partial: "job", collection: @same_category_jobs %>
      </div>
      <div class="has-text-centered">
        <%= link_to t("show_more_jobs"), root_path(by_category: @job.category_id), class: 'button is-rounded primary is-large shadow' %>
      </div>	
    </div>
  </section>
<% end %>

<%= render partial: '/jobs/partials/update_user_info_modal', locals: { user: current_user, job: @job } if current_user %>
<%= render partial: '/jobs/partials/candidate_signup_modal', locals: { user: current_user, job: @job } %>

<div class="mnegative"></div>

<%= content_for :head do %>
  <%= render "seo", 
      title: "#{t('seo.job_offer_h1')} #{ @job.title } #{t('at')} #{ @job.job_author } #{t('at')} #{ @job.location } | Wearehiring.io", 
      description: "#{ @job.job_author } #{t('seo.is_looking_for_one').downcase} #{ @job.title } #{t('at')} #{ @job.location }. #{t('seo.apply_at_wearehiring')}",
      image: @job.avatar.file.nil? ? image_url(asset_path('WEH_LOGO_PNG_vertical_red.png')) : image_url(@job.avatar_url(:thumb), alt: "#{t('seo.job_offer_h1')} #{@job.title} #{t('at')} #{@job.job_author}") %>

  <% if @job.open? %>
    <%= render partial: "/jobs/partials/job_posting_structured_data", locals: { job: @job } %>
  <% else %>
    <meta name="robots" content="noindex">
  <% end %>

  <%= tag(:link, rel: 'canonical', href: job_url(@job)) %>
<% end %>

<%= content_for :footer do %>
  <script>

    $(document).on("click", ".modal-close", function() {
      $('.modal').removeClass('is-active');
    });

    $(document).on("click", ".require-user-info", function() {
      $('.update-user-modal').addClass('is-active');
      return false
    });

    $(document).on("click", ".modal-close", function() {
      $('.modal').removeClass('is-active');
    });

    $(document).on("click", ".modal-button", function() {
      $('#candidateSignupModal').addClass('is-active');
      return false;
    });

  </script>
<% end %>