<section class="section main-section">
  <div class="columns pt4 pb7">
    <div class="column is-7 is-offset-1">

      <p class="f7"> <%= icon('fas', 'clock') %> Publiado <%= time_ago_in_words(@job.created_at) %> </p>

      <% if job_author(@job) %>
        <p> 
          <%= t('remaining_days') %>: 
          <strong> <%= (@job.expiry_date.to_date - @job.created_at.to_date).to_i %> </strong> 
        </p>
      <% end %>

      <h2 class="title is-2"><%= @job.title %></h2>

      <ul class="pb2">
        <li class="inline-block pr2"><%= icon('fas', 'clock') %> <%= @job.job_type.name %></li>
        <li class="inline-block ph2"><i class="fa fa-pin"></i> <%= @job.location %></li>
        <% if @job.remote_ok? %>
          <li class="inline-block ph2"><i class="fa fa-wifi"></i> Remote Job</li>
        <% end %>
      </ul>

      <div class="pb3">
        <span class='tag is-warning is-normal'> <%= @job.category.name %> </span>
        <% @job.tags.each do |tag| %>
          <span class='tag is-success is-normal'> <%= tag.name %> </span>
        <% end %>      
      </div>

      <div class="content text-serif f4">
        <p class="title is-5"> <%= t('jobs.salary_range') %> </p>
        <%= number_to_currency(@job.salary_from) %> - <%= number_to_currency(@job.salary_to) %>
      </div>

      <div class="content text-serif f4">
        <h5> <%= t('job_description') %> </h5>
        <%= @job.description.html_safe %>
      </div>

      <div class="has-text-centered">
        <%= @inscriptions_count %> se han inscrito a esta oferta
      </div>

      <div class="mb4"></div>

      <% if job_author(@job) %>
        <% @job_inscriptions.each do |i| %>
          <%= render partial: 'job_inscription', locals: { i: i } %>
        <% end %>
      <% end %>

      <% unless user_signed_in? || current_user&.is_company? %>
        <%= link_to t('send_job_inscription'), user_linkedin_omniauth_authorize_path, class: "button is-rounded is-block is-link is-large" %>
      <% end %>

      <% if user_signed_in? && current_user&.is_candidate? %>
        <% if user_inscribed_to(@job) %>
          <div class="has-text-centered">
            <button disabled class="button is-rounded is-success is-large">  
              <%= t('inscribed') %> <%= icon('fas', 'check ml2') %>
            </button>
          </div>
        <% else %>
          <%= form_for :inscription, url: job_inscriptions_path(@job.id) do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.submit t('send_job_inscription'), class: "button is-rounded is-fullwidth is-link is-large" %>
          <% end %>        
        <% end %>
      <% end %>
    </div>

    <div class="column is-2 is-offset-1 has-text-centered">

      <div class="pb4">
        <% if !@job.avatar.file.nil? %>
          <%= link_to image_tag(@job.avatar_url(:thumb), alt: @job.job_author, class: "has-text-centered"), @job.url %>
        <% end %>
      </div>

      <h5 class="title is-5 has-text-centered"> <%= @job.job_author %> </h5>

      <% if @job.url.present? %>
        <%= link_to t('website'), @job.url %>
      <% end %>

      <% if current_user.try(:admin) || job_author(@job) %>
        <ul class="pv3">
          <li class="pv1 f6">Admin controls: </li>
          <li class="pv1 inline-block">
            <%= link_to 'View', @job, class: 'button is-small is-link is-outlined' %></li>
          <li class="pv1 inline-block">
            <%= link_to 'Edit', edit_job_path(@job), class: 'button is-small is-link is-outlined' %></li>
          <li class="pv1 inline-block">
            <%= link_to 'Delete', @job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small is-link is-outlined' %></li>
        </ul>
      <% end %>

      <div class="pt4">
        <p> <%= t('share_with') %>:</p>
        <%= social_share_button_tag(@job.title, :allow_sites => %w(twitter facebook linkedin email whatsapp_app)) %>
      </div>

    </div>
  </div>
</section>

<%= content_for :head do %>
  <%= render "seo", 
      title: "Empleo #{ @job.title } en #{ @job.job_author } en #{ @job.location } | WeAreHiring.io", 
      description: "#{ @job.job_author } está buscando a un #{ @job.title } en #{ @job.location }. Solicita este empleo en WeAreHiring.io" %>
<% end %>