<% if current_user&.is_admin? %>
  <section class="section pb0 pt1">
    <div class="container is-wrapper bg-white radius-8">
      <div class="columns admin-block">
        <div class="column is-vertical-center is-flex">
          <span class="has-text-weight-bold f3 pr4"> Admin controls </span>
          <%= link_to admins_job_inscriptions_path(@job.id) do %>
            <%= icon('fas', 'user mr2') %> <%= @job.inscriptions.count %> inscritos
          <% end %>
        </div>
        <div class="column is-2">
          <%= link_to edit_admins_job_path(@job.id), class: 'button is-link' do %>
            <%= icon('fas', 'edit mr2') %> Editar
          <% end %> 
        </div>
        <div class="column is-2 has-text-right">
        <%= simple_form_for([:admins, @job], html: { multipart: true }) do |f| %>
          <%= f.hidden_field :open, value: false %>
          <%= f.submit(
            t('jobs.close'),
            class: 'button is-danger is-outlined',
            disabled: !@job.open?, 
            data: { confirm: "alert('¿Estás seguro? Esta acción no se puede deshacer. 
            El Job ya no estará visible pero la empresa podrá seguir gestionando sus candidatos')"}) %>
        <% end %>
        </div>
      </div>
    </div>
  </section>

  <hr>
<% end %>

<%= render partial: "jobs/partials/job_information", locals: { job: @job } %>

<% if @same_category_jobs.any? && !current_user&.is_recruiter %>
  <section class="section">
    <h2 class="f3 mb4"> 
      <%= t('if_you_liked_jobs_about') %> 
      <span class="primary-color"> <%= @job.title %>  </span> 
      <%= t('you_will_also_like') %> 
    </h2>
    <div class="boxes-wrapper">
      <%= render partial: "job", collection: @same_category_jobs %>
    </div>
    <div class="has-text-centered">
      <%= link_to t("show_more_jobs"), jobs_path(by_category: @job.category_id), class: 'button is-rounded primary is-large shadow' %>
    </div>	
  </section>
<% end %>

<%= render partial: '/jobs/partials/update_user_info_modal', locals: { user: current_user, job: @job } if current_user %>

<%= content_for :head do %>
  <%= render "seo", 
      title: "Empleo #{ @job.title } en #{ @job.job_author } en #{ @job.location } | WeAreHiring.io", 
      description: "#{ @job.job_author } está buscando a un #{ @job.title } en #{ @job.location }. Solicita este empleo en WeAreHiring.io",
      image: @job.avatar.file.nil? ? asset_path('logo_black.png') : image_url(@job.avatar_url(:thumb), alt: "Empleo de #{@job.title} en #{@job.job_author}") %>

  <%= render partial: "/jobs/partials/structured_data", locals: { job: @job } %>
<% end %>

<%= content_for :footer do %>
  <script>

    $(document).on("click", ".modal-close", function() {
      $('.modal').removeClass('is-active');
    });

    $(document).on("click", ".require-user-info", function() {
      $('.update-user-modal').addClass('is-active');
      return false
    });

  </script>
<% end %>