<%= render partial: "jobs/partials/job_information", locals: { job: @job } %>

<% if @same_category_jobs.any? && !current_user&.is_recruiter %>
  <section class="section section-bg-gray pb6">
    <h2 class="f3 mb4"> 
      <%= t('if_you_liked_jobs_about') %> 
      <span class="primary-color"> <%= @job.title %>  </span> 
      <%= t('you_will_also_like') %> 
    </h2>
    <div class="boxes-wrapper">
      <%= render partial: "job", collection: @same_category_jobs %>
    </div>
    <div class="has-text-centered">
      <%= link_to t("show_more_jobs"), jobs_path(by_category: @job.category_id), class: 'button is-rounded primary is-large shadow' %>
    </div>	
  </section>
<% end %>

<%= render partial: '/jobs/partials/update_user_info_modal', locals: { user: current_user, job: @job } if current_user %>
<%= render partial: '/jobs/partials/candidate_signup_modal', locals: { user: current_user, job: @job } %>

<div class="mnegative"></div>

<%= content_for :head do %>
  <%= render "seo", 
      title: "Empleo #{ @job.title } en #{ @job.job_author } en #{ @job.location } | WeAreHiring.io", 
      description: "#{ @job.job_author } está buscando a un #{ @job.title } en #{ @job.location }. Solicita este empleo en WeAreHiring.io",
      image: @job.avatar.file.nil? ? image_url(asset_path('wah_red_logo.png')) : image_url(@job.avatar_url(:thumb), alt: "Empleo de #{@job.title} en #{@job.job_author}") %>

  <%= render partial: "/jobs/partials/job_posting_structured_data", locals: { job: @job } %>
<% end %>

<%= content_for :footer do %>
  <script>

    $(document).on("click", ".modal-close", function() {
      $('.modal').removeClass('is-active');
    });

    $(document).on("click", ".require-user-info", function() {
      $('.update-user-modal').addClass('is-active');
      return false
    });

    $(document).on("click", ".modal-close", function() {
      $('.modal').removeClass('is-active');
    });

    $(document).on("click", ".modal-button", function() {
      $('#candidateSignupModal').addClass('is-active');
      return false;
    });

  </script>
<% end %>