<% if job_author(@job) %>
  <div class="section pb0 pt1 mr5 ml5">
    <div class="container is-wrapper bg-white radius-8">
      <div class="columns">
        <div class="column">    
          <%= t('jobs.reference') %>: #<%= @job.reference %>
        </div>
        <div class="column has-text-right">
          <%= link_to job_inscriptions_path(@job), class: 'button is-info' do %>
            <%= icon('fas', 'user mr2') %> <%= @job.inscriptions.count %> inscritos
          <% end %>
        </div>
      </div>
      <div class="columns is-multiline is-mobile">
        <div class="column is-full-mobile is-half-tablet">
          <strong class="f3"> <%= job_expired(@job) %> </strong> 
          <%= t('remaining_days') %>
        </div>
        <div class="column has-text-right">
          <%= link_to 'Editar', edit_job_path(@job), class: 'button is-link' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<section class="section">
  <div class="container is-wrapper bg-white radius-8">
    <div class="columns">
      <div class="column pb0">
        <p class="f7"> <%= icon('fas', 'clock') %> Publicado <%= time_ago_in_words(@job.created_at) %> </p>
        <h2 class="f2 mb0"><%= @job.title %></h2>
        <p> <%= @job.job_author %> en <%= @job.location %> </p>
      </div>
    </div>
    <div class="ma4 is-hidden-mobile"></div>  
    <div class="columns pr4 wrapper-content">
      <div class="column is-2 is-vertical-center justify-center">
        <div>
          <% if !@job.avatar.file.nil? %>
            <%= image_tag(@job.avatar_url(:thumb), alt: @job.job_author, class: 'rounded-img') %>
          <% else %>
            <%= icon('far', 'image', style: 'font-size: 50px') %>
          <% end %>
        </div>
      </div>
      <div class="column bg-light radius-10">
        <div class="columns">
          <div class="column">
            <div class="pv1 pl2 pr2">
              <strong> <%= @job.title %> </strong>
            </div>
            <div class="pv1 pl2 pr2 mt2">
              <%= icon('fas', 'globe mr1') %> <%= @job.category.name %>
            </div>
            <div class="pv1 pl2 pr2 mt2">
              <%= icon('fas', 'coins mr1') %>
              <%= job_salary(@job.salary_from, @job.salary_to) %>
            </div>        
          </div>
          <div class="column">
            <div class="pv1 pl2 pr2">
              <%= icon('fas', 'level-up-alt mr1') %> <%= @job.level.name %>
            </div>           
            <div class="pv1 pl2 pr2 mt2">
              <%= icon('far', 'clock mr2') %> <%= @job.job_type.name %>
            </div>
            <div class="pv1 pl2 pr2 mt2">
              <% if @job.remote_ok? %>
                <%= icon('fas', 'wifi') %> <%= t('remote') %> 
              <% else %>
                <%= icon('fas', 'laptop') %> Oficina
              <% end %>     
            </div>
          </div>
          <div class="column">
            <% @job.tags.each do |tag| %>
              <span class='tag is-success is-normal'> <%= tag.name %> </span>
            <% end %>  
          </div>
          <div class="column is-relative">
            <div class="is-absolute bottom-10 right-20">
              <p> ¡Comparte este Job! </p>
              <%= social_share_button_tag(@job.title, :allow_sites => %w(whatsapp_app twitter linkedin email)) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ma4"></div>  

    <div class="columns">
      <div class="column has-text-centered">
        <div class="mb2">
          <%# TODO: FORM for @user action UPDATE accept_legal = true %>
          <label for="legal">
            <abbr title="required primary-color">*</abbr>
            <%= check_box_tag "legal", required: false %>
            <small>Estoy de acuerdo con los términos y condiciones legales de WeAreHiring, condiciones legales de use y política de privacidad</small>
          </label>
        </div>

        <% unless user_signed_in? || current_user&.is_company? %>
          <%= link_to t('i_want_this_job'), 
                      user_linkedin_omniauth_authorize_path, 
                      class: 'button is-rounded primary is-large shadow mv3' %>
        <% end %>

        <% if user_signed_in? && current_user&.is_candidate? %>
          <% if user_inscribed_to(@job) %>
            <div class="has-text-centered">
              <button disabled class="button is-rounded is-success is-large">  
                <%= t('inscribed') %> <%= icon('fas', 'check ml2') %>
              </button>
            </div>
          <% else %>
            <%= form_for :inscription, url: job_inscriptions_path(@job.id) do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.submit t('i_want_this_job'), class: "button is-rounded primary is-large shadow mv3" %>
            <% end %>        
          <% end %>
        <% end %>      

        <p> <%= @inscriptions_count %> se han inscrito a esta oferta </p>
      </div>
    </div>
  </div>
</section>

<section class="section pt0">
  <div class="container is-wrapper bg-white radius-8">
    <div class="columns">
      <div class="column">
        <h3 class="f3 mb2"> <%= t('job_description') %> </h3>
        <div class="pr4 pl4 pb4"> 
          <%= simple_format(@job.description) %>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <div class="mb2">
          <%# TODO: FORM for @user action UPDATE accept_legal = true %>
          <label for="legal">
            <abbr title="required primary-color">*</abbr>
            <%= check_box_tag "legal", required: false %>
            <small>Estoy de acuerdo con los términos y condiciones legales de WeAreHiring, condiciones legales de use y política de privacidad</small>
          </label>
        </div>

        <% unless user_signed_in? || current_user&.is_company? %>
          <%= link_to t('this_job_is_mine'), 
                      user_linkedin_omniauth_authorize_path, 
                      class: 'button is-rounded primary is-large shadow mv3' %>
        <% end %>

        <% if user_signed_in? && current_user&.is_candidate? %>
          <% if user_inscribed_to(@job) %>
            <div class="has-text-centered">
              <button disabled class="button is-rounded is-success is-large">  
                <%= t('inscribed') %> <%= icon('fas', 'check ml2') %>
              </button>
            </div>
          <% else %>
            <%= form_for :inscription, url: job_inscriptions_path(@job.id) do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.submit t('this_job_is_mine'), class: "button is-rounded primary is-large shadow mv3" %>
            <% end %>        
          <% end %>
        <% end %>      

        <p> <%= @inscriptions_count %> se han inscrito a esta oferta </p>
      </div>
    </div>  
  </div>
</section>

<%= content_for :head do %>
  <%= render "seo", 
      title: "Empleo #{ @job.title } en #{ @job.job_author } en #{ @job.location } | WeAreHiring.io", 
      description: "#{ @job.job_author } está buscando a un #{ @job.title } en #{ @job.location }. Solicita este empleo en WeAreHiring.io" %>
<% end %>