<section class="section">
  <div class="container has-text-centered">
    <div class="columns">
        <div class="column">
          <h1 class="title f2"> <%= t('jobs.summary.thanks_title') %> </h1>
          <p class="f3"> <%= t('jobs.summary.job') %></p>
        </div>
      </div>
    </div>
    <div class="columns is-centered mt4">
      <div class="column is-half has-text-centered">
        <% if !@job.avatar.file.nil? %>
          <%= image_tag(@job.avatar_url(:thumb), alt: @job.job_author, class: 'rounded-img', height: 80, width: 80) %>
        <% else %>
          <%= icon('far', 'image', style: 'font-size: 50px') %>
        <% end %>
        <div class="mt2"></div>
        <p class="f4 has-text-weight-bold"> <%= @job.title %> </p>
        <p> <%= @job.job_author %> en <%= @job.location %> </p>
        <div class="mt2"></div>
        <p> <%= job_salary(@job.salary_from, @job.salary_to) %> </p>
        <div class="mt2"></div>
        <p> <%= icon('fas', 'globe mr1') %> <%= @job.category.name %> </p>
        <p> <%= icon('fas', 'level-up-alt mr1') %> <%= @job.level.name %> </p>             
        <p> <%= icon('far', 'clock mr2') %> <%= @job.job_type.name %> <p>
        <% if @job.remote_ok? %>
          <p> <%= icon('fas', 'wifi') %> <%= t('remote') %> </p>
        <% else %>
          <p> <%= icon('fas', 'laptop') %> Oficina </p>
        <% end %>    
        <div class="mt2"></div>                         
        <% @job.tags.each do |tag| %>
          <span class='tag is-success is-normal'> <%= tag.name %> </span>
        <% end %>  
      </div>
    </div>
    <div class="columns mt4">
      <div class="column has-text-centered">
        <%= link_to t('go_to_job'), @job, class: 'button is-rounded primary is-large shadow' %>
      </div>
    </div>
  </div>
</section>