<div class="columns listrow">
  <div class="column is-1">
    <%= job_counter + 1 %>
  </div>
  <div class="column">
    <%= job.reference %>
  </div>
  <div class="column">
    <%= job.job_author %>
  </div>
  <div class="column">
    <%= link_to job.title, job %>
  </div>
  <div class="column">
    <% job.tags.each do |tag| %>
      <span> <%= tag.name %>, </span>
    <% end %>  
  </div>
  <div class="column">
  <%= link_to job_inscriptions_path(job) do %>
    <%= job.inscriptions.count %> inscritos
  <% end %>
  </div>
  <div class="column">
    <strong> <%= job_expired(job) %> </strong> 
  </div>
</div>