
<section class="section main-section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-4">
				<h2 class="title is-2"> <%= t('candidate_access') %> </h2>

        <% %w[benefit_1 benefit_2 benefit_3 benefit_4].each do |benefit| %>
          <p class="mb2"> <%= icon('fa', 'check has-text-success') %> <%= t("candidate.#{benefit}") %> </p>
        <% end %>
        
        <div class="mt4 has-text-centered">
          <%= link_to user_linkedin_omniauth_authorize_path, class: "button primary is-medium is-rounded" do %>
            <%= icon('fab', 'linkedin mr2') %> <%= t('login') %> 
          <% end %>
        </div>

			</div>
		</div>
	</div>
</section>
