
<section class="section main-section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-4">
				<h2 class="title is-2"> <%= t('candidate_access') %> </h2>

        <% %w[benefit_1 benefit_2 benefit_3 benefit_4].each do |benefit| %>
          <p class="mb2"> <%= icon('fa', 'check has-text-success') %> <%= t("candidate.#{benefit}") %> </p>
        <% end %>
        
        <div class="mt4 has-text-centered">
          <%= link_to user_linkedin_omniauth_authorize_path, class: "button primary is-medium is-rounded" do %>
            <%= icon('fab', 'linkedin mr2') %> <%= t('login') %> 
          <% end %>
        </div>

			</div>
		</div>
    <div class="columns">
      <div class="column">
        <section class="section has-text-centered">
          <div class="container">
            <div class="columns">
              <div class="column is-three-fifths is-offset-one-fifth">
                <h2 class="title"> Colaboramos con </h2>
              </div>
            </div>
          </div>
        </section>
        <section class="section">
          <div class="container">
            <div class="columns is-vcentered">
              <%= render '/home/partners', animation: false %>
            </div>
          </div>
        </section>
      </div>
    </div>
	</div>
</section>
