<div class="claim hero is-fullheight is-mb-bg" style="background:url('<%=asset_path('home_bg.jpg')%>') 0 0 / cover">
	<div class="hero-body">
		<div class="container">
			<div class="columns">
				<div class="column is-5">
					<h1 class="title title-mb"><%=t('home_h1').html_safe%></h1>
					<p class="is-hidden-mobile"><%=t('home_subtitle')%></p>
					<div class="is-margin">
            <%= link_to jobs_path, class: "button is-link pa4" do %>
              <%= icon('fas', 'arrow-right pr2') %>
							<%= t('go_to_jobs') %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>