<section class="section">
  <div class="container">
    <div class="columns"> 
      <div class="column">
        <section class="hero is-info welcome is-small">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                  Hello, <%= current_user.name %>
              </h1>
              <h2 class="subtitle">
                  I hope you are having a great day!
              </h2>
            </div>
          </div>
        </section>
        <section class="info-tiles">
          <div class="tile is-ancestor has-text-centered">
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title"><%= @company_jobs_count %></p>
                <p class="subtitle">Jobs</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title"><%= @company_jobs_open_count %></p>
                <p class="subtitle">Jobs Activos</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title"><%= @company_jobs_close_count %></p>
                <p class="subtitle">Jobs Finalizados</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title"><%= @total_inscriptions %></p>
                <p class="subtitle">Total Inscritos</p>
              </article>
            </div>
          </div>
        </section>
        <div class="columns">
          <div class="column is-6">
            <div class="card events-card">
              <header class="card-header">
                <p class="card-header-title">
                    Events
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
              </header>
              <div class="card-table pa2">
                  <% @last_inscribeds.each do |inscription| %>
                    <div class="columns is-vcentered">
                      <div class="column is-1">
                        <% if inscription.user.picture_url.file.nil? %>
                          <%= icon('far', 'image', style: 'font-size: 25px') %>
                        <% else %>
                          <%= image_tag(inscription.user.picture_url, width: 35, height: 35) %>
                        <% end %>
                      </div>
                      <div class="column is-size-7 is-8"><%= inscription.user.name %></div>
                      <div class="column has-text-right is-3">
                        <%= link_to companies_job_inscription_path(inscription.job_id, inscription.id), class: "button is-small is-primary" do %>
                          Ir al proceso
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item">View All</a>
                </footer>
              </div>
            </div>
            <div class="column is-6">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                      Inventory Search
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">
                    <div class="control has-icons-left has-icons-right">
                      <input class="input is-large" type="text" placeholder="">
                      <span class="icon is-medium is-left">
                        <i class="fa fa-search"></i>
                      </span>
                      <span class="icon is-medium is-right">
                        <i class="fa fa-check"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                      User Search
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">
                    <div class="control has-icons-left has-icons-right">
                      <input class="input is-large" type="text" placeholder="">
                      <span class="icon is-medium is-left">
                        <i class="fa fa-search"></i>
                      </span>
                      <span class="icon is-medium is-right">
                        <i class="fa fa-check"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>