<div class="column has-text-centered" data-aos="<%= animation %>" data-aos-duration="3000">
  <%= image_tag(asset_path('esade.jpg'), width: 120, height: 120) %>
</div>			
<div class="column has-text-centered" data-aos="<%= animation %>" data-aos-duration="1000">
  <%= image_tag(asset_path('epitech.jpg'), width: 120, height: 120) %>
</div>
<div class="column has-text-centered" data-aos="<%= animation %>" data-aos-duration="2000">
  <%= image_tag(asset_path('esdi.png'), width: 120, height: 120) %>
</div>
<div class="column has-text-centered" data-aos="<%= animation %>" data-aos-duration="1000">
  <%= image_tag(asset_path('ironhack.png'), width: 100, height: 100) %>
</div>			
<div class="column has-text-centered" data-aos="<%= animation %>" data-aos-duration="2000">
  <%= image_tag(asset_path('elisava.png'), width: 120, height: 120) %>
</div>
<div class="column has-text-centered" data-aos="<%= animation %>" data-aos-duration="1000">
  <%= image_tag(asset_path('codehouse_academy.png'), width: 120, height: 120) %>
</div>				
<div class="column has-text-centered" data-aos="<%= animation %>" data-aos-duration="3000">
  <%= image_tag(asset_path('gse_bcn.jpg'), width: 120, height: 120) %>
</div>