<%= render 'claim' %>

<section class="section has-text-left-mobile">
	<div class="container">
		<div class="columns">
			<div class="column has-text-left">
				<strong> <%= t('last') %> <%= @jobs_count %> <%= t('digital_job_offers') %>	</strong>
			</div>
		</div>
		<div class="columns">
			<div class="column boxes-wrapper">
				<%= render partial: '/jobs/job', collection: @jobs %>
			</div>
		</div>
		<div class="columns">
			<div class="column has-text-centered">
				<%= link_to t('show_all_jobs'), jobs_path, class: 'button is-rounded primary is-large shadow' %>
			</div>		
		</div>
	</div>
</section>

<div class="mt5 is-hidden-touch"></div>

<section class="section has-text-centered">
	<div class="container">
		<div class="columns">
			<div class="column is-three-fifths is-offset-one-fifth">
				<h2 class="title"> Colaboramos con </h2>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<%= render 'partners', animation: 'flip-left' %>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>

<section class="section has-text-left-mobile is-section-primary mv5">
	<div class="container">
		<div class="columns">
			<div class="column">
				<% if current_user&.is_company? %>
					<h2 class="title"> 
						<%= current_user.name %> 
						<p> <%= 'Empieza hoy publicando GRATIS' if first_job_publication(current_user) %> </p>
					</h2>
					<p> <%= t('company_section_body') %> </p>
					<div class="mt4">
						<%= link_to new_job_path, class: 'button is-medium is-rounded' do %>
							<%= t('jobs.post_job_with_price') %> 
							<%= first_job_publication(current_user) ? 'Gratis' : 'por 99€' %>
							<%= icon('fas', 'arrow-right ml3') %>
						<% end %>
					</div>
				<% else %>
					<h2 class="title"> 
						<span> <%= t('company_section_title') %> </span> 
						<span class="has-text-success"> <%= t('free').upcase %> </span> <br>
						<span> <%= t('company_section_subtitle') %>
 					</h2>
					<p> <%= t('company_section_body') %> </p>
					<div class="mt4">
						<%= link_to new_user_registration_path, class: 'button is-medium is-rounded' do %>
							<%= t('jobs.post_job') %> <%= icon('fas', 'arrow-right ml3') %>
						<% end if !current_user&.is_candidate? %>
					</div>
				<% end %>
			</div>
			<div class="column is-vertical-center justify-center">
				<img src="<%=asset_path('encontrar_profile.svg')%>" width="180" height="180" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<section class="section has-text-centered has-text-left-mobile">
	<div class="container">
		<div class="columns">
			<div class="column is-three-fifths is-offset-one-fifth">
				<h2 class="title"> <%= t('about_us_title') %> </h2>
				<p> <%= t('about_us_subtitle') %> </p>
			</div>
		</div>
	</div>
</section>

<section class="section is-features">
	<div class="container">
		<div class="columns">
			<article class="column has-text-centered">
				<img 
					src="<%=asset_path('digital_profile.svg')%>" 
					width="180" 
					height="180" 
					class="is-blank is-mobile-img" 
					alt="Only Digital Jobs | Wearehiring.io"
					data-aos="fade-up" 
					data-aos-duration="1500">
				<div class="content has-text-left-mobile mt4">
					<h3> <%=t('feature_1')%> </h3>
					<p class="has-text-left"> <%=t('feature_1_text')%> </p>
				</div>
			</article>
			<article class="column has-text-centered">
				<img 
					src="<%=asset_path('velocidad.svg')%>"
					width="180"
					height="180"
					class="is-blank"
					alt="Rápido regístro | Wearehiring.io"
					data-aos="fade-up" 
					data-aos-duration="1500">
				<div class="content has-text-left-mobile mt4">
					<h3> <%=t('feature_2')%> </h3>
					<p class="has-text-left"> <%=t('feature_2_text')%> </p>
				</div>
			</article>
			<article class="column has-text-centered">
				<img 
					src="<%=asset_path('only_digital_people.svg')%>"
					width="180"
					height="180"
					class="is-blank"
					alt="Digital Pros para todos | Wearehiring.io"
					data-aos="fade-up" 
					data-aos-duration="1500">
				<div class="content has-text-left-mobile mt4">
					<h3> <%=t('feature_3')%> </h3>
					<ul class="has-text-left">
						<li> <%= t('feature_3_text_1') %> </li>
						<li> <%= t('feature_3_text_2') %> </li>
						<li> <%= t('feature_3_text_3') %> </li>
					</ul>
				</div>
			</article>
		</div>
	</div>
</section>

<div class="mv5 is-hidden-touch"></div>

<%= content_for :head do %>
	<%= render "seo", 
			title: t('seo.home_title'), 
			description: t('seo.home_description'),
			image: asset_path('logo_black.png') %>
<% end %>

<%= content_for :footer do %>

	<script>
	  AOS.init();
	</script>

<% end %>