<section class="section pv6">
	<div class="container claim is-max-widescreen">
		<div class="columns is-vcentered">
			<div class="column is-5-desktop has-text-centered-mobile">
				<%= render 'claim' %>

				<div class="mv5"></div>
				<%= form_tag(jobs_path, method: :get) do %>
					<div class="home-search">
						<div class="home-search-icon">
							<%= icon('fas', 'search') %>
						</div>
						<input
							type="text"
							class="home-search-input"
							placeholder="Buscar Job"
							name="search_for"
							value="<%=params[:search_for] ? params[:search_for] : ''%>">
						<%= button_tag(t('search'), type: 'submit', class: "home-search-button", data: { disable_with: "<i class='fas fa-spinner fa-spin'></i>".html_safe }) %>
					</div>
				<% end %>

				<p class="mt3">
					Ejemplo: <span class="tag is-light mr3"> Backend </span> <span class="tag is-light mr3"> Rails </span> <span class="tag is-light"> Remoto </span>
				</p>
 			</div>
			<div class="column is-7-desktop">
				<%= image_tag(asset_path('WAH_camino_1.svg')) %>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="columns has-text-centered is-flex-desktop is-align-items-center">
			<div class="column">
				<%= image_tag(asset_path('emogg_logo.png'), width: 60, height: 60) %>
			</div>
			<div class="column">
				<%= image_tag(asset_path('by_evolution_logo.png'), width: 100, height: 100) %>
			</div>
			<div class="column">
				<%= image_tag(asset_path('dnv_logo.png'), width: 80, height: 80) %>
			</div>
			<div class="column">
				<%= image_tag(asset_path('t_systems_logo.png'), width: 100, height: 100) %>
			</div>
			<div class="column">
				<%= image_tag(asset_path('madeofgenes_logo.png'), width: 100, height: 100) %>
			</div>
			<div class="column">
				<%= image_tag(asset_path('sennder_logo.png'), width: 100, height: 100) %>
			</div>
		</div>
	</div>
</section>

<section class="section has-text-left-mobile section-bg-gray pv6">
	<div class="container">
		<div class="columns">
			<div class="column has-text-left">
				<p class="title is-3"> <%= t('last') %> <%= @jobs_count %> <%= t('digital_job_offers') %>	</p>
			</div>
		</div>
		<div class="columns">
			<div class="column boxes-wrapper">
				<%= render partial: '/jobs/job', collection: @jobs %>
			</div>
		</div>
		<div class="columns">
			<div class="column has-text-centered">
				<%= link_to t('show_all_jobs'), jobs_path, class: 'button is-rounded primary is-large shadow' %>
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					Talento digital, <br>
					éste es tu lugar
				</p>
				<p class="is-size-5 mb3 has-text-weight-bold">
					Sólo empleos tecnológicos. <br>
					Recién salidos del horno.
				</p>
				<p>
					En We Are Hiring agrupamos y damos <br>
					visibilidad a los Jobs digitales más recientes.
				</p>
				<p class="mt3">
					<%= link_to how_it_works_talent_path, class: 'button is-rounded shadow' do %>
            <span><%= t('for_talent') %></span> <%= icon('fas', 'arrow-right', class: 'ml3') %>
          <% end %>
				</p>
			</div>
      <div class="column mv3 is-hidden-desktop"></div>
			<div class="column">
				<img src="<%=asset_path('undraw_navigation.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">		
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column is-hidden-touch">
				<img src="<%=asset_path('undraw_community.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">	
			</div>
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					Tu comunidad digital-tech
				</p>
				<p class="is-size-5 mb3 has-text-weight-bold">
					Crece con WAH Community
				</p>
				<p>
					Una comunidad exclusiva donde conectaras con los mejores profesionales de tu sector. <br>
					Mentoring, Learning, Networking o el simple placer de compartir con otros.
				</p>
			</div>
      <div class="column is-hidden-desktop mt4">
				<img src="<%=asset_path('undraw_community.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">	
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section section-bg-gray pv6">
	<div class="container">
		<p class="title is-2 has-text-weight-bold has-text-corporate has-text-centered">
			¡Flechazos en We Are Hiring!
		</p>
		<div class="columns mt4">
			<div class="column">
				<div class="card">
					<div class="card-content">
						<div class="rounded-image m-auto size-120">
							<img src="<%=asset_path('alex_lope.jpg')%>" class="is-blank">			
						</div>
						<div class="media mt3">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="<%=asset_path('emogg_logo.png')%>" class="is-blank">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4">Alex Lope</p>
								<p class="subtitle is-6">Fullstack developer - Emogg</p>
							</div>
						</div>
						<div class="content">
							"Buscaba el reto de trabajar en una startup como desarrollador de software y gracias a We Are Hiring conocí a Emogg."
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-content">
						<div class="rounded-image m-auto size-120">
							<img src="<%=asset_path('jose_alvarez.jpg')%>" class="is-blank">			
						</div>
						<div class="media mt3">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="<%=asset_path('nuo_planet.jpg')%>" class="is-blank">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4">Jose Álvarez</p>
								<p class="subtitle is-6">ReactJS developer - Nüo Planet</p>
							</div>
						</div>
						<div class="content">
							"Nunca imaginé dar este salto profesional de una manera tan rápida, sencilla y transparente ¡Fue surrealista!"
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-content">
						<div class="rounded-image m-auto size-120">
							<img src="<%=asset_path('laia_armengol.jpg')%>" class="is-blank">			
						</div>
						<div class="media mt3">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="<%=asset_path('knauf.png')%>" class="is-blank">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4">Laia Armengol</p>
								<p class="subtitle is-6">SEO specialist - Knauff Insulation</p>
							</div>
						</div>
						<div class="content">
							"Cuesta encontrar páginas especializadas y que agrupen de una manera tan directa ofertas digitales."
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="columns mt5">
    <div class="column has-text-centered">
      <%= link_to "Únete a We Are Hiring", new_user_registration_path, class: 'button is-rounded primary is-large shadow' %>
    </div>
  </div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					¡BOOST! para tus Jobs
				</p>
				<p>
					We Are Hiring es el altavoz que le falta a tus Jobs para llegar al talento que buscas.
				</p>
			</div>
			<div class="column">
				<img src="<%=asset_path('undraw_maker_launch.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column is-hidden-touch">
				<img src="<%=asset_path('undraw_order_confirmed.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					En 3 pasos
				</p>
				<p class="is-size-5 mb3 has-text-weight-bold">
					Publicar. Recibir. Contratar.
				</p>
				<p>
					Tan fácil como esto. ¿Quieres saber más sobre cómo funciona nuestro digital talent place?
				</p>
				<p class="mt3">
        	<%= link_to how_it_works_companies_path, class: 'button is-rounded is-dark shadow' do %>
            <span><%= t('for_companies') %></span> <%= icon('fas', 'arrow-right', class: 'ml3') %>
          <% end %>
				</p>
			</div>
      <div class="column is-hidden-desktop">
				<img src="<%=asset_path('undraw_order_confirmed.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section section-bg-gray pv6">
	<div class="container">
		<div class="columns">
			<div class="column has-text-centered">
				<p class="title is-2 has-text-corporate"> Nuestros partners </p>
			</div>
		</div>
		<div class="box mt4 pv5">
			<div class="columns is-vertical-center has-text-centered">
				<div class="column">
					<%= image_tag(asset_path('UIC.png'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('codehouse_academy.png'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('inesdi.jpg'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('ironhack.png'), width: 60, height: 60) %>
				</div>
			</div>
			<div class="columns is-vertical-center has-text-centered">
				<div class="column">
					<%= image_tag(asset_path('lets_coder.png'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('esade.png'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('BAU.png'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('BTS.png'), width: 80, height: 80) %>
				</div>
			</div>
			<div class="columns is-vertical-center has-text-centered">
				<div class="column">
					<%= image_tag(asset_path('esdi.png'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('KEEPCODING.png'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('la_salle.png'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('upc.png'), width: 80, height: 80) %>
				</div>
			</div>
			<div class="columns is-vertical-center has-text-centered">
				<div class="column">
					<%= image_tag(asset_path('elisava.png'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('epitech.jpg'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('gse_bcn.jpg'), width: 80, height: 80) %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('IEBS.png'), width: 80, height: 80) %>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section pv5">
	<div class="container is-max-widescreen">
  	<div class="columns">
			<div class="column has-text-centered">
				<p class="title is-2 has-text-corporate"> Empieza ahora </p>
			</div>
		</div>
    <div class="columns mt3">
      <div class="column has-text-right-desktop has-text-centered-touch">
        <%= link_to "Soy el talento", new_user_registration_path, class: 'button is-rounded primary is-large shadow' %>
      </div>
      <div class="column has-text-centered-touch">
        <%= link_to "Busco talento", new_company_registration_path, class: 'button is-rounded is-dark is-large shadow' %>
      </div>
    </div>
  </div>
</section>

<%= content_for :head do %>
	<%= render "seo", 
			title: t('seo.home_title'), 
			description: t('seo.home_description'),
			image: image_url(asset_path('wah_red_logo.png')) %>
<% end %>
