<section class="section">
	<div class="container claim">
		<div class="columns is-vcentered">
			<div class="column is-4-desktop">
				<%= render 'claim' %>
			</div>
			<div class="column is-8-desktop">
				<%= image_tag(asset_path('WAH_camino_1.svg')) %>
			</div>
		</div>
	</div>
</section>

<section class="section has-text-left-mobile jobs-section">
	<div class="container">
		<div class="columns">
			<div class="column has-text-left">
				<strong> <%= t('last') %> <%= @jobs_count %> <%= t('digital_job_offers') %>	</strong>
			</div>
		</div>
		<div class="columns">
			<div class="column boxes-wrapper">
				<%= render partial: '/jobs/job', collection: @jobs %>
			</div>
		</div>
		<div class="columns">
			<div class="column has-text-centered">
				<%= link_to t('show_all_jobs'), jobs_path, class: 'button is-rounded primary is-large shadow' %>
			</div>		
		</div>
	</div>
</section>

<div class="mt5 is-hidden-touch"></div>

<section class="section has-text-centered-desktop">
	<div class="container is-vertical-center justify-center">
		<div class="claim-title">
			<div class="claim-title__container">
				<p class="claim-title__container__text">
					We are
				</p>
				
				<ul class="claim-title__container__list">
					<li class="claim-title__container__list__item"> Developers </li>
					<li class="claim-title__container__list__item"> Designers </li>
					<li class="claim-title__container__list__item"> Marketers </li>
					<li class="claim-title__container__list__item"> Product </li>
					<li class="claim-title__container__list__item"> Data </li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="mb3 is-hidden-touch"></div>

<section class="section has-text-left-mobile">
	<div class="container">
		<div class="columns box card-box-secondary home-box">
			<div class="column is-vertical-center">
				<img src="<%=asset_path('hire_profiles.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
			<div class="column">
				<h2 class="title"> 
					<span> We Match </span> 
					<span class="tag is-success"> Nuevo </span> <br>
					<span> Sistema de matching por Skills </span>
				</h2>
				<p> 
					<span class='tag is-info'> React </span>
					<span class='tag is-info'> Python </span>
					<span class='tag is-info'> UX </span>
					<span class='tag is-info'> UI </span>
					<span class='tag is-info'> SEO </span>
					<span class='tag is-info'> SEM </span>
					<span class='tag is-info'> Figma </span>
					<span class='tag is-info'> SQL </span>
					<span class='tag is-info'> Scrum </span>
					<span class='tag is-info'> Docker </span>
					<span class='tag is-info'> REST API </span>
					<span class='tag is-info'> Scala </span>
					<span class='tag is-info'> VueJS </span>
					<span class='tag is-info'> Ruby on Rails </span>
					<span class='tag is-info'> Mongo </span>
					<span class='tag is-info'> Wordpress </span>
					<span class='tag is-info'> Invision </span>
					<span class='tag is-info'> Strategy </span>
				</p>
				<div class="mt4">
				</div>
			</div>
		</div>
	</div>
</section>

<div class="mv5 is-hidden-touch"></div>

<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column has-text-centered">
				<h2 class="title"> Colaboramos con </h2>
			</div>
		</div>
		<%= render 'partners' %>
	</div>
</section>

<section class="section has-text-left-mobile">
	<div class="container">
		<div class="columns box card-box-primary">
			<div class="column">
				<h2 class="title"> 
					<span> ¿Buscas talento? </span> 
				</h2>
				<h3 class="title has-text-white">
					x2 Jobs <span class="has-text-success"> GRATIS </span>
				</h3>
				<h3 class="title has-text-white">
					Publica tu Job por 100€
				</h3>
				<p> <%= t('company_section_body') %> </p>
				<div class="mt4">
					<%= link_to new_user_registration_path(:company => "true"), class: 'button is-medium is-rounded is-dark' do %>
						<%= t('create_company_account') %> <%= icon('fas', 'arrow-right ml3') %>
					<% end %>
				</div>
			</div>
			<div class="column is-vertical-center justify-center">
				<img src="<%=asset_path('undraw_people_search_wctu.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<div class="mv5 is-hidden-touch"></div>

<section class="section has-text-centered has-text-left-mobile">
	<div class="container">
		<div class="columns">
			<div class="column is-three-fifths is-offset-one-fifth">
				<h2 class="title"> <%= t('about_us_title') %> </h2>
				<p> <%= t('about_us_subtitle') %> </p>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="columns is-variable is-8">
			<div class="column has-text-centered">
				<div class="home-feature-img-wrapper">
					<img 
						src="<%=asset_path('WAH_mariposa_1.svg')%>" 
						width="300" 
						height="300" 
						class="is-blank is-mobile-img" 
						alt="Only Digital Jobs | Wearehiring.io">
				</div>
				<h3 class="title is-4"> <%=t('feature_1')%> </h3>
				<div class="content mt4">
					<p class="has-text-centered-mobile"> <%=t('feature_1_text')%> </p>
				</div>
			</div>
			<div class="column has-text-centered">
				<div class="home-feature-img-wrapper">
					<img 
						src="<%=asset_path('WAH_cohete_1.svg')%>"
						width="400"
						height="400"
						class="is-blank"
						alt="Rápido regístro | Wearehiring.io">
				</div>
				<h3 class="title is-4"> <%=t('feature_2')%> </h3>
				<div class="content mt4">
					<p class="has-text-centered-mobile"> <%=t('feature_2_text')%> </p>
				</div>
			</div>
			<div class="column has-text-centered">
				<div class="home-feature-img-wrapper">
					<img 
						src="<%=asset_path('WAH_barco_1.svg')%>"
						width="300"
						height="300"
						class="is-blank"
						alt="Digital talent place | Wearehiring.io">			
				</div>
				<h3 class="title is-4"> <%=t('feature_3')%> </h3>
				<div class="content mt4">
					<p class="has-text-centered-mobile"> <%=t('feature_3_text')%> </p>
				</div>			
			</div>
		</div>
	</div>
</section>

<div class="mv5 is-hidden-touch"></div>

<%= content_for :head do %>
	<%= render "seo", 
			title: t('seo.home_title'), 
			description: t('seo.home_description'),
			image: image_url(asset_path('wah_red_logo.png')) %>
<% end %>
