<section class="section pv6">
	<div class="container claim is-max-widescreen">
		<div class="columns is-vcentered">
			<div class="column is-5-desktop has-text-centered-mobile">
				<%= render 'claim' %>

				<div class="mv5"></div>
				<%= form_tag(jobs_path, method: :get) do %>
					<div class="home-search">
						<div class="home-search-icon">
							<%= icon('fas', 'search') %>
						</div>
						<input
							type="text"
							class="home-search-input"
							placeholder="<%= t('search_job') %>"
							name="search_for"
							value="<%=params[:search_for] ? params[:search_for] : ''%>">
						<%= button_tag(t('search'), type: 'submit', class: "home-search-button", data: { disable_with: "<i class='fas fa-spinner fa-spin'></i>".html_safe }) %>
					</div>
				<% end %>

				<p class="mt3">
					<%= t('example') %>: <span class="tag is-light mr3"> Backend </span> <span class="tag is-light mr3"> Rails </span> <span class="tag is-light"> Remoto </span>
				</p>
 			</div>
			<div class="column is-7-desktop">
				<%= image_tag(asset_path('WAH_cohete_1.svg'), alt: t('seo.jobs_description')) %>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="columns has-text-centered is-flex-desktop is-align-items-center">
			<div class="column">
				<%= image_tag(asset_path('emogg_logo.png'), width: 60, height: 60, alt: 'Emogg - We Are Hiring partner') %>
			</div>
			<div class="column">
				<%= image_tag(asset_path('by_evolution_logo.png'), width: 100, height: 100, alt: 'ByEvolution - We Are Hiring partner') %>
			</div>
			<div class="column">
				<%= image_tag(asset_path('dnv_logo.png'), width: 80, height: 80, alt: 'DNV - We Are Hiring partner') %>
			</div>
			<div class="column">
				<%= image_tag(asset_path('t_systems_logo.png'), width: 100, height: 100, alt: 'TSystems - We Are Hiring partner') %>
			</div>
			<div class="column">
				<%= image_tag(asset_path('madeofgenes_logo.png'), width: 100, height: 100, alt: 'MadeOfGenes - We Are Hiring partner') %>
			</div>
			<div class="column">
        <%= image_tag(asset_path('gartner_logo.png'), width: 100, height: 100, alt: 'Gartner - We Are Hiring partner') %>
      </div>
		</div>
	</div>
</section>

<section class="section has-text-left-mobile section-bg-gray pv6">
	<div class="container">
    <div class="columns">
      <div class="column has-text-centered mb5">
        <h2 class="title is-3 title-touch"> 
          <%= t('home_index.first_section_text_5') %> <br>
          <span class="primary-color"> <%= t('home_index.first_section_text_6') %> </span>
        </h2>
      </div>
    </div>
		<div class="columns">
			<div class="column has-text-left">
				<p class="title is-3"> <%= t('last') %> <%= @jobs_count %> <%= t('digital_job_offers') %>	</p>
			</div>
		</div>
		<div class="columns">
			<div class="column boxes-wrapper">
				<%= render partial: '/jobs/job', collection: @jobs %>
			</div>
		</div>
		<div class="columns">
			<div class="column has-text-centered">
				<%= link_to t('show_all_jobs'), jobs_path, class: 'button is-rounded primary is-large shadow' %>
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column">
				<h3 class="title is-2 has-text-weight-bold has-text-corporate">
					<%= t('home_index.first_section_text_1') %>, <br>
					<%= t('home_index.first_section_text_2') %>
				</h3>
				<p class="is-size-5 mb3 has-text-weight-bold">
					<%= t('home_index.first_section_text_3') %> <br>
					<%= t('home_index.first_section_text_4') %>
				</p>
				<p>
					<%= t('home_index.first_section_text_5') %> <br>
					<%= t('home_index.first_section_text_6') %>
				</p>
				<p class="mt3">
					<%= link_to how_it_works_talent_path, class: 'button is-rounded shadow' do %>
            <span><%= t('for_talent') %></span> <%= icon('fas', 'arrow-right', class: 'ml3') %>
          <% end %>
				</p>
			</div>
      <div class="column mv3 is-hidden-desktop"></div>
			<div class="column">
				<img src="<%=asset_path('undraw_navigation.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">		
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column is-hidden-touch">
				<img src="<%=asset_path('undraw_community.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">	
			</div>
			<div class="column">
				<h3 class="title is-2 has-text-weight-bold has-text-corporate">
          <%= t('home_index.second_section_text_1') %>
				</h3>
				<p class="is-size-5 mb3 has-text-weight-bold">
					<%= t('home_index.second_section_text_2') %>
				</p>
				<p>
					<%= t('home_index.second_section_text_3') %> <br>
					<%= t('home_index.second_section_text_4') %>
				</p>
			</div>
      <div class="column is-hidden-desktop mt4">
				<img src="<%=asset_path('undraw_community.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">	
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section section-bg-gray pv6">
	<div class="container">
		<p class="title is-2 has-text-weight-bold has-text-corporate has-text-centered">
      <%= t('home_index.people_heading') %>
		</p>
		<div class="columns mt4">
			<div class="column">
				<div class="card">
					<div class="card-content">
						<div class="rounded-image m-auto size-120">
							<img src="<%=asset_path('alex_lope.jpg')%>" class="is-blank">			
						</div>
						<div class="media mt3">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="<%=asset_path('emogg_logo.png')%>" class="is-blank">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4">Ramón Bassols</p>
								<p class="subtitle is-6">Fullstack developer - Emogg</p>
							</div>
						</div>
						<div class="content">
							<%= t('home_index.people_1') %>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-content">
						<div class="rounded-image m-auto size-120">
							<img src="<%=asset_path('jose_alvarez.jpg')%>" class="is-blank">			
						</div>
						<div class="media mt3">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="<%=asset_path('nuo_planet.jpg')%>" class="is-blank">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4">Jose Álvarez</p>
								<p class="subtitle is-6">ReactJS developer - Nüo Planet</p>
							</div>
						</div>
						<div class="content">
							<%= t('home_index.people_2') %>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-content">
						<div class="rounded-image m-auto size-120">
							<img src="<%=asset_path('laia_armengol.jpg')%>" class="is-blank">			
						</div>
						<div class="media mt3">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="<%=asset_path('knauf.png')%>" class="is-blank">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4">Laia Armengol</p>
								<p class="subtitle is-6">SEO specialist - Knauff Insulation</p>
							</div>
						</div>
						<div class="content">
							<%= t('home_index.people_3') %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="columns mt5">
    <div class="column has-text-centered">
      <%= link_to t('join_we_are_hiring'), new_user_registration_path, class: 'button is-rounded primary is-large shadow' %>
    </div>
  </div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					<%= t('home_index.third_section_text_1') %>
				</p>
				<p>
					<%= t('home_index.third_section_text_2') %>
				</p>
			</div>
			<div class="column">
				<img src="<%=asset_path('undraw_maker_launch.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column is-hidden-touch">
				<img src="<%=asset_path('undraw_order_confirmed.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
			<div class="column">
				<p class="title is-2 has-text-weight-bold has-text-corporate">
					<%= t('home_index.fourth_section_text_1') %>
				</p>
				<p class="is-size-5 mb3 has-text-weight-bold">
					<%= t('home_index.fourth_section_text_2') %>
				</p>
				<p>
					<%= t('home_index.fourth_section_text_3') %>
				</p>
				<p class="mt3">
        	<%= link_to how_it_works_companies_path, class: 'button is-rounded is-dark shadow' do %>
            <span><%= t('for_companies') %></span> <%= icon('fas', 'arrow-right', class: 'ml3') %>
          <% end %>
				</p>
			</div>
      <div class="column is-hidden-desktop">
				<img src="<%=asset_path('undraw_order_confirmed.svg')%>" width="400" height="400" class="is-blank" alt="Crear cuenta empresa y publicar empleo digital | Wearehiring.io">			
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section">
  <div class="container">
  	<div class="columns">
			<div class="column has-text-centered">
				<h3 class="title is-2 has-text-corporate"> <%= t('pricing')%> </h3>
			</div>
		</div>
    <div class="columns mt4">
      <div class="column">
        <div class="box radius-20 full-height is-flex is-flex-direction-column">
          <p class="title is-3 has-text-centered">
            Free
          </p>
          <p class="has-text-centered">
            <span class="title is-3 has-text-success"> 0€ </span> <br>
            <span class="has-text-weight-semibold"> por Job </span>
          </p>
          <p class="has-text-grey mt4 mb3"> <%= t('included') %>: </p>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p> <%= t('pricing_index.pricing_feature_1') %> </p>
          </div>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p> <%= t('pricing_index.pricing_feature_2') %> </p>
          </div>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p> <%= t('pricing_index.pricing_feature_3') %> </p>
          </div>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p> <%= t('pricing_index.pricing_feature_4') %> </p>
          </div>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p> <%= t('until_15_candidates') %> </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box radius-20 full-height is-flex is-flex-direction-column">
          <p class="title is-3 has-text-centered">
            Basic
          </p>
          <p class="has-text-centered">
            <span class="title is-3 has-text-success"> 99€ + IVA </span> <br>
            <span class="has-text-weight-semibold"> por Job </span>
          </p>
          <p class="has-text-grey mt4 mb3"> <%= t('included') %>: </p>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p> <%= t('pricing_index.pricing_feature_1') %> </p>
          </div>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p> <%= t('pricing_index.pricing_feature_2') %> </p>
          </div>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p> <%= t('pricing_index.pricing_feature_3') %> </p>
          </div>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p> <%= t('pricing_index.pricing_feature_4') %> </p>
          </div>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p> <del> <%= t('until_15_candidates') %> </del> <span class="has-text-success ml1 has-text-weight-semibold"><%= t('unlimited_candidates') %></span> </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box radius-20 full-height is-flex is-flex-direction-column">
          <p class="title is-3 has-text-centered">
            Pro
          </p>
          <p class="has-text-centered">
            <span class="title is-3 has-text-success"> 299€ + IVA </span> <br>
            <span class="has-text-weight-semibold"> por Job </span>
          </p>
          <p class="has-text-grey mt4 mb3"> <%= t('included') %>: </p>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p> <%= t('pricing_index.pricing_feature_1') %> </p>
          </div>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p> <%= t('pricing_index.pricing_feature_2') %> </p>
          </div>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p> <%= t('pricing_index.pricing_feature_3') %> </p>
          </div>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p> <%= t('pricing_index.pricing_feature_4') %> </p>
          </div>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p> <del> <%= t('until_15_candidates') %> </del> <span class="has-text-success ml1 has-text-weight-semibold"><%= t('unlimited_candidates') %></span> </p>
          </div>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p> <%= t('download_candidates_excel') %> </p>
          </div>
          <p class="has-text-grey mt3 mb3"> <%= t('plus_feature') %>: </p>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_6') %> </p>
            <p> <%= icon('fas', 'gem has-text-info ml2') %> </p>
          </div>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_7') %> </p>
            <p> <%= icon('fas', 'star has-text-warning ml2') %> </p>
          </div>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_8') %> </p>
            <p> <%= icon('fas', 'bullhorn has-text-corporate ml2') %> </p>
          </div>
          <div class="is-flex">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_9') %> </p>
            <p> <%= icon('fas', 'bolt has-text-warning ml2') %> </p>
          </div>
          <div class="is-flex mb4">
            <p> <%= icon('fas', 'check has-text-success mr2') %> </p>
            <p class="has-text-weight-semibold"> <%= t('pricing_index.pricing_feature_10') %> </p>
            <p> <%= icon('fas', 'plug ml2') %> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns mt5">
    <div class="column has-text-centered">
      <%= link_to t('payments.post_job'), pricing_path, class: 'button is-rounded primary is-large shadow' %>
    </div>
  </div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section section-bg-gray pv6">
	<div class="container">
		<div class="columns">
			<div class="column has-text-centered">
				<p class="title is-2 has-text-corporate"> <%= t('home_index.our_partners') %> </p>
			</div>
		</div>
		<div class="box mt4 pv5">
			<div class="columns is-vertical-center has-text-centered">
				<div class="column">
					<%= image_tag(asset_path('UIC.png'), width: 80, height: 80, alt: 'UIC - We Are Hiring partner') %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('codehouse_academy.png'), width: 80, height: 80, alt: 'Codehouse Academy - We Are Hiring partner') %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('inesdi.jpg'), width: 80, height: 80, alt: 'Inesdi - We Are Hiring partner') %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('ironhack.png'), width: 60, height: 60, alt: 'Ironhack - We Are Hiring partner') %>
				</div>
			</div>
			<div class="columns is-vertical-center has-text-centered">
				<div class="column">
					<%= image_tag(asset_path('lets_coder.png'), width: 80, height: 80, alt: 'Lets Coder - We Are Hiring partner') %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('esade.png'), width: 80, height: 80, alt: 'Esade - We Are Hiring partner') %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('BAU.png'), width: 80, height: 80, alt: 'BAU - We Are Hiring partner') %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('BTS.png'), width: 80, height: 80, alt: 'BTS - We Are Hiring partner') %>
				</div>
			</div>
			<div class="columns is-vertical-center has-text-centered">
				<div class="column">
					<%= image_tag(asset_path('esdi.png'), width: 80, height: 80, alt: 'ESDI - We Are Hiring partner') %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('KEEPCODING.png'), width: 80, height: 80, alt: 'KEEPCODING - We Are Hiring partner') %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('la_salle.png'), width: 80, height: 80, alt: 'La Salle - We Are Hiring partner') %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('upc.png'), width: 80, height: 80, alt: 'UPC - We Are Hiring partner') %>
				</div>
			</div>
			<div class="columns is-vertical-center has-text-centered">
				<div class="column">
					<%= image_tag(asset_path('elisava.png'), width: 80, height: 80, alt: 'ELISAVA - We Are Hiring partner') %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('epitech.jpg'), width: 80, height: 80, alt: 'EPITECH - We Are Hiring partner') %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('gse_bcn.jpg'), width: 80, height: 80, alt: 'GSE BCN - We Are Hiring partner') %>
				</div>
				<div class="column">
					<%= image_tag(asset_path('IEBS.png'), width: 80, height: 80, alt: 'IEBS - We Are Hiring partner') %>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="mt6 is-hidden-touch"></div>
<div class="mt3 is-hidden-desktop"></div>

<section class="section pv5">
	<div class="container is-max-widescreen">
  	<div class="columns">
			<div class="column has-text-centered">
				<p class="title is-2 has-text-corporate"> <%= t('home_index.start_now') %> </p>
			</div>
		</div>
    <div class="columns mt3">
      <div class="column has-text-right-desktop has-text-centered-touch">
        <%= link_to t('im_talent'), new_user_registration_path, class: 'button is-rounded primary is-large shadow' %>
      </div>
      <div class="column has-text-centered-touch">
        <%= link_to t('search_talent'), new_company_registration_path, class: 'button is-rounded is-dark is-large shadow' %>
      </div>
    </div>
  </div>
</section>

<%= content_for :head do %>
	<%= render "seo", 
			title: t('seo.home_title'), 
			description: t('seo.home_description'),
			image: image_url(asset_path('wah_red_logo.png')) %>
<% end %>
