<%= render 'claim' %>

<section class="section is-section-white has-text-left-mobile">
	<div class="container">
		<div class="columns">
			<div class="column has-text-left">
				<strong> <%= t('last') %> <%= @jobs_count %> <%= t('digital_job_offers') %>	</strong>
			</div>
		</div>
		<div class="columns">
			<div class="column boxes-wrapper">
				<%= render partial: '/jobs/job', collection: @jobs %>
			</div>
		</div>
		<div class="columns">
			<div class="column has-text-centered">
				<%= link_to t('show_all_jobs'), jobs_path, class: 'button is-rounded primary is-large' %>
			</div>		
		</div>
	</div>
</section>

<section class="section has-text-left-mobile is-section-primary">
	<div class="container">
		<div class="columns">
			<div class="column">
				<% if user_signed_in? %>
					<h2 class="title"> Welcome <%= current_user.name %> </h2>
					<p> Body text here </p>
					<div class="mt4">
						<% if current_user.is_company? %>
							<%= link_to t('jobs.post_job'), new_job_path, class: 'button is-medium is-rounded' %>
						<% else %>
							<%= link_to t('my_inscriptions'), user_inscriptions_inscriptions_path, class: 'button is-medium is-rounded' %>
						<% end %>
					</div>
				<% else %>
					<h2 class="title"> <%= t('company_section_title') %> </h2>
					<p> <%= t('company_section_body') %> </p>
					<div class="mt4">
						<%= link_to t('create_company_account'), new_user_registration_path, class: 'button is-medium is-rounded' %>
					</div>
				<% end %>
			</div>
			<div class="column is-vertical-center has-text-centered">
				<%= icon('far', 'building f1') %>
			</div>
		</div>
	</div>
</section>

<section class="section has-text-centered is-section-white has-text-left-mobile">
	<div class="container">
		<div class="columns">
			<div class="column is-three-fifths is-offset-one-fifth">
				<h2 class="title"> About us! </h2>
				<p> Algún text marketinero aquí! (no miro a nadie ;)) </p>
			</div>
		</div>
	</div>
</section>

<section class="section is-section-white is-features">
	<div class="container">
		<div class="columns">
			<article class="column has-text-centered">
				<img src="<%=asset_path('actualizar.svg')%>" width="210" height="210" class="is-blank is-mobile-img" alt="Ofertas de empleo actualizadas diariamente | JobHub">
				<div class="content has-text-left-mobile">
					<h3> <%=t('feature_1')%> </h3>
					<p class="has-text-left"> <%=t('feature_1_text')%> </p>
				</div>
			</article>
			<article class="column has-text-centered">
				<img src="<%=asset_path('puzzle.svg')%>" width="210" height="210" class="is-blank" alt="Las mejores empresas | JobHub">
				<div class="content has-text-left-mobile">
					<h3> <%=t('feature_2')%> </h3>
					<p class="has-text-left"> <%=t('feature_2_text')%> </p>
				</div>
			</article>
			<article class="column has-text-centered">
				<img src="<%=asset_path('rocket.svg')%>" width="210" height="210" class="is-blank" alt="Sin registros | JobHub">
				<div class="content has-text-left-mobile">
					<h3> <%=t('feature_3')%> </h3>
					<ul class="has-text-left">
						<li> <%= t('feature_3_text_1') %> </li>
						<li> <%= t('feature_3_text_2') %> </li>
						<li> <%= t('feature_3_text_3') %> </li>
					</ul>
				</div>
			</article>
		</div>
	</div>
</section>