<%= render 'claim' %>

<section class="section has-text-centered is-section-white has-text-left-mobile">
	<div class="container">
		<div class="columns">
			<div class="column is-four-fifths is-offset-1 has-text-left">
				<strong> <%= t('showing_10_of') %> <%= @jobs_count %>	</strong>
			</div>
		</div>
		<div class="columns">
			<div class="column is-four-fifths is-offset-1">
				<%= render partial: '/jobs/job', collection: @jobs %>
			</div>
		</div>
		<div class="columns">
			<div class="column has-text-centered">
				<%= link_to t('show_all_jobs'), jobs_path, class: 'button is-rounded primary is-large' %>
			</div>		
		</div>
	</div>
</section>

<section class="section has-text-centered is-section-white has-text-left-mobile">
	<div class="container">
		<div class="columns">
			<div class="column is-three-fifths is-offset-one-fifth">
				<h2 class="title"> Some title here! </h2>
				<p> Algún text marketinero aquí! (no miro a nadie ;)) </p>
			</div>
		</div>
	</div>
</section>

<section class="section has-text-centered is-section-white is-features">
	<div class="container">
		<div class="columns">
			<article class="column is-3 has-text-centered">
				<img src="<%=asset_path('actualizar.svg')%>" width="210" height="210" class="is-blank is-mobile-img" alt="Ofertas de empleo actualizadas diariamente | JobHub">
				<div class="content has-text-left-mobile">
					<h3><%=t('feature_1')%></h3>
					<p><%=t('feature_1_text')%></p>
				</div>
			</article>
			<div class="column"></div>
			<article class="column is-3 has-text-centered">
				<img src="<%=asset_path('puzzle.svg')%>" width="210" height="210" class="is-blank" alt="Las mejores empresas | JobHub">
				<div class="content has-text-left-mobile">
					<h3><%=t('feature_2')%></h3>
					<p><%=t('feature_2_text')%></p>
				</div>
			</article>
			<div class="column"></div>
			<article class="column is-3 has-text-centered">
				<img src="<%=asset_path('rocket.svg')%>" width="210" height="210" class="is-blank" alt="Sin registros | JobHub">
				<div class="content has-text-left-mobile">
					<h3><%=t('feature_3')%></h3>
					<p><%=t('feature_3_text')%></p>
				</div>
			</article>
		</div>
	</div>
</section>