<% job = inscription.job %>

<tr>
  <td>
    <% if job.avatar.file.nil? %>
      <%= icon('far', 'image', style: 'font-size: 50px') %>
    <% else %>
      <%= image_tag(job.avatar_url(:thumb), alt: job.job_author, size: 30) %>
    <% end %>
  </td>
  <td>
    <%= link_to job.title, admins_job_path(job.id) %>
  </td>
  <td>
     <%= job.job_author %>
  </td>
  <td> 
    <%= icon('fas', 'star') if inscription.recommended? %>
  </td>
  <td>
    <%= inscription.status.present? ? t("inscriptions.#{inscription.status}") : 'Inscrito' %>
  </td>
</tr>
