<%= simple_form_for(user, method: :patch, url: admins_user_path(user.id), html: { multipart: true }, remote: true) do |f| %>
<tr class="is-size-7 user-table-row">
  <td><%= user.id %></td>
  <td>
    <% if user.picture_url.file.nil? %>
      <%= icon('far', 'user-circle', style: 'font-size: 30px') %>
    <% else %>
      <%= image_tag(user.picture_url_url(:thumb), size: 30, alt: "Imagen perfil usuario | Wearehiring.io") %>
    <% end %>
  </td>
  <td>
    <%= flag_icon(user.resident_country_code) %>
    <% if user.is_candidate? %>
      <%= link_to user.name, admins_user_path(user) %>
    <% else %>
      <%= user.name %>
    <% end %>
  </td>
  <td>
    <%= f.input :last_name,
          label: false,
          input_html: { class: "input f7" },
          wrapper: false,
          placeholder: 'P. Contacto' if user.is_company? %>
  <td>
    <%= f.input :phone,
          label: false,
          input_html: { class: "input f7" },
          wrapper: false,
          placeholder: t('users.phone') %>
  </td>
  <td><%= user.email %></td>
  <td>
    <%= f.input :profile_url,
          label: false,
          input_html: { class: "input f7" },
          wrapper: false,
          placeholder: t('users.profile_url') if user.is_candidate? %>
  </td>
  <td>
    <% if user.is_candidate? %>
      <% if user.skills.exists? && user.visible? && user.location.present? && user.current_position.present? && user.experience.present? %>
        <span class="tag is-success is-size-7"> ON </span>
      <% end %>
      <% if !user.visible? %>
        <span class="tag is-danger is-size-7"> OFF </span>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= f.collection_select :skill_ids, Skill.all, :id, :name, {:prompt => "Please Select a Skill"}, { multiple: "multiple" } if user.is_candidate? %>  
  </td>
  <td>
    by IP: <br>
    <%= user.resident_city %>, <%= user.resident_state %>, <%= user.resident_postal_code %>, <%= user.resident_country %>
    <br><br>
    by user: <br>
    <%= user.location %>
  </td>
  <td>
    <%= f.select :experience, 
    options_for_select([ "0-2 a単os", "2-6 a単os", "6-10 a単os", "+10 a単os" ], user.experience),
    {include_blank: 'Seleccionar' } if user.is_candidate? %>
  </td>
  <td>
    <%= user.user_type.name %>
  </td>
  <td>
    <% if user.is_company? %>
      <%= user.jobs.count %>
    <% end %>
  </td>
  <td>
    <%= link_to user.inscriptions.count, inscriptions_admins_user_path(user.id), target: "_blank" if user.is_candidate? %>
  </td>
  <td>
    <%= f.submit t('save'), class: 'button is-info f6' %>
  </td>
</tr>
<% end %>

<%= content_for :footer do %>

<script>
  $(document).on('ajax:success', '#edit_user_<%= user.id %>', function(event) {
    alert('Usuario actualizado correctamente')
  });

  $(document).on('ajax:error', '#edit_user_<%= user.id %>', function(event) {
    alert('Ha ocurrido un problema al intentar guardar los cambios')
  });
</script>

<% end %>
