<%= simple_form_for(user, method: :patch, url: admins_user_path(user.id), html: { multipart: true }) do |f| %>
<tr class="is-size-7">
  <td><%= user.id %></td>
  <td>
    <% if user.picture_url.file.nil? %>
      <%= icon('far', 'user-circle', style: 'font-size: 30px') %>
    <% else %>
      <%= image_tag(user.picture_url_url(:thumb), size: 30, alt: "Imagen perfil usuario | Wearehiring.io") %>
    <% end %>
  </td>
  <td>
    <%= link_to user.name, admins_user_path(user) %>
  </td>
  <td>
    <% if user.is_company? %>
      <%= user.last_name %>
    <% end %>
  <td>
    <%= f.input :phone, 
      label: false, 
      input_html: { class: "input f7" }, 
      wrapper: false, 
      placeholder: t('users.phone') if user.is_candidate? %>
  </td>
  <td><%= user.email %></td>
  <td>
    <%= f.input :profile_url, 
        label: false, 
        input_html: { class: "input f7" }, 
        wrapper: false, 
        placeholder: t('users.profile_url') if user.is_candidate? %>
  </td>
  <td>
    <% if user.is_candidate? %>
      <% if user.skills.exists? && user.visible? %>
        <span class="tag is-success is-size-7"> ON </span>
      <% end %>
      <% if !user.visible? %>
        <span class="tag is-danger is-size-7"> OFF </span>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= user.skills.map(&:name).to_sentence if user.skills.exists? %>
  </td>
  <td>
    <%= user.location if user.is_candidate? %>
  </td>
  <td>
    <%= user.experience if user.is_candidate? %>
  </td>
  <td>
    <%= user.user_type.name %>
  </td>
  <td>
    <% if user.is_company? %>
      <%= user.jobs.count %>
    <% end %>
  </td>
  <td>
    <%= link_to user.inscriptions.count, inscriptions_admins_user_path(user.id), target: "_blank" if user.is_candidate? %>
  </td>
  <td>
    <%= f.submit t('save'), class: 'button is-info f6' %>
  </td>
</tr>
<% end %>
