<section class="section pv2">
  <div class="container">
    <div class="columns">
      <div class="column"> 
        <p> Candidatos: <%= @candidates_count %> </p>
        <p> Candidatos con We Match: <%= @matching_users_count %> </p>
        <p> Empresas: <%= @companies_count %> </p>
        <p> Ambassadors: <%= @ambassadors_count %> </p>
        <%= form_for admins_users_path, method: :get, html: {class: "mt3"} do |f| %>
          <div class="columns is-search is-vertical-center">
            <div class="column">
              <input 
                type="text" 
                class="input" 
                placeholder="<%=t('search')%>" 
                name="search_users" 
                value="<%= params[:search_users] ? params[:search_users] : '' %>">
            </div>
            <div class="select">
              <%= select_tag :by_user_type, 
                options_from_collection_for_select(UserType.all, :id, :name, params[:by_user_type].to_i), 
                :include_blank => t('select.user_type') %>
            </div>
            <div class="column has-text-left">
              <%= f.submit t('search'), class: "button is-dark" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="column has-text-right">
        <%= link_to admins_users_path(format: :xlsx), class: 'button is-success pl3' do %>
          <%= icon('fas', 'file-download pr2') %> <%= t('download_users_excel') %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="section pb5">
  <div class="container">
    <div class="table-container">
      <table class="table is-striped">
        <thead> 
          <tr>
            <td>ID</td>
            <td><%= t('users.image') %></td>
            <td><%= t('users.name') %></td>
            <td><%= t('users.phone') %></td>
            <td><%= t('users.email') %></td>
            <td><%= t('users.profile_url') %></td>
            <td>We Match</td>
            <td>Skills</td>
            <td>Ciudad</td>
            <td>Exp</td>
            <td><%= t('users.user_type') %></td>
            <td>Jobs</td>
            <td><%= t('inscribed') %></td>
            <td><%= t('save') %></td>
          </tr>
        </thead>
        <tfoot> 
          <tr>
            <td>ID</td>
            <td><%= t('users.image') %></td>
            <td><%= t('users.name') %></td>
            <td><%= t('users.phone') %></td>
            <td><%= t('users.email') %></td>
            <td><%= t('users.profile_url') %></td>
            <td>We Match</td>
            <td>Skills</td>
            <td>Ciudad</td>
            <td>Exp</td>
            <td><%= t('users.user_type') %></td>
            <td>Jobs</td>
            <td><%= t('inscribed') %></td>
            <td><%= t('save') %></td>
          </tr>
        </tfoot>
        <tbody>
            <%= render @users %>
        </tbody>
      </table>
    </div>
    <div class="container">
      <div class="columns is-centered mt3">
        <div class="column is-half-desktop">
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>
</section>