<section class="section pv2">
  <div class="container">
    <div class="columns">
      <div class="column"> 
        <p> Empresas: <%= @companies %> </p>
        <p> Candidatos: <%= @candidates %> </p>
        <%= form_for admins_users_path, method: :get, html: {class: "mt3"} do |f| %>
          <div class="columns is-search is-vertical-center">
            <div class="column">
              <input 
                type="text" 
                class="input" 
                placeholder="<%=t('search')%>" 
                name="search_users" 
                value="<%= params[:search_users] ? params[:search_users] : '' %>">
            </div>
            <div class="select">
              <%= select_tag :by_user_type, 
                options_from_collection_for_select(UserType.all, :id, :name, params[:by_user_type].to_i), 
                :include_blank => t('select.user_type') %>
            </div>
            <div class="column has-text-left">
              <%= f.submit t('search'), class: "button is-dark" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="column has-text-right">
        <%= link_to admins_users_path(format: :csv), class: 'button primary pl3' do %>
          <%= icon('fas', 'file-download pr2') %> <%= t('download_users_csv') %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="section pb5 pt2">
  <div class="container">
    <div class="columns listhead is-mobile">
      <div class="column is-1 is-hidden-touch">
        Nb
      </div>
      <div class="column is-1 is-hidden-touch">
        <%= t('users.image') %>
      </div>
      <div class="column">
        <%= t('users.name') %>
      </div>
      <div class="column">
        <%= t('users.phone') %>
      </div>
      <div class="column is-2-desktop">
        <%= t('users.email') %>
      </div>
      <div class="column is-hidden-mobile">
        <%= t('jobs.position') %>
      </div>
      <div class="column is-hidden-mobile">
        <%= t('users.profile_url') %>
      </div>
      <div class="column is-hidden-mobile">
        <%= t('users.user_type') %>
      </div>
      <div class="column">
        <%= t('inscribed') %>
      </div>
      <div class="column is-1 is-hidden-mobile">
        Guardar
      </div>
    </div>

    <%= render @users %>

    <div class="columns is-centered mt3">
      <div class="column is-half-desktop">
        <%= paginate @users %>
      </div>
    </div>

  </div>
</section>