<section class="section pb5 pt2">
  <div class="container">
    <div class="columns listhead is-mobile">
      <div class="column is-1 is-hidden-touch">
        Nb
      </div>
      <div class="column is-1 is-hidden-touch">
        <%= t('users.image') %>
      </div>
      <div class="column is-hidden-mobile">
        <%= t('users.name') %>
      </div>
      <div class="column is-2">
        <%= t('users.email') %>
      </div>
      <div class="column">
        <%= t('jobs.position') %>
      </div>
      <div class="column is-hidden-touch">
        <%= t('users.profile_url') %>
      </div>
      <div class="column">
        <%= t('users.user_type') %>
      </div>
      <div class="column is-1">
        Guardar
      </div>
    </div>

    <%= render @users %>

    <div class="columns">
      <div class="column is-4 is-offset-8">
      </div>
    </div>
  </div>
</section>