<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8">
        <h1 class="title">
          Dashboard <%= current_user.name %>
        </h1>
        <h2 class="subtitle">
          <%= t('dashboard_subtitle') %>
        </h2>
      </div>
    </div>
    <div class="columns mt5"> 
      <div class="column">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Jobs</p>
              <p class="title"><%= @company_jobs_count %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading"><%= t('counters.active_jobs') %></p>
              <p class="title"><%= @company_jobs_open_count %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading"><%= t('counters.finalized_jobs') %></p>
              <p class="title"><%= @company_jobs_close_count %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading"><%= t('counters.total_inscribeds') %></p>
              <p class="title"><%= @total_inscriptions %></p>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="columns mt5">
      <div class="column is-6">
        <div class="box events-card">
          <p class="title is-4">
            <%= t('last_candidates') %>
          </p>
          <div class="card-table pa2">
            <% if @last_inscribeds.any? %>
              <% @last_inscribeds.each do |inscription| %>
                <div class="columns is-vcentered">
                  <div class="column is-1">
                    <% if inscription.user.picture_url.file.nil? %>
                      <%= icon('far', 'image', style: 'font-size: 25px') %>
                    <% else %>
                      <div class="rounded-image size-25 mr1">
                        <%= image_tag(inscription.user.picture_url_url(:thumb), width: 35, height: 35) %>
                      </div>
                    <% end %>
                  </div>
                  <div class="column is-size-7 is-8">
                    <%= inscription.user.name %> ha aplicado a <%= inscription.job.title %> 
                  </div>
                  <div class="column has-text-right is-3">
                    <%= link_to companies_job_inscription_path(inscription.job_id, inscription.id), class: "button is-small is-rounded is-link" do %>
                      <%= t('view_profile') %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="has-text-centered mt3">
                <%= image_tag(asset_path('applicants_logo.svg'), size: 150) %>
                <p> <%= t('dashboard_no_candidates') %>  </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="box events-card">
          <p class="title is-4">
            <%= t('last_posted_jobs') %>
          </p>
          <div class="card-table pa2">
            <% if @company_jobs.any? %>
              <% @company_jobs.each do |job| %>
                <div class="columns is-vcentered">
                  <div class="column is-6 is-size-7">
                    <%= job.title %>
                  </div>
                  <div class="column is-2 has-text-right"> 
                    <span class="tag is-light <%= 'is-success' if job.open? %>">
                      <%= job.open? ? t('job_active') : t('job_ended') %> 
                    </span>
                  </div>
                  <div class="column has-text-right is-4">
                    <%= link_to companies_job_path(job.id), class: 'button is-small is-rounded is-link' do %>
                      <%= t('dashboard_manage_job') %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="has-text-centered mt3">
                <%= image_tag(asset_path('job_logo.svg'), size: 100) %>
                <p class="mb2"> <%= t('dashboard_no_jobs') %> </p>
                  <%= link_to t('jobs.post_job'), 
                    new_companies_job_path, 
                    class: "button text-uppercase f6 is-dark has-text-weight-bold" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="mv3 is-hidden-touch"></div>

<section class="section">
  <div class="container">
    <%= render 'company_how_it_works' %>
  </div>
</section>
