<div class="is-relative">
  <div class="blurred-section">
    <div class="box radius-20">
      <div class="columns is-vcentered">
        <div class="column is-1">
          <div class="rounded-image size-50">
            <%= image_tag(asset_path('laia_armengol.jpg')) %>
          </div>
        </div>
        <div class="column is-4">
          <%= icon('fas', 'user', class: 'mr1') %> Erika Doe <br>
          <%= icon('fas', 'at', class: 'mr1') %> erika.doe@mailnator.com <br>
          <%= icon('fas', 'phone', class: 'mr1') %> 555777666 <br>
          <span class="has-text-link"> <%= icon('fab', 'linkedin', class: 'mr1') %> Linkedin <br> </span>
        </div>
        <div class="column is-4">
          <span class="has-text-weight-bold"> <%= t('inscriptions.residence') %>: </span> 
          <%= flag_icon('ES') %>
          ES, Catalonia, Barcelona %> <br>
          <span class="has-text-weight-bold"> <%= t('inscriptions.current_job') %>: </span> Backend developer <br>
          <span class="has-text-weight-bold"> <%= t('inscriptions.experience') %>: </span> 2-6 years
        </div>
        <div class="column is-1">
          <span class="button is-static">
            <%= icon('fas', 'address-card', class: 'mr2') %> <%= t('view_profile') %>
          </span>
        </div>
        <div class="column is-2 has-text-right">
          <span class="button is-static is-rounded">
            Status
          </span>
        </div>
      </div>
    </div>
    <div class="box radius-20">
      <div class="columns is-vcentered">
        <div class="column is-1">
          <div class="rounded-image size-50">
            <%= image_tag(asset_path('alex_lope.jpg')) %>
          </div>
        </div>
        <div class="column is-4">
          <%= icon('fas', 'user', class: 'mr1') %> John Doe <br>
          <%= icon('fas', 'at', class: 'mr1') %> john.doe@mailnator.com <br>
          <%= icon('fas', 'phone', class: 'mr1') %> 555777666 <br>
          <span class="has-text-link"> <%= icon('fab', 'linkedin', class: 'mr1') %> Linkedin <br> </span>
        </div>
        <div class="column is-4">
          <span class="has-text-weight-bold"> <%= t('inscriptions.residence') %>: </span> 
          <%= flag_icon('ES') %>
          ES, Catalonia, Barcelona <br>
          <span class="has-text-weight-bold"> <%= t('inscriptions.current_job') %>: </span> Backend developer <br>
          <span class="has-text-weight-bold"> <%= t('inscriptions.experience') %>: </span> 2-6 years
        </div>
        <div class="column is-1">
          <span class="button is-static">
            <%= icon('fas', 'address-card', class: 'mr2') %> <%= t('view_profile') %>
          </span>
        </div>
        <div class="column is-2 has-text-right">
          <span class="button is-static is-rounded">
            Status
          </span>
        </div>
      </div>
    </div>
    <div class="box radius-20">
      <div class="columns is-vcentered">
        <div class="column is-1">
          <div class="rounded-image size-50">
            <%= image_tag(asset_path('unknown_user.png')) %>
          </div>
        </div>
        <div class="column is-4">
          <%= icon('fas', 'user', class: 'mr1') %> Helen P. Hill Doe <br>
          <%= icon('fas', 'at', class: 'mr1') %> helen.hill.doe@mailnator.com <br>
          <%= icon('fas', 'phone', class: 'mr1') %> 555777666 <br>
          <span class="has-text-link"> <%= icon('fab', 'linkedin', class: 'mr1') %> Linkedin <br> </span>
        </div>
        <div class="column is-4">
          <span class="has-text-weight-bold"> <%= t('inscriptions.residence') %>: </span> 
          <%= flag_icon('ES') %>
          ES, Catalonia, Barcelona <br>
          <span class="has-text-weight-bold"> <%= t('inscriptions.current_job') %>: </span> Backend developer <br>
          <span class="has-text-weight-bold"> <%= t('inscriptions.experience') %>: </span> 2-6 years
        </div>
        <div class="column is-1">
          <span class="button is-static">
            <%= icon('fas', 'address-card', class: 'mr2') %> <%= t('view_profile') %>
          </span>
        </div>
        <div class="column is-2 has-text-right">
          <span class="button is-static is-rounded">
            Status
          </span>
        </div>
      </div>
    </div>
    <div class="box radius-20">
      <div class="columns is-vcentered">
        <div class="column is-1">
          <div class="rounded-image size-50">
            <%= image_tag(asset_path('jose_alvarez.jpg')) %>
          </div>
        </div>
        <div class="column is-4">
          <%= icon('fas', 'user', class: 'mr1') %> Lashell C. Anthony <br>
          <%= icon('fas', 'at', class: 'mr1') %> lashell.anthony@mailnator.com <br>
          <%= icon('fas', 'phone', class: 'mr1') %> 555777666 <br>
          <span class="has-text-link"> <%= icon('fab', 'linkedin', class: 'mr1') %> Linkedin <br> </span>
        </div>
        <div class="column is-4">
          <span class="has-text-weight-bold"> <%= t('inscriptions.residence') %>: </span> 
          <%= flag_icon('ES') %>
          ES, Catalonia, Barcelona <br>
          <span class="has-text-weight-bold"> <%= t('inscriptions.current_job') %>: </span> Backend developer <br>
          <span class="has-text-weight-bold"> <%= t('inscriptions.experience') %>: </span> 2-6 years
        </div>
        <div class="column is-1">
          <span class="button is-static">
            <%= icon('fas', 'address-card', class: 'mr2') %> <%= t('view_profile') %>
          </span>
        </div>
        <div class="column is-2 has-text-right">
          <span class="button is-static is-rounded">
            Status
          </span>
        </div>
      </div>
    </div>
    <div class="box radius-20">
      <div class="columns is-vcentered">
        <div class="column is-1">
          <div class="rounded-image size-50">
            <%= image_tag(asset_path('user_male_avatar.svg')) %>
          </div>
        </div>
        <div class="column is-4">
          <%= icon('fas', 'user', class: 'mr1') %> Susan T. Carter <br>
          <%= icon('fas', 'at', class: 'mr1') %> susan.carter@mailnator.com <br>
          <%= icon('fas', 'phone', class: 'mr1') %> 555777666 <br>
          <span class="has-text-link"> <%= icon('fab', 'linkedin', class: 'mr1') %> Linkedin <br> </span>
        </div>
        <div class="column is-4">
          <span class="has-text-weight-bold"> <%= t('inscriptions.residence') %>: </span> 
          <%= flag_icon('ES') %>
          ES, Catalonia, Barcelona <br>
          <span class="has-text-weight-bold"> <%= t('inscriptions.current_job') %>: </span> Backend developer <br>
          <span class="has-text-weight-bold"> <%= t('inscriptions.experience') %>: </span> 2-6 years
        </div>
        <div class="column is-1">
          <span class="button is-static">
            <%= icon('fas', 'address-card', class: 'mr2') %> <%= t('view_profile') %>
          </span>
        </div>
        <div class="column is-2 has-text-right">
          <span class="button is-static is-rounded">
            Status
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="box radius-20 over-blurred-message has-text-centered">
    <p> Accede a todos los candidatos. </p>
    <p> Mejora este job a <span class="has-text-corporate has-text-weight-bold"> tipo BASIC </span> </p>
    <%= link_to edit_price_companies_job_path(id: job.id), class: 'button upgrade-button is-rounded mt3' do %>
      <span> <%= t('upgrade_this_job') %> </span>
    <% end %>
  </div>
</div>
