<div class="is-relative">
  <div class="blurred-section">
    <div class="box radius-20 mt2">
      <div class="columns is-vcentered">
        <div class="column is-1">
          <div class="rounded-image size-50">
            <%= image_tag(asset_path('unknown_user.png')) %>
          </div>        
        </div>
        <div class="column is-3">
          <span class="has-text-weight-bold"> <%= t('inscriptions.current_job') %>: Backend developer </span>
        </div>
        <div class="column is-2">
          <span class="has-text-weight-bold"> <%= t('inscriptions.experience') %>: 2-6 años </span> 
        </div>
        <div class="column is-1">
          <%= flag_icon('ES') %> ES
        </div>
        <div class="column is-3">
          <span class='tag is-normal'> javascript </span>
          <span class='tag is-normal'> reactjs </span>
          <span class='tag is-normal'> nodejs </span>
        </div>
        <div class="column is-2 has-text-centered">
          <span class="button is-static is-rounded">
            Añadir
          </span>
        </div>
      </div>
    </div>
    <div class="box radius-20 mt2">
      <div class="columns is-vcentered">
        <div class="column is-1">
          <div class="rounded-image size-50">
            <%= image_tag(asset_path('unknown_user.png')) %>
          </div>        
        </div>
        <div class="column is-3">
          <span class="has-text-weight-bold"> <%= t('inscriptions.current_job') %>: Backend developer </span>
        </div>
        <div class="column is-2">
          <span class="has-text-weight-bold"> <%= t('inscriptions.experience') %>: 2-6 años </span> 
        </div>
        <div class="column is-1">
          <%= flag_icon('ES') %> ES
        </div>
        <div class="column is-3">
          <span class='tag is-normal'> javascript </span>
          <span class='tag is-normal'> reactjs </span>
          <span class='tag is-normal'> nodejs </span>
        </div>
        <div class="column is-2 has-text-centered">
          <span class="button is-static is-rounded">
            Añadir
          </span>
        </div>
      </div>
    </div>
    <div class="box radius-20 mt2">
      <div class="columns is-vcentered">
        <div class="column is-1">
          <div class="rounded-image size-50">
            <%= image_tag(asset_path('unknown_user.png')) %>
          </div>        
        </div>
        <div class="column is-3">
          <span class="has-text-weight-bold"> <%= t('inscriptions.current_job') %>: Backend developer </span>
        </div>
        <div class="column is-2">
          <span class="has-text-weight-bold"> <%= t('inscriptions.experience') %>: 2-6 años </span> 
        </div>
        <div class="column is-1">
          <%= flag_icon('ES') %> ES
        </div>
        <div class="column is-3">
          <span class='tag is-normal'> javascript </span>
          <span class='tag is-normal'> reactjs </span>
          <span class='tag is-normal'> nodejs </span>
        </div>
        <div class="column is-2 has-text-centered">
          <span class="button is-static is-rounded">
            Añadir
          </span>
        </div>
      </div>
    </div>
    <div class="box radius-20 mt2">
      <div class="columns is-vcentered">
        <div class="column is-1">
          <div class="rounded-image size-50">
            <%= image_tag(asset_path('unknown_user.png')) %>
          </div>        
        </div>
        <div class="column is-3">
          <span class="has-text-weight-bold"> <%= t('inscriptions.current_job') %>: Backend developer </span>
        </div>
        <div class="column is-2">
          <span class="has-text-weight-bold"> <%= t('inscriptions.experience') %>: 2-6 años </span> 
        </div>
        <div class="column is-1">
          <%= flag_icon('ES') %> ES
        </div>
        <div class="column is-3">
          <span class='tag is-normal'> javascript </span>
          <span class='tag is-normal'> reactjs </span>
          <span class='tag is-normal'> nodejs </span>
        </div>
        <div class="column is-2 has-text-centered">
          <span class="button is-static is-rounded">
            Añadir
          </span>
        </div>
      </div>
    </div>
    <div class="box radius-20 mt2">
      <div class="columns is-vcentered">
        <div class="column is-1">
          <div class="rounded-image size-50">
            <%= image_tag(asset_path('unknown_user.png')) %>
          </div>        
        </div>
        <div class="column is-3">
          <span class="has-text-weight-bold"> <%= t('inscriptions.current_job') %>: Backend developer </span>
        </div>
        <div class="column is-2">
          <span class="has-text-weight-bold"> <%= t('inscriptions.experience') %>: 2-6 años </span> 
        </div>
        <div class="column is-1">
          <%= flag_icon('ES') %> ES
        </div>
        <div class="column is-3">
          <span class='tag is-normal'> javascript </span>
          <span class='tag is-normal'> reactjs </span>
          <span class='tag is-normal'> nodejs </span>
        </div>
        <div class="column is-2 has-text-centered">
          <span class="button is-static is-rounded">
            Añadir
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="box radius-20 over-blurred-message has-text-centered">
    <p> Añade a los mejores candidatos con We Match. </p>
    <p> Mejora este job a <span class="has-text-corporate has-text-weight-bold"> tipo PRO </span> </p>
    <%= link_to edit_price_companies_job_path(id: job.id), class: 'button upgrade-button is-rounded mt3' do %>
      <span> <%= t('upgrade_this_job') %> </span>
    <% end %>
  </div>
</div>
