<%= simple_form_for([:admins, @job], html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input_field :expiry_date, as: :hidden, html5: true, value: DateTime.now() + 30.days %>

  <% if edit_page %>
  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control">
          <label class="label"> 
            <abbr title="required">*</abbr>
            <%= t('jobs.assign_user') %>
          </label>
          <div class="control has-icons-left">
            <span class="select">
              <%= f.input_field :user_id, 
                collection: User.where(user_type_id: 2).all, 
                promt: "Select a User", 
                required: true %>
            </span>
            <span class="icon is-small is-left">
              <%= icon('fas', 'user') %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control">
          <%= f.input :title, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, placeholder: "Frontend Developer" %>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control">
          <%= f.input :job_author, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, placeholder: t('will_be_visible_by_candidates') %>
        </div>
      </div>
    </div>  
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control">
          <label class="label"> 
            <abbr title="required">*</abbr>
            <%= t('jobs.job_type') %>
          </label>
          <div class="control has-icons-left">
            <span class="select">
              <%= f.input_field :job_type_id, collection: JobType.all, promt: "Select Job Type", required: true %>
            </span>
            <span class="icon is-small is-left">
              <%= icon('fas', 'briefcase') %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-three-fifths-desktop">
      <div class="field">
        <div class="control">
          <%= f.input :location, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, hint: 'Examples: "Oviedo, Asturias", "Sevilla", "Cualquiera"', placeholder: "Barcelona" %>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control">
          <label for="job[remote_ok]">
            <%= f.input :remote_ok, required: false, input_html: { class: "checkbox" }, wrapper: false, label: false %>
            <%= t('work_can_be_done_remotely') %>
          </label>
          <%= icon('fas', 'wifi') %>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column"> 
      <strong>
        <abbr title="required">*</abbr>
        <%= t('jobs.salary_range') %>  
      </strong>
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-quarter-desktop">
      <div class="field">
        <div class="control">
          <%= f.input_field :salary_from, required: true, class: 'input', placeholder: '30000' %>
          <small> <%= t('forms.from') %> </small>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter-desktop">
      <div class="field">
        <div class="control">
          <%= f.input_field :salary_to, required: true, class: 'input', placeholder: '40000' %>
          <small> <%= t('forms.to') %> </small>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <input id="salarySwitch" type="checkbox" name="salarySwitch" class="switch">
        <label for="salarySwitch"> A consultar </label>
      </div>    
    </div>
  </div>
  
  <div class="columns">
    <div class="column is-one-third-desktop">
      <div class="field">
        <div class="control">
          <label class="label"> 
            <abbr title="required">*</abbr>
            <%= t('category') %> 
          </label>
          <div class="control has-icons-left">
            <span class="select">
              <%= f.input_field :category_id, collection: Category.all, promt: "Select a Category", required: true %>
            </span>
            <span class="icon is-small is-left">
              <%= icon('fas', 'globe') %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-one-third-desktop">
      <div class="field">
        <div class="control">
          <label class="label"> 
            <abbr title="required">*</abbr>
            <%= t('exp_level') %> 
          </label>
          <div class="control has-icons-left">
            <span class="select">
              <%= f.input_field :level_id, collection: Level.all, promt: "Select Level", required: true %>
            </span>
            <span class="icon is-small is-left">
              <%= icon('fas', 'globe') %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control">
          <label class="label"> <%= t('jobs.tags') %> </label>
          <small> <%= t('tags_form_small_text') %> </small>
          <%= f.text_area :tag_list, rows: 2, class: "textarea", placeholder: "UX, UI, Frontend, React, API" %>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control">
          <%= f.input :description, as: :trix_editor, required: true, input_html: { class: "textarea" }, wrapper: false, label_html: { class: "label" } %>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control">
          <label class="label f4"> <%= t('jobs.logo_image') %> </label>
          <div class="file is-info">
            <label class="file-label">
              <%= f.input :avatar, as: :file, required: false, input_html: { class: "file-input job-avatar" }, label: false, wrapper: false %>
              <span class="file-cta">
                <span class="file-icon"> <%= icon('fas', 'upload') %> </span>
                <span class="file-label"> Subir imagen... </span>
              </span>
            </label>
          </div>
          <p> Tamaño recomendado 200x200 </p>
        </div>
      </div>    
    </div>
    <div class="column">
      <output id="list"></output>
    </div>
  </div>

  <hr>
  
  <div class="has-text-centered submit-box">
    <%= f.button :submit, 'Publicar como admin', class: "is-rounded is-large primary mt3" %>   
    <%= icon('fas', 'circle-notch fa-spin is-hidden f1', id: 'submitSpinnerIcon') %>
  </div>

<% end %>

<%= content_for :footer do %>

  <%= javascript_include_tag "jobs/jobs.js" %>

  <script>  

    $(document).on("change", "#salarySwitch", function () {
      if ($('#salarySwitch').is(":checked")) {
        $('#job_salary_from, #job_salary_to').val(0);
        $('#job_salary_from, #job_salary_to').prop("type", "hidden");
      } else {
        $('#job_salary_from, #job_salary_to').val("");
        $('#job_salary_from, #job_salary_to').prop("type", "number");
      }
    });

  </script>

<% end %>