<div class="columns listrow is-mobile f6">
  <div class="column is-1 is-hidden-touch">
    <%= job.id %>
  </div>
  <div class="column is-hidden-touch">
    <%= job.reference %>
  </div>
  <div class="column is-hidden-mobile">
    <%= job.job_author %>
  </div>
  <div class="column">
    <%= link_to job.title, job %>
  </div>
  <div class="column">
  <%= link_to admins_job_inscriptions_path(job.id) do %>
    <%= job_inscriptions_counter(job) %>
  <% end %>
  </div>
  <div class="column">
    <strong> <%= job_expired(job) %> </strong> 
  </div>
  <div class="column">
    <%= link_to t('simple_form.labels.defaults.apply_url'), job.apply_url, target: "_blank" if job.apply_url.present? %>
  </div>
  <div class="column is-flex">
    <%= simple_form_for([:admins, job], html: { multipart: true }) do |f| %>
      <%= f.hidden_field :open, value: false %>
      <%= f.submit(
        t('jobs.close'),
        class: 'mr2',
        disabled: !job.open?, 
        data: { confirm: '¿Estás seguro? Esta acción no se puede deshacer. 
        El Job ya no estará visible pero la empresa podrá seguir gestionando sus candidatos' }) %>
    <% end %>

    <%= link_to edit_admins_job_path(job.id) do %>
      <%= icon('fas', 'edit') %>
    <% end %>
  </div>
</div>