<section class="section main-section">
  <div class="container">
    <%= link_to admins_jobs_path, class: "button" do %>
      <span class="icon is-small">
        <%= icon('fas', 'arrow-left') %>
      </span>
      <span> <%= t('back') %> </span>
    <% end %>
    <%= link_to job_path(@job), class: "button" do %>
      <span> <%= t('show') %> </span>
    <% end %>
  </div>
  <div class="mv4 is-mobile-only"></div>
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h1 class="title is-3"> <%= t('jobs.edit_job') %> Admin </h1>
        <%= render 'form', edit_page: true %>
      </div>
    </div>
  </div>
</section>