<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="f2"> Panel Jobs Admin </h1>
      </div>
    </div>
  <%= form_for admins_jobs_path, method: :get do |f| %>
    <div class="columns is-search is-vertical-center">
      <div class="column">
      <input 
        type="text" 
        class="input" 
        placeholder="<%=t('search')%>" 
        name="search_my_jobs" 
        value="<%= params[:search_my_jobs] ? params[:search_my_jobs] : '' %>">
      </div>
      <div class="column has-text-left">
        <%= f.submit t('search'), class: "button is-dark" %>
      </div>
    </div>
  <% end %>
  </div>
</section>

<section class="section pb5">
  <div class="container">
    <div class="columns">
      <div class="column mt2">
        <span class="tag is-light"><b> <%= @jobs_count %> <%= t('jobs.total') %> </b></span>
        <span class="tag is-success"><b> <%= @jobs_active_count %> <%= t('jobs.published_jobs') %> </b></span>
        <span class="tag is-danger"><b> <%= @jobs_expired_count %> <%= t('jobs.expired') %> </b></span>
      </div>
    </div>

    <div class="table-container">
      <table class="table is-striped">
        <thead> 
          <tr>
            <td>ID</td>
            <td><%= t('reference') %></td>
            <td><%= t('jobs.company') %></td>
            <td><%= t('jobs.position') %></td>
            <td>Skills</td>
            <td><%= t('jobs.candidates') %></td>
            <td>Estado</td>
            <td><%= t('simple_form.labels.defaults.apply_url') %></td>
            <td>Acciones</td>
          </tr>
        </thead>
        <tfoot> 
          <tr>
            <td>ID</td>
            <td><%= t('reference') %></td>
            <td><%= t('jobs.company') %></td>
            <td><%= t('jobs.position') %></td>
            <td>Skills</td>
            <td><%= t('jobs.candidates') %></td>
            <td>Estado</td>
            <td><%= t('simple_form.labels.defaults.apply_url') %></td>
            <td>Acciones</td>
          </tr>
        </tfoot>
        <tbody>
            <%= render @jobs %>
        </tbody>
      </table>
    </div>
    <div class="container">
      <div class="columns is-centered mt3">
        <div class="column is-half-desktop">
          <%= paginate @jobs %>
        </div>
      </div>
    </div>
  </div>
</section>