<% job = inscription.job %>

<div class="columns bg-white border-bottom">
  <div class="column is-1 is-vertical-center">
    <% if !job.avatar.file.nil? %>
      <%= link_to image_tag(job.avatar_url(:thumb), alt: job.job_author, width: 100, height: 100), job.url %>
    <% else %>
      <%= icon('far', 'image', style: 'font-size: 50px') %>
    <% end %>
  </div>
  <div class="column is-11">
    <div class="columns">
      <div class="column is-vertical-center">
        <%= link_to job do %>
          <span class="pr2"> <%= job.job_author %> </span> <strong> <%= job.title %> </strong>
        <% end %>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <%= icon('fas', 'coins mr1') %> 
        <%= number_to_currency(job.salary_from) %> - <%= number_to_currency(job.salary_to) %>       
      </div>
      <div class="column">
      <%= job.category.name %>
      </div>
      <div class="column">
        <%= icon('far', 'clock mr1') %> <%= job.job_type.name %>
      </div>
      <div class="column">
        <% if job.remote_ok? %>
          <%= icon('fas', 'wifi') %> <%= t('remote') %> 
        <% end %>
      </div>
      <div class="column">
        <% job.tags.each do |tag| %>
          <span class='tag is-success is-normal'> <%= tag.name %> </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="mb4"></div>
