<%= form_for inscription, url: job_inscription_path(inscription.job_id, inscription.id), method: :patch do |f| %>
  <div class="columns listrow is-mobile is-vertical-center is-size-7">
    <div class="column is-1-desktop is-hidden-touch is-vertical-center">
      <span class="pr3"><%= inscription_counter + 1 %></span>
      <%= image_tag(inscription.user.picture_url, size: 50, class: 'rounded-img') %>
    </div>
    <div class="column is-1-desktop">
      <%= inscription.user.name %>
    </div>
    <div class="column is-2-desktop is-hidden-touch">
      <%= inscription.user.current_position %>
    </div>
    <div class="column is-2-desktop">
      <%= inscription.user.phone %>
    </div>
    <div class="column is-3-desktop is-hidden-mobile">
      <%= inscription.user.email %>
    </div>
    <div class="column is-1-desktop">
      <%= link_to inscription.user.profile_url, target: "_blank", class: 'button is-link' do %>
        <%= icon('fab', 'linkedin') %>
      <% end if inscription.user.profile_url.present? %>  
    </div>
    <div class="column is-2-desktop has-text-centered">
      <div class="select">  
        <%= f.select(:status, Inscription.statuses.keys.map {|status, id| [t("inscriptions.#{status}"), status]}, {}, {onchange: 'this.form.submit();'}) %>
      </div>
    </div>
  </div>
<% end %>