<div class="columns listrow is-mobile">
  <div class="column is-1 is-hidden-touch">
    <%= inscription_counter + 1 %>
  </div>
  <div class="column is-hidden-mobile">
    <%= image_tag(inscription.user.picture_url, size: 50, class: 'rounded-img') %>
  </div>
  <div class="column">
    <%= inscription.user.name %>
  </div>
  <div class="column is-hidden-touch">
    <%= inscription.user.current_position %>
  </div>
  <div class="column is-hidden-mobile">
    <%= inscription.user.email %>
  </div>
  <div class="column">
    <%= link_to 'Ver perfil', inscription.user.profile_url, target: "_blank", class: 'button is-link' %>
  </div>
</div>