<div class="columns listrow">
  <div class="column is-1">
    <%= inscription_counter + 1 %>
  </div>
  <div class="column">
    <%= image_tag(inscription.user.picture_url, size: 50) %>
  </div>
  <div class="column">
    <%= inscription.user.name %>
  </div>
  <div class="column">
    Backend Developer
  </div>
  <div class="column">
    <%= inscription.user.email %>
  </div>
  <div class="column">
    666-XXX-XXX
  </div>
  <div class="column">
    <%= link_to 'Visitar', "https://www.linkedin.com/in/pol-gasull-navarro/", class: 'button is-link' %>
  </div>
</div>