<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="f2"> <%= t('my_inscriptions') %> </h1>
      </div>
    </div>
  </div>
</section>

<section class="section pb2 pt1">
  <div class="container is-wrapper bg-white radius-8">
    <div class="columns">
      <div class="column pb0">
        <p class="f7"> <%= icon('fas', 'clock') %> Publicado <%= time_ago_in_words(@job.created_at) %> </p>
        <h2 class="f2 mb0"><%= @job.title %></h2>
        <p> <%= @job.job_author %> en <%= @job.location %> </p>
      </div>
      <div class="column is-2 has-text-right has-text-centered-mobile">
        <%= link_to 'Ver publicación', @job, class: 'button is-link' %>
      </div>
    </div>
    <div class="ma2"></div>  
  </div>
</section>

<section class="section">
  <div class="container is-wrapper">
    <div class="columns listhead is-mobile">
      <div class="column is-1 is-hidden-touch">
        Nb
      </div>
      <div class="column is-hidden-mobile">
        <%= t('inscriptions.picture') %>
      </div>
      <div class="column">
        <%= t('inscriptions.name') %>
      </div>
      <div class="column is-hidden-touch">
        <%= t('inscriptions.current_job') %>
      </div>
      <div class="column is-hidden-mobile">
        <%= t('inscriptions.email') %>
      </div>
      <div class="column is-hidden-touch">
        <%= t('inscriptions.phone') %>
      </div>
      <div class="column">
        <%= t('inscriptions.linkedin_url') %>
      </div>
    </div>

    <%= render partial: 'inscription', collection: @inscriptions, as: :inscription %>
  </div>
</section>

