<%= form_for inscription, url: admins_job_inscription_path(inscription.job_id, inscription.id), method: :patch do |f| %>
  <div class="columns listrow is-mobile is-vertical-center is-size-7">
    <div class="column is-1 is-hidden-touch is-vertical-center">
      <span class="pr3"><%= inscription_counter + 1 %></span>
      <%= image_tag(inscription.user.picture_url, size: 50, class: 'rounded-img') %>
    </div>
    <div class="column is-1">
      <%= inscription.user.name %>
    </div>
    <div class="column is-2 is-hidden-touch">
      <%= inscription.user.current_position %>
    </div>
    <div class="column is-2">
      <%= inscription.user.phone %>
      <%= inscription.job_id %>
    </div>
    <div class="column is-3 is-hidden-mobile">
      <%= inscription.user.email %>
    </div>
    <div class="column is-1">
      <%= link_to inscription.user.profile_url, target: "_blank", class: 'is-normal-link' do %>
        <%= t('view_profile') %> <%= icon('fas', 'external-link-alt pl2') %>
      <% end %>  
    </div>
    <div class="column is-1 has-text-centered is-hidden-mobile">
      <%= f.select :status, options_for_select(Inscription.statuses) %>
    </div>
    <div class="column is-1 is-hidden-mobile has-text-centered">
      <%= f.check_box :favorite, class: 'checkbox-heart', id: "inscription_status_#{inscription.id}" %>
      <label for="inscription_status_<%=inscription.id%>"></label>
    </div>
  </div>
<% end %>