<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="f2"> <%= job_inscriptions_counter(@job) %> </h1>
        <p class="f2"> 
          <%= link_to @job, class: 'is-info' do %>
            <%= @job.title %> 
          <% end %>
        </p>
        <p> <%= @job.job_author %> en <%= @job.location %> </p>
      </div>
      <div class="column has-text-right">
        <p class="f6"> <%= icon('fas', 'clock') %> Publicado <%= time_ago_in_words(@job.created_at) %> </p>
        <p> <%= t('jobs.reference') %>: <%= @job.reference %> </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <%= link_to admins_job_inscriptions_path(format: "xlsx"), class: 'button is-success pl3' do %>
          <%= icon('fas', 'file-download pr2') %> <%= t('download_candidates_excel') %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns listhead is-mobile">
      <div class="column is-1 is-hidden-mobile">
        <%= t('inscriptions.picture') %>
      </div>
      <div class="column is-1">
        <%= t('inscriptions.name') %>
      </div>
      <div class="column is-2 is-hidden-touch">
        <%= t('inscriptions.current_job') %>
      </div>
      <div class="column is-2 is-hidden-mobile">
        <%= t('inscriptions.phone') %>
      </div>
      <div class="column is-3 is-hidden-mobile">
        <%= t('inscriptions.email') %>
      </div>
      <div class="column is-1">
        <%= t('inscriptions.linkedin_url') %>
      </div>
      <div class="column is-1 has-text-centered is-hidden-mobile">
        Status
      </div>
      <div class="column is-1 has-text-centered is-hidden-mobile">
        Favoritos
      </div>
    </div>

    <%= render @inscriptions %>

  </div>
</section>