<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="f2"> <%= job_inscriptions_counter(@job) %> </h1>
        <p class="f2"> <%= @job.title %> </p>
        <p> <%= @job.job_author %> en <%= @job.location %> </p>
      </div>
      <div class="column has-text-right">
        <p class="f6"> <%= icon('fas', 'clock') %> Publicado <%= time_ago_in_words(@job.created_at) %> </p>
        <p> <%= t('jobs.reference') %>: <%= @job.reference %> </p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3-desktop">
        <%= link_to admins_job_inscriptions_path(format: "xlsx"), class: 'button is-success pl3' do %>
          <%= icon('fas', 'file-download pr2') %> <%= t('download_candidates_excel') %>
        <% end %>
      </div>
      <div class="column is-vertical-center">
        <%= link_to t('show_post'), @job, class: 'is-normal-link' %>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns listhead is-mobile">
      <div class="column is-1 is-hidden-touch">
        Nb
      </div>
      <div class="column is-hidden-mobile">
        <%= t('inscriptions.picture') %>
      </div>
      <div class="column">
        <%= t('inscriptions.name') %>
      </div>
      <div class="column is-hidden-touch">
        <%= t('inscriptions.current_job') %>
      </div>
      <div class="column is-hidden-mobile">
        <%= t('inscriptions.phone') %>
      </div>
      <div class="column is-hidden-mobile">
        <%= t('inscriptions.email') %>
      </div>
      <div class="column">
        <%= t('inscriptions.linkedin_url') %>
      </div>
    </div>

    <%= render partial: 'inscription', collection: @inscriptions, as: :inscription %>
  </div>
</section>