<div class="section">
  <div class="container">
    <div class="columns mb3">
      <div class="column">
        <%= link_to admins_job_path(@job.id), class: 'is-link' do %>
          <%= icon('fas', 'arrow-left mr2') %>
          <%= t('go_back_to_job') %>
        <% end %>
      </div>
    </div>
    <div class="columns is-vcentered mb3">
      <div class="column has-text-left">
        <article class="message is-warning">
          <div class="message-header">
            <p>Estás como admin</p>
          </div>
          <div class="message-body">
            Así es como las empresas ven a los candidatos
          </div>
        </article>
      </div>
      <div class="column has-text-right">
        <%= link_to edit_admins_user_path(@user.id), class: 'button' do %>
          <%= icon('fas', 'edit', class: 'mr2') %> <%= t('edit_profile') %>
        <% end %>
      </div>
    </div>
    <div class="columns mb3">
      <div class="column is-flex is-align-content-center is-justify-content-flex-end">
        <div class="is-vertical-center">
          <p class="has-text-weight-bold mr2"> <%= t('inscriptions.process_status') %>: </p>
        </div>
        <div>
          <%= form_for :inscription, url: admins_job_inscription_path(@inscription.job_id, @inscription.id), method: :patch, remote: true, id: "update-inscription-form-#{@inscription.id}" do |f| %>
            <div class="select is-rounded">
              <%= f.select(:status,
                  Inscription.statuses.keys.map {|status, id| [t("inscriptions.#{status}"), status]},
                  {include_blank: t('helpers.select.select'), selected: @inscription.status}, 
                  {onchange: '$(this.form).submit();', class: "inscription-status-#{@inscription.status}"}) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="columns pa3">
        <div class="column is-2 is-vertical-center">
          <div class="rounded-image m-auto size-120">
            <% if @user.picture_url.file.nil? %>
              <%= image_tag(asset_path('user_male_avatar.svg')) %>
            <% else %>
              <%= image_tag(@user.picture_url_url(:thumb), alt: "Imagen perfil usuario | Wearehiring.io") %>
            <% end %>
          </div>
        </div>
        <div class="column is-4 with-right-border is-flex is-flex-direction-column is-justify-content-space-between">
          <% if @inscription.recommended? %>
            <p> 
              <span class="tag is-warning is-medium"> <%= icon('fas', 'star', class: 'mr1') %> Recomendado </span>
            </p>
          <% end %>
          <p class="is-size-3 has-text-weight-bold"> <%= @user.name %> </p>
          <p> <%= @user.current_position %> </p>
          <p> <%= icon('fas', 'phone') %> <%= @user.phone %> </p>
          <div class="is-flex">
            <%= mail_to @user.email, class: 'button width-150 mr3 mt3' do %>
              <span>Contact</span> <%= icon('far', 'paper-plane ml2') %> 
            <% end %>
            <% if @user.profile_url.present? %>
              <%= link_to @user.profile_url, class: 'button linkedin width-50 mt3' do %>
                <%= icon('fab', 'linkedin') %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="column is-6 pl4">
          <div class="columns">
            <div class="column">
              <div>
                <%= content_tag(:span, 'Lugar de residencia habitual', class: 'has-text-weight-bold') %>:
              </div>
              <div class="mt2">
                <%= content_tag(:span, 'Años de experiencia', class: 'has-text-weight-bold') %>:
              </div>
              <div class="mt2">
                <%= content_tag(:span, t('users.salary_expectation'), class: 'has-text-weight-bold') %>:
              </div>
            </div>
            <div class="column">
              <div>
                <%= @user.location.present? ? content_tag(:span, @user.location) : content_tag(:span, 'Ciudad/País', class: 'has-text-grey-lighter') %>
              </div>
              <div class="mt2">
                <%= @user.experience.present? ? content_tag(:span, @user.experience) : content_tag(:span, 'X años', class: 'has-text-grey-lighter') %>
              </div>
              <div class="mt2">
                <% if @user.salary_from.present? && @user.salary_to.present? %>
                  <%= content_tag(:span, "#{@user.salary_from} €") %> - <%= content_tag(:span, "#{@user.salary_to} €") %>
                <% else %>
                  <%= content_tag(:span, "XXXXX €", class: 'has-text-grey-lighter') %> - <%= content_tag(:span, "XXXXX €", class: 'has-text-grey-lighter') %>
                <% end %>
              </div>
            </div>
          </div>
          <div>
            <% if @user.skills.any? %>
              <% @user.skills.each do |skill| %>
                <span class='tag is-success is-normal'> <%= skill.name %> </span>
              <% end %>  
            <% end %>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>

<div class="section pt2">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <div class="box">
          <p class="is-size-5 has-text-weight-bold"> Portfolio </p>
          <%= content_tag(:div, class: 'mt3') do %>
            <%= icon('fab', 'github mr2') %>
            <%= @user.github.present? ? link_to('Github', @user.github) : content_tag(:span, 'github/profile', class: 'has-text-grey-lighter') %>
          <% end %>

          <%= content_tag(:div, class: 'mt2') do %>
            <%= icon('fab', 'pinterest mr2') %>
            <%= @user.pinterest.present? ? link_to('Pinterest', @user.pinterest) : content_tag(:span, 'pinterest/profile', class: 'has-text-grey-lighter') %>
          <% end %>

          <%= content_tag(:div, class: 'mt2') do %>
            <%= icon('fab', 'behance-square mr2') %>
            <%= @user.behance.present? ? link_to('Behance', @user.behance) : content_tag(:span, 'behance/profile', class: 'has-text-grey-lighter') %>
          <% end %>

          <%= content_tag(:div, class: 'mt2') do %>
            <%= icon('fas', 'globe mr2') %>
            <%= @user.personal_website.present? ? link_to('Personal Website', @user.personal_website) : content_tag(:span, 'https://personalwebsite.com', class: 'has-text-grey-lighter') %>
          <% end %>
        </div>
      </div>
      <div class="column is-6">
        <div class="box">
          <p class="is-size-5 has-text-weight-bold"> About </p>
          <% if @user.description.present? %>
            <%= content_tag(:p, simple_format(@user.description), class: 'mt3') %>
          <% else %>
            <p class="has-text-grey-lighter mt3 is-vertical-center is-justify-content-center" style="height: 300px">
              Sin descripción
            </p>
          <% end %>
        </div>
      </div>
      <div class="column is-3">
        <p class="is-size-5 has-text-weight-bold"> Otros candidatos </p>
        <hr>
        <% @inscriptions.each do |inscription| %>
          <div class="columns">
            <div class="column is-3 is-vertical-center">
              <div class="rounded-image m-auto size-50">
                <% if inscription.user.picture_url.file.nil? %>
                  <%= image_tag(asset_path('user_male_avatar.svg')) %>
                <% else %>
                  <%= image_tag(inscription.user.picture_url_url(:thumb), alt: "Imagen perfil usuario | Wearehiring.io") %>
                <% end %>
              </div>
            </div>
            <div class="column">
              <div class="">
                <p> <%= inscription.user.name %> </p>
                <p> <%= inscription.user.current_position %> </p>
                <p> <%= link_to 'See profile', admins_job_inscription_path(inscription.job_id, inscription.id) %> </p>
              </div>
            </div>
          </div>
        <% end %>
        <div class="has-text-centered">
          <%= link_to admins_job_path(@job.id), class: 'button' do %>
            <%= t('inscriptions.show_all') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="notification is-success is-light" style="position: absolute; top: 65px; width: 100%; display: none;">
  Candidato actualizado y notificado vía correo electrónico
</div>

<%= content_for :footer do %>

<script>
  $(document).on('ajax:success', '#update-inscription-form-<%= @inscription.id %>', function(event) {
    $selectValue = $(this).find('select').val()
    $(this).find('select').removeClass().addClass('inscription-status-' + $selectValue)
    $('.notification').fadeIn().delay(4000).fadeOut();
  });
</script>

<% end %>
