  <div class="modal" id="candidateSignupModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <%= f.hidden_field :user_type_id, value: UserType.where(internal_name: 'candidate').first.id %>
        <%= f.hidden_field :accepted_terms, value: true %>
        <header class="modal-card-head is-hidden-mobile">
          <figure class="image rounded-image size-45 mr3">
            <% if job.avatar.file.nil? %>
              <%= image_tag(asset_path('wah_red_logo.png'), alt: "Empleo de #{job.title} en #{job.job_author}") %>
            <% else %>
              <%= image_tag(job.avatar_url(:thumb), alt: "Empleo de #{job.title} en #{job.job_author}") %>
            <% end %>
          </figure>
          <p class="modal-card-title"> 
            <%= job.title %> <br>
            <span class="is-size-6"> <%= job.job_author %> </span>
          </p>
          <button class="modal-close is-large" aria-label="close"></button>
        </header>

        <section class="modal-card-body">
          <button class="modal-close is-large is-hidden-tablet" aria-label="close" style="position: absolute; right: 10px;"></button>
          <div class="field mb2">
            <%= f.label :email, class: 'has-text-weight-bold' %>
            <div class="control has-icons-left mt2">
              <%= f.input :email,
                  required: true,
                  wrapper: false,
                  label: false,
                  input_html: { class:"input" },
                  placeholder: "johnsmith@correo.com" %>
              <span class="icon is-small is-left">
                <%= icon('fas', 'envelope') %>
              </span>
            </div>
          </div>
          <div class="field mb2 mt3">
            <%= f.label :password, class: 'has-text-weight-bold' %>
            <div class="control has-icons-left mt2">
              <%= f.input :password,
                  required: true,
                  wrapper: false,
                  label: false,
                  input_html: { class: "input", onkeyup: "checkPass(); return false;"  },
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
              <span class="icon is-small is-left">
                <%= icon('fas', 'key') %>
              </span>
            </div>
          </div>
          <hr class="is-hidden-mobile">
          <div class="is-flex is-justify-content-space-between">
            <div class="field">
              <%= f.label :name, class: 'has-text-weight-bold' %>
              <div class="control has-icons-left mt2">
                <%= f.input :name, 
                    required: true, 
                    wrapper: false,
                    autofocus: true, 
                    label: false,
                    input_html: { class: "input" },
                    placeholder: "John Smith" %>
                <span class="icon is-small is-left">
                  <%= icon('fas', 'user') %>
                </span>
              </div>
            </div>
            <div class="field">
              <%= f.label :phone, class: 'has-text-weight-bold' %>
              <div class="control has-icons-left mt2">
                <%= f.input :phone, 
                  label: false,
                  wrapper: false, 
                  required: true,
                  input_html: { class: "input" }, 
                  placeholder: "+34 666555444" %>
                <span class="icon is-small is-left">
                  <%= icon('fas', 'phone') %>
                </span>            
              </div>
            </div>
          </div>
          <div class="field mt3">
            <%= f.label :profile_url, class: 'has-text-weight-bold' %>
            <div class="control has-icons-left mt2">
              <%= f.input :profile_url, 
                label: false,
                wrapper: false, 
                required: true,
                type: :url,
                input_html: { class: "input" }, 
                placeholder: "https://www.linkedin.com/in/your-profile-url/" %>
              <span class="icon is-small is-left">
                <%= icon('fab', 'linkedin') %>
              </span>
            </div>
          </div>
          <div class="mt4 has-text-centered">
            <small class="accept-terms-text">
              Al inscribirme, estoy de acuerdo con la
              <%= link_to 'política de privacidad', privacy_policy_path, target: '_blank' %>, 
              <%= link_to 'aviso legal', legal_terms_path, target: '_blank' %> y 
              <%= link_to 'política de cookies', cookies_policy_path, target: '_blank' %>
              de Wearehiring
            </small>
          </div>
        </section>

        <footer class="modal-card-foot justify-center">
          <%= hidden_field_tag "job_id", @job.id %>
          <%= f.button :submit, t('apply_now'), class: "button is-rounded primary is-large shadow mv3" %>
        </footer>
      <% end %>
    </div>
  </div>

<% content_for :footer do %>
  <script>

    $(document).on("input", ".input", function () {
      if( !$(this).val() ) {
        $(this).removeClass('is-success');
        $(this).addClass('is-danger');
      } else {
        $(this).removeClass('is-danger');
        $(this).addClass('is-success');
      }
    });

    function checkPass() {
      var pass1 = document.getElementById('user_password');
      var successColor = "#48c78e";
      var successColorLight = "#dff5eb";
      var errorColor = "#f14668";
      var errorColorLight = "#f5b8c4";
        
      if (pass1.value.length >= 8) {
        pass1.style.borderColor = successColor;
        pass1.style.backgroundColor = successColorLight;
      } else {
        pass1.style.borderColor = errorColor;
        pass1.style.backgroundColor = errorColorLight;
        return;
      }
    } 

  </script>

<% end %>