
<section class="section">
  <div class="container is-wrapper bg-white radius-8">
    <div class="columns">
      <div class="column pb0">
        <p class="f7"> <%= icon('fas', 'clock') %> Publicado <%= time_ago_in_words(job.created_at) %> </p>
        <h1 class="f2 mb0"><%= "#{t('job_offer_h1')} #{job.title} en #{job.remote_ok? ? "Remoto" : job.location}" %></h1>
        <p> <%= job.job_author %> en <%= job.location %> </p>
      </div>
    </div>
    <div class="ma4 is-hidden-mobile"></div>  
    <div class="columns pr4 wrapper-content">
      <div class="column is-2 is-vertical-center justify-center">
        <% if job.avatar.file.nil? %>
          <%= icon('far', 'image', style: 'font-size: 50px') %>
        <% else %>
          <div class="rounded-image size-150">
            <%= image_tag(job.avatar_url(:thumb), alt: "Empleo de #{job.title} en #{job.job_author}") %>
          </div>
        <% end %>
      </div>
      <div class="column bg-light radius-10">
        <div class="columns">
          <div class="column">
            <div class="pv1 pl2 pr2">
              <strong> <%= job.title %> </strong>
            </div>
            <div class="pv1 pl2 pr2 mt2">
              <%= icon('fas', 'globe mr1') %> <%= job.category.name %>
            </div>
            <div class="pv1 pl2 pr2 mt2">
              <%= icon('fas', 'coins mr1') %>
              <%= job_salary(job.salary_from, job.salary_to) %>
            </div>        
          </div>
          <div class="column">
            <div class="pv1 pl2 pr2">
              <%= icon('fas', 'level-up-alt mr1') %> <%= job.level.name %>
            </div>           
            <div class="pv1 pl2 pr2 mt2">
              <%= icon('far', 'clock mr2') %> <%= job.job_type.name %>
            </div>
            <div class="pv1 pl2 pr2 mt2">
              <% if job.remote_ok? %>
                <%= icon('fas', 'wifi') %> <%= t('remote') %> 
              <% else %>
                <%= icon('fas', 'laptop') %> Oficina
              <% end %>     
            </div>
          </div>
          <div class="column">
            <% job.skills.each do |skill| %>
              <span class='tag is-success is-normal'> <%= skill.name %> </span>
            <% end %>  
            <% job.tags.each do |tag| %>
              <span class='tag is-success is-normal'> <%= tag.name %> </span>
            <% end if job.tags.any? %>  
          </div>
          <div class="column is-relative">
            <div class="is-absolute bottom-10 right-20">
              <p> ¡Comparte este Job! </p>
              <%= social_share_button_tag("#{job.title} en #{job.location}", :image => asset_path('logo_black.png'), :allow_sites => %w(whatsapp_app twitter linkedin email)) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ma4"></div>  

    <div class="columns">
      <div class="column has-text-centered">
        <%= render partial: '/jobs/partials/submit_form', locals: { job: job, cta_text: 'i_want_this_job' } %>
      </div>
    </div>
  </div>
</section>

<section class="section pt0">
  <div class="container is-wrapper bg-white radius-8">
    <div class="columns">
      <div class="column">
        <h2 class="f3 mb2"> <%= t('job_description') %> </h2>
        <div class="job-description pr4 pl4 pb4"> 
          <%= job.description.html_safe %>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <%= render partial: '/jobs/partials/submit_form', locals: { job: job, cta_text: 'this_job_is_mine' } %>
      </div>
    </div>  
  </div>
</section>