<section class="section">
  <div class="container is-wrapper bg-white radius-8">
    <div class="has-text-centered is-hidden-desktop">
      <%= social_share_button_tag("#{job.title} en #{job.location}", :image => asset_path('wah_red_logo.png'), :allow_sites => %w(whatsapp_app twitter linkedin email)) %>
    </div>
    <div class="columns">
      <div class="column pb0">
        <h1 class="f2 mb0"><%= "#{t('job_offer_h1')} #{job.title} en #{job.remote_ok? ? "Remote" : job.location}" %></h1>
        <p> <%= job.job_author %> en <%= job.location %> </p>
      </div>
    </div>

    <div class="ma4 is-hidden-mobile"></div>
    <div class="columns">
      <div class="column is-2 is-vertical-center justify-center">
        <figure class="image rounded-image size-120">
          <% if job.avatar.file.nil? %>
            <%= image_tag(asset_path('wah_red_logo.png'), alt: t('seo.digital_job_offer_alt', title: job.title, job_author: job.job_author)) %>
          <% else %>
            <%= image_tag(job.avatar_url(:thumb), alt: t('seo.digital_job_offer_alt', title: job.title, job_author: job.job_author)) %>
          <% end %>
        </figure>
      </div>
      <div class="column is-10 card-box-secondary pa4">
        <div class="columns">
          <div class="column is-5">
            <p class="is-size-5"> <strong> <%= job.title %> </strong> </p>
            <p class="size-14">
              <%= icon('fas', 'building mr1') %> <span class="mr3"> <%= job.job_author %> </span>
              <%= icon('fas', 'map-marker-alt mr1') %> <span> <%= job.location %> </span>
            </p>
          </div>
          <div class="column is-7 has-text-right-desktop">
            <div class="content">
              <p> 
                <%= icon('fas', 'euro-sign mr1') %> <%= job_salary(job.salary_from, job.salary_to) %>
              </p>
              <div>
                <span class="mr3">
                  <% if job.remote_ok? %>
                    <%= icon('fas', 'wifi mr1') %> <%= t('remote') %> 
                  <% else %>
                    <%= icon('fas', 'laptop mr1') %> Oficina
                  <% end %>   
                </span>
                <span>
                  <%= icon('far', 'clock mr1') %> <%= job.job_type.name %>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="mt4 is-hidden-mobile"></div>
        <div class="columns">
          <div class="column">
            <span class="job-tag category-tag bg-white mr2"> <%= icon('fas', 'puzzle-piece mr1') %> <%= job.category.name %> </span>
            <span class="job-tag level-tag bg-white mr2"> <%= icon('fas', 'graduation-cap mr1') %> <%= job.level.name %>  </span>
            <% job.skills.first(4).each do |skill| %>
              <span class='job-tag skill-tag mr2'> <%= skill.name %> </span>
            <% end %> 
          </div>
          <% if job.partner.present? %>
            <div class="column is-2 is-vertical-center is-justify-content-flex-end">
              <span class="is-size-6 has-text-weight-bold"> By <%= job.partner.name %> </span> 
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="ma4"></div>

    <div class="columns">
      <div class="column has-text-centered">
        <% if job.partner.present? %>
          <%= link_to job.apply_url, class: "button is-dark is-medium is-rounded", target: '_blank' do %>
            <%= t('i_want_this_job') %> <%= icon('fas', 'external-link-alt ml2') %>
          <% end %>
          <p class="mt3"> <%= icon('fas', 'eye') %> <%= @unique_impressions %> <%= t('job_views') %> </p>
          <p> <small> Partnership with <%= job.partner.name %> </small> </p>
        <% else %>
          <%= render partial: '/jobs/partials/submit_form', locals: { job: job, cta_text: 'i_want_this_job' } %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="section pt0">
  <div class="container is-wrapper bg-white radius-8">
    <div class="columns">
      <div class="column">
        <h2 class="f3 mb2 has-text-centered-mobile"> <%= t('job_description') %> </h2>
        <div class="job-description pr4 pl4 pb4"> 
          <%= job.description.html_safe %>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <% if job.partner.present? %>
          <%= link_to job.apply_url, class: "button is-dark is-medium is-rounded" do %>
            <%= t('this_job_is_mine') %> <%= icon('fas', 'external-link-alt ml2') %>
          <% end %>
          <p class="mt3"> <%= icon('fas', 'eye') %> <%= @unique_impressions %> <%= t('job_views') %> </p>
          <p> <small> Partnership with <%= job.partner.name %> </small> </p>
        <% else %>
          <%= render partial: '/jobs/partials/submit_form', locals: { job: job, cta_text: 'this_job_is_mine' } %>
        <% end %>
      </div>
    </div>
    <div class="columns mt4 is-hidden-touch">
      <div class="column has-text-centered">
        <p> <%= t('share') %> Job: </p>
        <%= social_share_button_tag("#{job.title} en #{job.location}", :image => asset_path('wah_red_logo.png'), :allow_sites => %w(whatsapp_app twitter linkedin email)) %>
      </div>
    </div>
  </div>
</section>
