<% unless current_user&.is_company? && current_user&.is_ambassador? %>
  <div class="mb2">
    <small class="accept-terms-text pl2">
      Al inscribirme, estoy de acuerdo con la
      <%= link_to 'política de privacidad', privacy_policy_path, target: '_blank' %>, 
      <%= link_to 'aviso legal', legal_terms_path, target: '_blank' %> y 
      <%= link_to 'política de cookies', cookies_policy_path, target: '_blank' %>
      de Wearehiring
    </small>
  </div>
<% end %>

<% if !user_signed_in? && !current_user&.is_company? && !current_user&.is_ambassador? %>
  <%= link_to t(cta_text), 
              user_linkedin_omniauth_authorize_path(job_id: job.id), 
              class: "button is-rounded primary is-large shadow mv3" %>
<% end %>

<% if user_signed_in? && current_user&.is_candidate? %>
  <% if user_inscribed_to(job) %>
    <div class="has-text-centered">
      <button disabled class="button is-rounded is-success is-large">  
        <%= t('inscribed') %> <%= icon('fas', 'check ml2') %>
      </button>
    </div>
  <% else %>
    <%= form_for :inscription, url: job_inscriptions_path(job.id) do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :accepted_terms, value: true %>
      <%= f.submit t(cta_text), class: "button is-rounded primary is-large shadow mv3 #{'require-user-info' unless minimum_profile(current_user)}" %>
    <% end %>        
  <% end %>
<% end %>      

<% unless @inscriptions_count.zero? %>
  <p> <%= @inscriptions_count %> se han inscrito a esta oferta </p>
<% end %>