<% unless current_user&.is_company? && current_user&.is_ambassador? %>
  <div class="mb2">
    <small class="accept-terms-text pl2">
      Al inscribirme, estoy de acuerdo con la
      <%= link_to 'política de privacidad', privacy_policy_path, target: '_blank' %>, 
      <%= link_to 'aviso legal', legal_terms_path, target: '_blank' %> y 
      <%= link_to 'política de cookies', cookies_policy_path, target: '_blank' %>
      de Wearehiring
    </small>
  </div>
<% end %>

<% if !user_signed_in? && !current_user&.is_company? && !current_user&.is_ambassador? %>
  <%= button_tag(type: 'button',
    class: 'button is-rounded primary is-large shadow mv3 modal-button',
    'data-target': 'candidateSignupModal',
    'aria-haspopup': 'true',
    disabled: !@job.open?) do %>
      <%= t(cta_text) %> 
  <% end %>
<% end %>

<% if user_signed_in? && current_user&.is_candidate? %>
  <% if user_inscribed_to(job) %>
    <div class="has-text-centered mt4 mb2">
      <div class="button is-rounded is-success is-light is-large">  
        <%= t('inscribed') %> <%= icon('fas', 'check ml2') %>
      </div>
    </div>
  <% else %>
    <%= form_for :inscription, url: candidates_job_inscriptions_path(job) do |f| %>
      <%= f.submit t(cta_text), class: "button is-rounded primary is-large shadow mv3 #{'require-user-info' unless minimum_profile(current_user)}" %>
    <% end %>      
  <% end %>
<% end %>      

<% if @inscriptions_count.zero? %>
  <p> ¡Sé de los primeros en aplicar! </p>
<% else %>
  <p> <%= @inscriptions_count %> se han inscrito a esta oferta </p>
<% end %>
