<tr class="inscription-row-<%= inscription.status %>">
  <td class="is-flex is-align-items-center">
    <%= best_in_place inscription, :recommended, as: :checkbox, collection: {false: raw("<i class='far fa-star'></i>"), true: raw("<i class='fas fa-star'></i>")}, url: admins_job_inscription_path(inscription.job_id, inscription.id) %>
    <div class="rounded-image size-50 ml3">
      <% if inscription.user.picture_url.file.nil? %>
        <%= image_tag(asset_path('user_male_avatar.svg')) %>
      <% else %>
        <%= image_tag(inscription.user.picture_url_url(:thumb)) %>
      <% end %>
    </div>
  </td>
  <td>
    <%= link_to admins_job_inscription_path(inscription.job_id, inscription.id) do %>
      <%= inscription.user.name %>
    <% end %>
  </td>
  <td>
    <%= inscription.user.current_position %>
  </td>
  <td>
    <%= inscription.user.experience %>
  </td>
  <td>
    <%= inscription.user.phone %>
  </td>
  <td>
    <%= inscription.user.email %>
  </td>
  <td>
    <%= link_to inscription.user.profile_url, target: "_blank", class: 'button is-link' do %>
      <%= icon('fab', 'linkedin') %>
    <% end if inscription.user.profile_url.present? %>  
  </td>
  <td>
    <div class="status-wrapper has-text-centered">
      <% @statuses = Inscription.statuses.keys.map {|status, id| [status, t("inscriptions.#{status}")]}.insert(0, ["", "Seleccionar"]) %>
      <%= best_in_place inscription, 
          :status, 
          as: :select, 
          class: 'is-size-7',
          inner_class: 'select',
          collection: @statuses, 
          url: admins_job_inscription_path(inscription.job_id, inscription.id),
          place_holder: 'Seleccionar', 
          data: { status: inscription.status } %>
    </div>
  </td>
</tr>
