<div class="box radius-20 is-relative">    
  <% if inscription.recommended? %>
    <div class="card-ribbon">
      <span><%= icon('fas', 'star') %></span>
    </div>
  <% end %>
  <div class="columns is-vcentered">
    <div class="column is-1">
      <div class="rounded-image size-50">
        <% if inscription.user.picture_url.file.nil? %>
          <%= image_tag(asset_path('user_male_avatar.svg')) %>
        <% else %>
          <%= image_tag(inscription.user.picture_url_url(:thumb)) %>
        <% end %>
      </div>
    </div>
    <div class="column is-4">
      <%= icon('fas', 'user', class: 'mr1') %> <%= inscription.user.name %> <br>
      <%= icon('fas', 'at', class: 'mr1') %> <%= inscription.user.email %> <br>
      <%= icon('fas', 'phone', class: 'mr1') %> <%= inscription.user.phone %> <br>
      <%= link_to inscription.user.profile_url, target: "_blank", class: 'is-link' do %>
        <%= icon('fab', 'linkedin', class: 'mr1') %> Linkedin <br>
      <% end if inscription.user.profile_url.present? %> 
    </div>
    <div class="column is-4">
      <% if inscription.user.resident_country_code.present? %>
        <span class="has-text-weight-bold"> <%= t('inscriptions.residence') %>: </span> 
        <%= flag_icon(inscription.user.resident_country_code) %>
        <%= inscription.user.resident_country_code %>, <%= inscription.user.resident_state %>, <%= inscription.user.resident_city %> <br>
      <% end %>
      <span class="has-text-weight-bold"> <%= t('inscriptions.current_job') %>: </span> <%= inscription.user.current_position.present? ? inscription.user.current_position : content_tag(:span, 'Sin especificar', class: 'has-text-grey-lighter') %> <br>
      <span class="has-text-weight-bold"> <%= t('inscriptions.experience') %>: </span> <%= inscription.user.experience.present? ? inscription.user.experience : content_tag(:span, 'Sin especificar', class: 'has-text-grey-lighter') %> <br>
    </div>
    <div class="column is-1"> 
      <%= link_to admins_job_inscription_path(inscription.job_id, inscription.id), target: "_blank", class: 'button' do %>
        <%= icon('fas', 'address-card', class: 'mr2') %> <%= t('view_profile') %> <br>
      <% end %>
    </div>
    <div class="column is-2 has-text-right">
      <%= form_for :inscription, url: admins_job_inscription_path(inscription.job_id, inscription.id), method: :patch, remote: true, id: "update-inscription-form-#{inscription.id}" do |f| %>
        <div class="select is-rounded">
          <%= f.select(:status,
              Inscription.statuses.keys.map {|status, id| [t("inscriptions.#{status}"), status]},
              {include_blank: t('helpers.select.select'), selected: inscription.status}, 
              {onchange: '$(this.form).submit();', class: "inscription-status-#{inscription.status}"}) %>
        </div>
      <% end %>
        <div class="mt2">
          Recomendado: 
          <%= best_in_place inscription, :recommended, as: :checkbox, collection: {false: raw("<i class='far fa-star'></i>"), true: raw("<i class='fas fa-star'></i>")}, url: admins_job_inscription_path(inscription.job_id, inscription.id) %>
        </div>
    </div>
  </div>
</div>

<div class="notification is-success is-light has-text-centered" id="notification-<%= inscription.id %>" style="position: fixed; margin-left: auto; margin-right: auto; left: 25%; right: 25%; z-index: 99999; top: 65px; display: none;">
  <%= t('candidate_updated_notified') %>
</div>

<%= content_for :footer do %>

<script>
  $(document).on('ajax:success', '#update-inscription-form-<%= inscription.id %>', function(event) {
    $selectValue = $(this).find('select').val()
    $(this).find('select').removeClass().addClass('inscription-status-' + $selectValue)
    $('#notification-<%= inscription.id %>').fadeIn().delay(4000).fadeOut();
  });
</script>

<% end %>
