<section class="section">
  <div class="container">
    <%= simple_form_for @post do |f| %>
    <div class="columns">
      <div class="column">
        <div class="field">
          <div class="control">
            <label class="label f4"> <%= t('jobs.logo_image') %> </label>
            <div class="file is-primary">
              <label class="file-label">
                <%= f.input :image, as: :file, required: false, input_html: { class: "file-input load-image" }, label: false, wrapper: false %>
                <span class="file-cta">
                  <span class="file-icon"> <%= icon('fas', 'upload') %> </span>
                  <span class="file-label"> Subir imagen... </span>
                </span>
              </label>
            </div>
            <p> Tamaño mínimo recomendado 800x600 </p>
          </div>
        </div>    
      </div>
      <div class="column">
        <output id="list"></output>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <%= f.input :title, input_html: {class: "input"}, wrapper: false, label_html: {class: "label"} %>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <%= f.input :description, input_html: {class: "textarea"}, wrapper: false, label_html: {class: "label"} %>
      </div>
    </div>
    <%= f.button :submit, class: "button is-primary" %>
    <% end %>
  </div>
</section>

<%= content_for :footer do %>

  <%= javascript_include_tag "helpers/image_loader.js" %>

<% end %>