<span class="preheader"> Tu Job <%= @job.title %> ha sido publicado correctamente en We Are Hiring </span>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">

        <!-- START CENTERED WHITE CONTAINER -->
        <table role="presentation" class="main">

          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <h2> <strong> Tu Job <%= @job.title %> ha sido publicado correctamente en We Are Hiring </strong> </h2>
                    <p> <%= t('jobs.reference') %>: <%= @job.reference %> </p>
                    <p> <%= @job.title %> </p>
                    <p> <%= @job.job_author %> </p>
                    <p> <%= @job.location %> </p>
                    <hr>
                    <p> Tu oferta de empleo ya está visible en We Are Hiring </p>
                    <p> Estará activa <strong> durante 60 días </strong> </p>
                    <p> Recibirás un email cada vez que alguien se inscriba para tu Job.  </p>

                    <br>

                    <p> ¡WE MATCH! </p>
                    <p>
                      Nuestro sistema de matching te propondrá candidatos de nuestra base de datos abiertos a un proceso de selección y que encajan con tu Job. <br>
                      ¡Añádelos! ¡Están esperando ser contactados!.
                    </p>

                    <br>

                    <p> Gestión en la misma plataforma </p>
                    <p>
                      Podrás hacer un seguimiento de tus Jobs a tiempo real en la misma plataforma. Con control de estado de cada candidato.
                    </p>

                    <br>

                    <p> Candidato informado al momento</p>
                    <p>
                      Cada cambio en el estado del proceso mantendrá al candidato informado vía correo electrónico, ahorrando así tiempo y asegurando una respuesta.
                    </p>

                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                      <tbody>
                        <tr>
                          <td align="left">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td> <%= link_to '¡Ver mi Job!', @job %> </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <p> ¡Te deseamos mucha suerte! </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

        <!-- END MAIN CONTENT AREA -->
        </table>
        <!-- END CENTERED WHITE CONTAINER -->

        <!-- START FOOTER -->
        <div class="footer">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="content-block">
                <span class="apple-link">¡Síguenos en RRSS!</span>
                <br> 
                <a href="https://twitter.com/WeAreHiring_io" target="_blank">
                  <%= image_tag(attachments['twitter.png'].url) %>      
                </a>  
                <a href="https://www.linkedin.com/company/we-are-hiring-startup" target="_blank">
                  <%= image_tag(attachments['linkedin.png'].url) %>
                </a>    
              </td>
            </tr>
            <tr>
              <td class="content-block">
                <%= image_tag(attachments['wah_red_logo.png'].url, width: 100, height: 100) %>
              </td>
            </tr>
          </table>
        </div>
        <!-- END FOOTER -->
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
