<span class="preheader"> <%= t('notifiers.jobs_interest', job_title: @job.title) %> </span>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">

        <!-- START CENTERED WHITE CONTAINER -->
        <table role="presentation" class="main">

          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <h2> <%= t('notifiers.jobs_interest', job_title: @job.title) %> </h2>
                    <p> <strong> <%= t('summary.job') %> </strong> </p>
                    <p>
                      <%= t('job_views') %>: <%= @job.impressionist_count(filter: :session_hash) %> </p>
                    <p>
                      <%= t('inscriptions.inscribeds') %>: <%= @job.inscriptions.count %>
                    </p><br>
                    <p> <strong> <%= t('notifiers.new_candidate') %> </strong> </p>
                    <p> <strong> <%= @user.name %> <%= t('notifiers.applied_to_offer') %> </strong> </p>
                    <% if @user.picture_url.file.nil? %>
                      <p>
                        <%= image_tag(attachments['user_circle.png'].url, width: 50, height: 50) %>
                      </p>
                    <% else %>
                      <p>
                        <%= image_tag(@user.picture_url_url(:thumb), width: 50, height: 50) %>
                      </p>
                    <% end %>
                    <p> <%= @user.name %> </p>
                    <p> <%= @user.email %> </p>
                    <p> <%= @user.phone %> </p>
                    <% if @user.profile_url.present? %>
                      <p> <%= link_to 'Ver perfil de Linkedin', @user.profile_url, target: "_blank" %> </p>
                    <% end %>
                    <hr>
                    <p> <%= t('notifiers.update_process') %> </p>
                    <ul>
                      <li> <%= t('inscriptions.discardeds') %> </li>
                      <li> <%= t('inscriptions.in_process') %> </li>
                      <li> <%= t('inscriptions.finalists') %> </li>
                    </ul>
                    <p> <%= t('notifiers.will_receive_mail_notification') %> </p>
                    <hr>
                    <p> <strong> <%= t('notifiers.do_you_want_more_candidates') %> </strong> </p>
                    <p> <strong> <%= t('notifiers.use_we_match') %> </strong> </p>
                    <p> <%= t('notifiers.we_match_1') %></p>
                    <p> <%= t('notifiers.we_match_2') %> </p>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                      <tbody>
                        <tr>
                          <td align="left">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td> <%= link_to t('go_to_job'), @job %> </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <p> ¡Happy Hiring! </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

        <!-- END MAIN CONTENT AREA -->
        </table>
        <!-- END CENTERED WHITE CONTAINER -->

        <!-- START FOOTER -->
        <div class="footer">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="content-block">
                <span class="apple-link"> <%= t('follow_us') %> </span>
                <br> 
                <a href="https://twitter.com/WeAreHiring_io" target="_blank">
                  <%= image_tag(attachments['twitter.png'].url) %>      
                </a>  
                <a href="https://www.linkedin.com/company/we-are-hiring-digital-talent-place" target="_blank">
                  <%= image_tag(attachments['linkedin.png'].url) %>
                </a>    
              </td>
            </tr>
            <tr>
              <td class="content-block">
                <%= image_tag(attachments['WEH_LOGO_PNG_vertical_red.png'].url, width: 100, height: 100) %>
              </td>
            </tr>
          </table>
        </div>
        <!-- END FOOTER -->
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
