<span class="preheader"> <%= t('notifiers.successfully_inscribed_job', job_title: @job.title) %> </span>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">

        <!-- START CENTERED WHITE CONTAINER -->
        <table role="presentation" class="main">

          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <h2> <strong> <%= t('hello') %>, <%= @user.name %>  </strong> </h2>
                    <h3> <%= t('notifiers.successfully_inscribed') %> </h3>
                    <p> <%= @job.title %> </p>
                    <p> <%= @job.job_author %> </p>
                    <p> <%= @job.location %> </p>
                    <hr>
                    <p> <%= t('notifiers.receive_process_update_email') %> </p>
                    <p> <strong> <%= t('notifiers.update_profile_possibilities') %> </strong>  </p>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                      <tbody>
                        <tr>
                          <td align="left">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td> <%= link_to t('complete_profile'), edit_user_registration_url %> </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <p> <%= t('notifiers.good_luck') %> </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

        <!-- END MAIN CONTENT AREA -->
        </table>
        <!-- END CENTERED WHITE CONTAINER -->

        <!-- START FOOTER -->
        <div class="footer">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="content-block">
                <span class="apple-link"><%= t('notifiers.follow_us') %></span>
                <br> 
                <a href="https://twitter.com/WeAreHiring_io" target="_blank">
                  <%= image_tag(attachments['twitter.png'].url, width: 32, height: 32) %>      
                </a>
                <a href="https://www.linkedin.com/company/we-are-hiring-digital-talent-place" target="_blank">
                  <%= image_tag(attachments['linkedin.png'].url, width: 32, height: 32) %>
                </a>
                <a href="https://discord.gg/feMXMacM9w" target="_blank">
                  <%= image_tag(attachments['discord.png'].url, width: 32, height: 32) %>
                </a>
              </td>
            </tr>
            <tr>
              <td class="content-block">
                <%= image_tag(attachments['logo_black.png'].url, width: 100, height: 100) %>
              </td>
            </tr>
          </table>
        </div>
        <!-- END FOOTER -->
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>