<span class="preheader"> El estado de tu inscripción para <%= @job.title %> ha cambiado </span>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">

        <!-- START CENTERED WHITE CONTAINER -->
        <table role="presentation" class="main">

          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <h2> <strong> <strong> Hola, <%= @inscription.user.name %> </strong> </strong> </h2>
                    <% if @inscription.status == "discarded" %>
                      <h3> ¡No dejes de intentarlo! </h3>
                      <p> Lo sentimos, has sido descartado para el proceso de <%= @job.title %> </p>
                    <% end %>
                    <% if @inscription.status == "in_process" %>
                      <h3> ¡Tu perfil ha generado interés! </h3>
                      <p> Estás dentro del proceso de selección para el puesto de <%= @job.title %> </p>
                      <p> Pronto alguien de <%= @job.job_author %> se pondrá en contacto contigo para darte más instrucciones </p>
                    <% end %>
                    <% if @inscription.status == "finalist" %>
                      <h3> ¡Estás a un sólo paso! </h3>
                      <p> Eres finalista para el puesto de <%= @job.title %> </p>
                      <p> Pronto alguien de <%= @job.job_author %> se pondrá en contacto contigo para darte más instrucciones </p>
                    <% end %>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                      <tbody>
                        <tr>
                          <td align="left">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td> <%= link_to 'Entrar en We Are Hiring', root_url %> </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

        <!-- END MAIN CONTENT AREA -->
        </table>
        <!-- END CENTERED WHITE CONTAINER -->

        <!-- START FOOTER -->
        <div class="footer">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="content-block">
                <span class="apple-link">¡Síguenos en RRSS!</span>
                <br> 
                <a href="https://twitter.com/WeAreHiring_io" target="_blank">
                  <%= image_tag(attachments['twitter.png'].url) %>      
                </a>  
                <a href="https://www.linkedin.com/company/we-are-hiring-startup" target="_blank">
                  <%= image_tag(attachments['linkedin.png'].url) %>
                </a>    
              </td>
            </tr>
            <tr>
              <td class="content-block">
                <%= image_tag(attachments['logo_black.png'].url, width: 100, height: 100) %>
              </td>
            </tr>
          </table>
        </div>
        <!-- END FOOTER -->
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
