<span class="preheader"> El estado de tu inscripción para <%= @job.title %> ha cambiado </span>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">

        <!-- START CENTERED WHITE CONTAINER -->
        <table role="presentation" class="main">

          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <h2> <strong> <%= t('hello') %>, <%= @inscription.user.name %> </strong> </h2>
                    <p> <%= t('notifiers.status_update_title', job_title: @job.title, inscription_status: t("inscriptions.#{@inscription.status}")) %> </p>
                    <% if @inscription.discarded? %>
                      <h3> <%= t('notifiers.not_give_up') %> </h3>
                      <p> <%= t('notifiers.discarded_apologies', job_title: @job.title, job_author: @job.job_author) %> </p>
                    <% end %>
                    <% if @inscription.in_process? %>
                      <h3> <%= t('notifiers.profile_interesting') %> </h3>
                      <p> <%= t('notifiers.in_the_process', job_title: @job.title) %> </p>
                      <p> <%= t('notifiers.receive_contact_soon', job_author: @job.job_author ) %> </p>
                    <% end %>
                    <% if @inscription.finalist? %>
                      <h3> <%= t('notifiers.finalist_claim') %> </h3>
                      <p> <%= t('notifiers.in_the_final', job_title: @job.title) %> </p>
                      <p> <%= t('notifiers.receive_contact_soon', job_author: @job.job_author) %> </p>
                    <% end %>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                      <tbody>
                        <tr>
                          <td align="left">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td> <%= link_to t('notifiers.go_to_web'), root_url %> </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

        <!-- END MAIN CONTENT AREA -->
        </table>
        <!-- END CENTERED WHITE CONTAINER -->

        <!-- START FOOTER -->
        <div class="footer">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="content-block">
                <span class="apple-link"> <%= t('notifiers.follow_us') %> </span>
                <br> 
                <a href="https://twitter.com/WeAreHiring_io" target="_blank">
                  <%= image_tag(attachments['twitter.png'].url, width: 32, height: 32) %>      
                </a>  
                <a href="https://www.linkedin.com/company/we-are-hiring-digital-talent-place" target="_blank">
                  <%= image_tag(attachments['linkedin.png'].url, width: 32, height: 32) %>
                </a>
              </td>
            </tr>
            <tr>
              <td class="content-block">
                <%= image_tag(attachments['logo_black.png'].url, width: 100, height: 100) %>
              </td>
            </tr>
          </table>
        </div>
        <!-- END FOOTER -->
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
