<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">

        <!-- START CENTERED WHITE CONTAINER -->
        <table role="presentation" class="main">

          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <p> Hola <%= @user.last_name %>, </p>
                    <p>
                      Es un placer que una empresa como <%= @user.name %> se haya unido a nosotros. 
                    </p>
                    <p>
                     <strong>
                      ¿Cómo funcionamos?
                     </strong>
                    </p>
                    <p>
                      <strong> 1. Nuestra comunidad de talento digital </strong>
                    </p>
                    <p>
                      Disponemos de más de 10.000 perfiles verificados. <br>
                      Para cada candidato que aplica a vuestros Jobs garantizamos la siguiente información: <br>
                    </p>
                    <ul>
                      <li> 👩‍💻 Nombre </li>
                      <li> ✉️ Email </li>
                      <li> 📞 Teléfono </li>
                      <li> 🏡 Lugar de residencia </li>
                      <li> 🌐 Perfil de Linkedin </li>
                    </ul>
                    <p>
                      <strong> 2. Pricing: Publicar tu primer Job ¡Es gratis! </strong>
                    </p>
                    <p>
                      <strong> FREE </strong> - 0€ por Job (max 5 jobs free simultáneos) 
                    </p>
                    <ul>
                      <li>Duración 60 días</li>
                      <li>Gestión estado del proceso de selección</li>
                      <li>Notificación a tiempo real</li>
                      <li>Compartir Job</li>
                      <li>Hasta 15 candidatos</li>
                    </ul>
                    <p>
                      <strong> BASIC </strong> - 99€ por Job 
                    </p>
                    <ul>
                      <li>Duración 60 días</li>
                      <li>Gestión estado del proceso de selección</li>
                      <li>Notificación a tiempo real</li>
                      <li>Compartir Job</li>
                      <li>Nº Candidatos ilimitado</li>
                    </ul>
                    <p>
                      <strong> PRO </strong> - 299€ por Job 
                    </p>
                    <ul>
                      <li>Duración 60 días</li>
                      <li>Gestión estado del proceso de selección</li>
                      <li>Notificación a tiempo real</li>
                      <li>Compartir Job</li>
                      <li>Nº Candidatos ilimitado</li>
                      <li>Descargar candidatos en excel</li>
                    </ul>
                    <p>
                      Y además con PRO:
                    </p>
                    <ul>
                      <li>We match 💎</li>
                      <li>Candidato recomendado 🌟</li>
                      <li>Difusión comunidad 📢</li>
                      <li>Acciones de Marketing ⚡️</li>
                      <li>Integración con audiencia 🔌</li>
                    </ul>
                    <p>
                     <strong> 3. Nuestro motor más potente: We Match </strong>
                    </p>
                    <p>
                      WeMatch es una herramienta que te ofrece al instante los mejores candidatos de nuestra comunidad que encajan con tu oferta. <br>
                      Aparecerán dentro del panel de gestión de tu Job y podrás añadirlos para aumentar tu pool de candidatos.
                    </p>
                    <br>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                      <tbody>
                        <tr>
                          <td align="center">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td style="text-align: center;"> <%= link_to '¡Publicar Job!', "https://www.wearehiring.io" %> </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <p> Quedamos a vuestra disposición para cualquier duda o consulta. </p>
                    <p> Muchas Gracias </p>
                    <p> Equipo WAH </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

        <!-- END MAIN CONTENT AREA -->
        </table>
        <!-- END CENTERED WHITE CONTAINER -->

        <!-- START FOOTER -->
        <div class="footer">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="content-block">
                <span class="apple-link">¡Síguenos en RRSS!</span>
                <br> 
                <a href="https://twitter.com/WeAreHiring_io" target="_blank">
                  <%= image_tag(attachments['twitter.png'].url) %>      
                </a>  
                <a href="https://www.linkedin.com/company/we-are-hiring-digital-talent-place" target="_blank">
                  <%= image_tag(attachments['linkedin.png'].url) %>
                </a>    
              </td>
            </tr>
            <tr>
              <td class="content-block">
                <%= image_tag(attachments['logo_black.png'].url, width: 80, height: 80) %>
              </td>
            </tr>
          </table>
        </div>
        <!-- END FOOTER -->
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
