<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">

        <!-- START CENTERED WHITE CONTAINER -->
        <table role="presentation" class="main">

          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <h2> <%= t('hello') %> <%= @user.name %>, 🙂 </h2>
                    <p> 
                      <%= t('notifiers.congratulations_candidate_signup') %>
                    </p>
                    <p>
                     <strong>
                        <%= t('notifiers.how_wah_works') %>
                     </strong>
                    </p>
                    <ul>
                      <li> <%= t('notifiers.apply_your_own') %> </li>
                      <li> <%= t('notifiers.choose_we_match') %> </li>
                    </ul>
                    <br>
                    <p>
                     <strong>
                        <%= t('notifiers.what_is_we_match') %>
                     </strong>
                    </p>
                    <p>
                      <%= t('notifiers.we_match_candidate_explained_1') %> <br>
                      <%= t('notifiers.we_match_candidate_explained_2') %>
                    </p>
                    <p>
                     <strong>
                        <%= t('notifiers.we_match_candidate_explained_3') %>
                     </strong>
                    </p>
                    <p>
                      <%= t('notifiers.update_profile_possibilities') %> 
                    </p>
                    <p>
                      <%= t('notifiers.wah_review_profile') %>
                    </p>
                    <br>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                      <tbody>
                        <tr>
                          <td align="center">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td style="text-align: center;"> <%= link_to t('apply_now'), "https://www.wearehiring.io" %> </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn">
                      <tbody>
                        <tr>
                          <td align="center">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td style="text-align: center;"> <%= link_to t('join_discord'), "https://discord.gg/feMXMacM9w" %> </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <p> <%= t('notifiers.many_thanks') %></p>
                    <p> <%= t('notifiers.at_your_disposal') %> </p>
                    <p> <%= t('notifiers.team_wah') %> </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

        <!-- END MAIN CONTENT AREA -->
        </table>
        <!-- END CENTERED WHITE CONTAINER -->

        <!-- START FOOTER -->
        <div class="footer">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="content-block">
                <span class="apple-link"><%= t('notifiers.follow_us') %></span>
                <br> 
                <a href="https://twitter.com/WeAreHiring_io" target="_blank">
                  <%= image_tag(attachments['twitter.png'].url, width: 32, height: 32) %>      
                </a>  
                <a href="https://www.linkedin.com/company/we-are-hiring-digital-talent-place" target="_blank">
                  <%= image_tag(attachments['linkedin.png'].url, width: 32, height: 32) %>
                </a>    
                <a href="https://discord.gg/feMXMacM9w" target="_blank">
                  <%= image_tag(attachments['discord.png'].url, width: 32, height: 32) %>
                </a>    
              </td>
            </tr>
            <tr>
              <td class="content-block">
                <%= image_tag(attachments['logo_black.png'].url, width: 80, height: 80) %>
              </td>
            </tr>
          </table>
        </div>
        <!-- END FOOTER -->
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
