<section class="section">
  <div class="container">
    <div class="columns"> 
      <div class="column">
        <h1 class="title">
            Hola, <%= current_user.name %>
        </h1>
        <h2 class="subtitle">
          Aquí tienes el resumen de tus Jobs en We Are Hiring
        </h2>
        <section class="info-tiles">
          <div class="tile is-ancestor has-text-centered">
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title"><%= @company_jobs_count %></p>
                <p class="subtitle">Jobs</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title"><%= @company_jobs_open_count %></p>
                <p class="subtitle">Jobs Activos</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title"><%= @company_jobs_close_count %></p>
                <p class="subtitle">Jobs Finalizados</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title"><%= @total_inscriptions %></p>
                <p class="subtitle">Total Inscritos</p>
              </article>
            </div>
          </div>
        </section>
        <div class="columns">
          <div class="column is-6">
            <div class="card events-card">
              <header class="card-header">
                <p class="card-header-title">
                  Últimos candidatos
                </p>
              </header>
              <div class="card-table pa2">
                <% if @last_inscribeds.any? %>
                  <% @last_inscribeds.each do |inscription| %>
                    <div class="columns is-vcentered">
                      <div class="column is-1">
                        <% if inscription.user.picture_url.file.nil? %>
                          <%= icon('far', 'image', style: 'font-size: 25px') %>
                        <% else %>
                          <%= image_tag(inscription.user.picture_url, width: 35, height: 35) %>
                        <% end %>
                      </div>
                      <div class="column is-size-7 is-8">
                        <%= inscription.user.name %> ha aplicado a <%= inscription.job.title %> 
                      </div>
                      <div class="column has-text-right is-3">
                        <%= link_to companies_job_inscription_path(inscription.job_id, inscription.id), class: "button is-small is-link" do %>
                          <%= t('view_profile') %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="has-text-centered mt3">
                    <%= image_tag(asset_path('applicants_logo.svg'), size: 150) %>
                    <p> No tienes candidatos </p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="card events-card">
              <header class="card-header">
                <p class="card-header-title">
                  Últimos Jobs publicados
                </p>
              </header>
              <div class="card-table pa2">
                <% if @company_jobs.any? %>
                  <% @company_jobs.each do |job| %>
                    <div class="columns is-vcentered">
                      <div class="column is-size-7 is-6">
                        <%= job.title %>
                      </div>
                      <div class="column is-3 has-text-right"> 
                        <span class="tag is-size-7 <%= job.open? ? 'is-success' : 'is-danger' %>">
                          <%= job.open? ? 'En curso' : 'Finalizado' %> 
                        </span>
                      </div>
                      <div class="column has-text-right is-3">
                        <%= link_to companies_job_path(job.id), class: "button is-small is-link" do %>
                          <%= t('go_to_job') %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="has-text-centered mt3">
                    <%= image_tag(asset_path('job_logo.svg'), size: 100) %>
                    <p class="mb2"> No tienes Jobs publicados </p>
                    	<%= link_to t(post_job_toggle_title), 
                        new_companies_job_path, 
                        class: "button text-uppercase f6 is-primary has-text-weight-bold" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>