<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-3-desktop">
        <%= link_to companies_job_path(@job.id), class: 'button is-normal' do %>
          <%= icon('fas', 'arrow-left mr2') %>
          <%= t('go_back_to_job') %>
        <% end %>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h1 class="f2"> <%= job_inscriptions_counter(@job) %> </h1>
        <p class="f2">
          <%= @job.title %>
        </p>
        <p> <%= @job.job_author %> en <%= @job.location %> </p>
      </div>
      <div class="column has-text-right-desktop">
        <p class="f6"> <%= icon('fas', 'clock') %> Publicado <%= time_ago_in_words(@job.created_at) %> </p>
        <p> <%= t('jobs.reference') %>: <%= @job.reference %> </p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3-desktop">
        <% if !@inscriptions_count.zero? %>
          <%= link_to companies_job_inscriptions_path(format: "xlsx"), class: 'button is-success pl3' do %>
            <%= icon('fas', 'file-download pr2') %> <%= t('download_candidates_excel') %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title"> <%= @inscribeds_count %> </p>
          <p class="subtitle"><%= icon('fas', 'check-circle') %> <%= t("inscriptions.inscribeds") %> </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title"><%= @finalists_count %></p>
          <p class="subtitle"> <%= icon('fas', 'heart-broken') %> <%= t("inscriptions.finalists") %> </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title"> <%= @in_process_count %> </p>
          <p class="subtitle"> <%= icon('fas', 'user-clock') %> <%= t("inscriptions.in_process") %> </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title"> <%= @discardeds_count %> </p>
          <p class="subtitle"><%= icon('fas', 'trophy') %> <%= t("inscriptions.discardeds") %> </p>
        </article>
      </div>
    </div>
  </section>
  <div class="container mt4">
    <table id="inscriptionsTable" class="table is-striped inscriptions-table" style="width:100%" data-order='[[ 6, "desc" ]]'>
      <thead> 
        <tr>
          <th> <%= t('inscriptions.picture') %> </th>
          <th> <%= t('inscriptions.name') %> </th>
          <th> <%= t('inscriptions.current_job') %> </th>
          <th> <%= t('inscriptions.phone') %> </th>
          <th> <%= t('inscriptions.email') %> </th>
          <th> <%= t('inscriptions.linkedin') %> </th>
          <th> <%= t('inscriptions.status') %> </th>
        </tr>
      </thead>
      <tbody>
        <% @inscriptions.each do |inscription| %>
          <%= render partial: 'companies/inscriptions/inscription', locals: { inscription: inscription } %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bulma.min.css">
<% end %>

<%= content_for :footer do %>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bulma.min.js"></script>
<script>

  $(document).ready(function() {
    $('#inscriptionsTable').DataTable({
      "pageLength": 200,
      "paging": false,
      "language": {
        "search": "Buscar:",
        "info":           "",
      }
    });
    /* Activating Best In Place */
    $(".best_in_place").best_in_place();
    $('.best_in_place').bind("ajax:success", function () { 
      console.log('success');
      $(this).closest('tr').effect('highlight', {color: '#48c774'}, 700);
    });
  });
</script>
<% end %>

