<span class="preheader"> Solicitud cambio de contraseña We Are Hiring </span>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">

        <!-- START CENTERED WHITE CONTAINER -->
        <table role="presentation" class="main">

          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <p> Hola <%= @resource.email %>,  </p>
                    <p> Has solicitado un enlace para cambiar la contraseña. Puedes hacerlo a través del siguiente enlace.</p>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                      <tbody>
                        <tr>
                          <td align="left">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td> <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %> </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <hr>
                    <p> Equipo We Are Hiring </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

        <!-- END MAIN CONTENT AREA -->
        </table>
        <!-- END CENTERED WHITE CONTAINER -->

        <!-- START FOOTER -->
        <div class="footer">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="content-block">
                <span class="apple-link">¡Síguenos en RRSS!</span>
                <br> 
                <a href="https://twitter.com/WeAreHiring_io" target="_blank">
                  <%= image_tag(attachments['twitter.png'].url) %>      
                </a>  
                <a href="https://www.linkedin.com/company/we-are-hiring-startup" target="_blank">
                  <%= image_tag(attachments['linkedin.png'].url) %>
                </a>    
              </td>
            </tr>
            <tr>
              <td class="content-block">
                <%= image_tag(attachments['wah_red_logo.png'].url, width: 100, height: 100) %>
              </td>
            </tr>
          </table>
        </div>
        <!-- END FOOTER -->
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
