<h2 class="title is-4"> <%= t('how_it_works') %> </h2>
<div class="columns mt4 is-vcentered">
  <div class="column is-4 has-text-centered">
    <img 
      src="<%=asset_path('company_post_job.svg')%>" 
      width="120" 
      height="120" 
      class="is-blank is-mobile-img" 
      alt="Only Digital Jobs | Wearehiring.io">
  </div>
  <div class="column">
    <h3 class="title is-5"> 
      <%= t('feature_company_1') %>
    </h3>
    <h3 class="title is-5"> 
      FREE - 0€ / Job <br>
      BASIC - 99€ / Job <br>
      PRO - 299€ por Job
    </h3>
    <div class="content mt4">
      <p class="has-text-left"> <%= t('feature_company_text_1') %> </p>
      <%= link_to new_job_index_companies_jobs_path, 
        class: "button text-uppercase f6 primary has-text-weight-bold" do %>
        <%= t('jobs.post_job') %> <%= icon('fas', 'bullhorn ml2') %>
      <% end %>
    </div>
  </div>
</div>
<div class="columns mt5 is-vcentered">
  <div class="column is-4 has-text-centered">
    <img 
      src="<%=asset_path('company_hire_we_match.svg')%>"
      width="180"
      height="180"
      class="is-blank"
      alt="Rápido regístro | Wearehiring.io">      
  </div>
  <div class="column">
    <h3 class="title is-5"> <%= t('feature_company_2') %> - PRO <span><%= icon('fas', 'star') %></span> </h3>
    <div class="content mt4">
      <p class="has-text-left"> <%= t('feature_company_text_2') %> </p>
    </div>			
  </div>
</div>
<div class="columns mt5 is-vcentered">
  <div class="column is-4 has-text-centered">
    <img 
      src="<%=asset_path('company_manage_status.svg')%>"
      width="200"
      height="200"
      class="is-blank"
      alt="Digital talent place | Wearehiring.io">			
  </div>
  <div class="column">
    <h3 class="title is-5"> <%= t('feature_company_3') %> </h3>
    <div class="content mt4">
      <p class="has-text-left"> <%= t('feature_company_text_3') %> </p>
    </div>
  </div>
</div>
<div class="columns mt5 is-vcentered">
  <div class="column is-4 has-text-centered">
    <img 
      src="<%=asset_path('company_notifier.svg')%>"
      width="180"
      height="180"
      class="is-blank"
      alt="Digital talent place | Wearehiring.io">			
  </div>
  <div class="column">
    <h3 class="title is-5"> <%= t('feature_company_4') %> </h3>
    <div class="content mt4">
      <p class="has-text-left"> <%= t('feature_company_text_4') %> </p>
    </div>
  </div>
</div>
