<footer class="footer">
  <section class="section is-footer">
    <div class="container">
      <div class="columns">
        <div class="column is-3-desktop">
          <div>
            <ol>
              <li><%= link_to t('pricing'), pricing_path %></li>
              <% unless user_signed_in? %>
                <li><%= link_to t('for_talent'), url_for(controller: 'how_it_works', action: 'talent', locale: I18n.locale.to_s), hreflang: I18n.locale.to_s, rel: 'alternate' %> </li>
                <li><%= link_to t('for_companies'), url_for(controller: 'how_it_works', action: 'companies', locale: I18n.locale.to_s), hreflang: I18n.locale.to_s, rel: 'alternate' %> </li>
                <li><%= link_to t('About us'), url_for(controller: 'about_us', action: 'index', locale: I18n.locale.to_s), hreflang: I18n.locale.to_s, rel: 'alternate' %> </li>
              <% end %>
              <li><%= link_to t('blog'), blog_posts_path %></li>
              <li>
              	<%= link_to "https://discord.gg/feMXMacM9w" do %>
                  Discord <%= icon('fab', 'discord', class: 'ml1') %>
                <% end %>
              </li>
              <li>
              	<%= link_to "https://jobquire.com/salarios", target: "_blank" do %>
                  Comparador salarios
                <% end %>
              </li>
              <li>
              	<%= link_to "https://jobquire.com/opiniones", target: "_blank" do %>
                  Opiniones sobre empresas
                <% end %>
              </li>
            </ol>
          </div>
        </div>
        <div class="column is-3">
          <p><%= t('follow_us') %></p>
          <div class="social-buttons">
            <a href="https://www.linkedin.com/company/we-are-hiring-digital-talent-place" target="_blank">
            <span class="social-icon fab fa-linkedin-in"></span>
            </a>
            <a href="https://twitter.com/WeAreHiring_io" target="_blank">
              <span class="social-icon fab fa-twitter"></span>
            </a>
            <%= link_to "https://discord.gg/feMXMacM9w" do %>
              <%= icon('fab', 'discord', class: 'ml1') %>
            <% end %>
            <div class="mt3">
              <script src="https://platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
              <script type="IN/FollowCompany" data-id="42320977" data-counter="bottom"></script>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <p><%= t('contact_us') %></p>
          <a href="mailto:hello@wearehiring.io"> hello@wearehiring.io </a>
        </div>
        <div class="column is-3">
          <%= link_to t('legal_note'), legal_terms_path, { rel:"nofollow", target: '_blank' } %> <br>
          <%= link_to t('privacy_policy_footer'), privacy_policy_path, { rel:"nofollow", target: '_blank' } %> <br>
          <%= link_to t('cookies_policy_footer'), cookies_policy_path, { rel:"nofollow", target: '_blank' } %>

          <div class="mt4"> 
            <% %w[stripe visa mastercard amex].each do |card| %>
              <%= icon('fab', "cc-#{card} is-size-3 has-text-white") %>
            <% end %>
          </div>
        </div>
      </div>
      <hr class="is-hidden-mobile">
      <div class="columns is-copy is-hidden-mobile">
        <div class="column has-text-centered">
          <p>WeAreHiring</p>
          Copyright &copy; <%= Time.current.year %> Made in Barcelona
        </div>
      </div>
    </div>
  </section>
</footer>

<%= content_for :footer do %>
  <script>
    $(document).ready(function() {
      $(document).on("click", ".open-menu", function() {
        document.getElementById("mySidenav").style.width = "100%";
      });

      $(document).on("click", ".close-menu", function() {
        document.getElementById("mySidenav").style.width = "0";
      });
    });
  </script>

<% end %>