<header class="header <%= 'signed-header mb4' if user_signed_in? %>">
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="container is-justify-content-space-between">
			<div class="navbar-brand">
				<a href="<%=root_path%>" class="is-vertical-center">
					<% logo = user_signed_in? ? asset_path('wah_logo_vertical_white.png') : asset_path('logo_black.png') %>
					<img class="logo" src="<%= logo %>" alt="Ofertas de empleo digital para tus equipos tech - Wearehiring.io">
				</a>
			</div>
			<a role="button" class="navbar-burger open-menu" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
			<div class="is-hidden-touch is-vertical-center">
				<%= render "menu" %>
			</div>
		</div>
	</nav>
</header>
<% if current_user && current_user.phone.blank? && current_user.is_candidate? && browser.device.mobile? %>
	<div class="has-background-warning">
		<div class="container">
			<div class="columns is-vertical-center pv2 is-marginless">
				<div class="column">
					<span class="f6"> <strong>Aumenta</strong> las posibilidades de ser contactado. </span>
				</div>
				<div class="column is-3 has-text-right">
					<%= link_to edit_user_registration_path, class: "button is-rounded primary f6" do %> 
							Completa tu perfil <%= icon('fas', 'arrow-right pl2') %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>
<div id="mySidenav" class="sidenav">
	<a href="<%=root_path%>" class="mobile-menu-logo">
		<img src="<%=asset_path('logo_black.png')%>" alt="Ofertas de empleo digital para equipos tech - Wearehiring.io" width="100" height="50">
	</a>
	<div class="close-menu">
		<span><img class="back-menu-logo" src="<%=asset_path('Back.svg')%>" alt="back-menu"></span>
	</div>
	<%= render "menu_touch" %>
</div>
