<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-end">
		<div class="navbar-brand has-text-weight-bold">
			<%= link_to t('show_jobs'), 
					jobs_path, 
					class: "navbar-item text-uppercase  #{ 'active' if current_page?(jobs_path)}" %>
		</div>
		<% unless current_user&.is_candidate? %>
		<div class="navbar-brand has-text-weight-bold">
			<%= link_to t(post_job_toggle_title), 
					new_job_path, 
					class: "navbar-item text-uppercase #{ 'active' if current_page?(new_job_path)}" %>
		</div>
		<% end %>
    <% unless user_signed_in? %>
      <div class="navbar-brand">
        <%= link_to t('candidate_access'), 
          new_user_registration_path(:candidate => "true"),
          class: "navbar-item text-uppercase #{ 'active' if current_page?(new_user_registration_path(:candidate => "true"))}" %>
      </div>
      <div class="navbar-brand">
        <%= link_to t('company_access'), 
          new_user_registration_path(:company => "true"),
          class: "navbar-item text-uppercase #{ 'active' if current_page?(new_user_registration_path(:company => "true"))}" %>
      </div>
		<% end %>
    <% if user_signed_in? %>
      <% if current_user.is_candidate? %>
        <div class="navbar-brand">
          <%= link_to t('my_inscriptions'), inscriptions_user_path(current_user), 
            class: "navbar-item text-uppercase #{ 'active' if current_page?(inscriptions_user_path(current_user)) }" %>
        </div>
      <% end %>  
      <% if current_user.is_company? || current_user.is_ambassador? %>
        <div class="navbar-brand">
          <%= link_to t('my_jobs'), jobs_user_path(current_user), 
          class: "navbar-item text-uppercase #{ 'active' if current_page?(jobs_user_path(current_user)) }" %>
        </div>
      <% end %> 
      <div class="navbar-brand">
        <%= link_to edit_user_registration_path, 
        class: "navbar-item text-uppercase #{ 'active' if current_page?(edit_user_registration_path) }" do %> 
          <span> <%= current_user.is_company? || current_user.is_ambassador? ? t('edit_password') : t('profile') %> </span>
        <% end %>
      </div>
      <% if current_user.is_admin? %>
      	<div class="navbar-brand">
          <%= link_to "New Job", 
              new_admins_job_path, 
              class: "navbar-item text-uppercase #{ 'active' if current_page?(new_admins_job_path)}" %>
        </div>
        <div class="navbar-brand">
          <%= link_to "Jobs", 
              admins_jobs_path, 
              class: "navbar-item text-uppercase #{ 'active' if current_page?(admins_jobs_path)}" %>		
        </div>
        <div class="navbar-brand">
          <%= link_to "Users", 
              admins_users_path, 
              class: "navbar-item text-uppercase #{ 'active' if current_page?(admins_users_path)}" %>		
        </div>
        <div class="navbar-brand">
          <%= link_to "Settings", 
              admins_settings_path, 
              class: "navbar-item text-uppercase #{ 'active' if current_page?(admins_settings_path)}" %>		
        </div>
        <div class="navbar-brand">
          <%= link_to "Blog", 
              blog_posts_path, 
              class: "navbar-item text-uppercase f6 #{ 'active' if current_page?(blog_posts_path)}" %>		
        </div>
      <% end %>
      <hr />
      <div class="navbar-brand">
        <%= link_to t('logout'), destroy_user_session_path, method: :delete, class: "navbar-item text-uppercase" %>
      </div>
    <% end %>
	</div>
</nav>