<nav class="navbar text-uppercase" role="navigation" aria-label="main navigation">
	<% if user_signed_in? %>
		<% if current_user.is_admin? %>
      <div class="navbar-brand">
        <%= link_to "New Job", 
            new_admins_job_path, 
            class: "navbar-item #{ 'active' if current_page?(new_admins_job_path)}" %>
      </div>
      <div class="navbar-brand">
        <%= link_to "Jobs", 
            admins_jobs_path,
            class: "navbar-item #{ 'active' if current_page?(admins_jobs_path)}" %>		
      </div>
      <div class="navbar-brand">
        <%= link_to "Candidates", 
            admins_candidates_path, 
            class: "navbar-item #{ 'active' if current_page?(admins_candidates_path)}" %>		
      </div>
      <div class="navbar-brand">
        <%= link_to "Companies", 
            admins_companies_path, 
            class: "navbar-item #{ 'active' if current_page?(admins_companies_path)}" %>		
      </div>
      <div class="navbar-brand">
        <%= link_to "Settings", 
            admins_settings_path, 
            class: "navbar-item #{ 'active' if current_page?(admins_settings_path)}" %>		
      </div>
      <div class="navbar-brand">
        <%= link_to "Blog", 
            blog_posts_path, 
            class: "navbar-item #{ 'active' if current_page?(blog_posts_path)}" %>		
      </div>
      <div class="navbar-brand">
        <%= link_to t('logout'), destroy_user_session_path, method: :delete, class: "navbar-item" %>
      </div>
    <% end %>
    <% if current_user.is_candidate? %>
      <div class="navbar-brand">
        <%= link_to candidates_dashboards_path, class: "navbar-item #{ 'active' if current_page?(candidates_dashboards_path)}" do %>
          <span> Dashboard </span>
        <% end %>
      </div>
      <div class="navbar-brand">
        <%= link_to (t('my_inscriptions') + " (#{current_user.inscriptions.count})"), 
          candidates_inscriptions_path(current_user), 
          class: "navbar-item #{ 'active' if current_page?(candidates_inscriptions_path(current_user)) }" %>
      </div>
      <div class="navbar-brand">
        <%= link_to candidates_user_profile_path(current_user), 
        class: "navbar-item #{ 'active' if current_page?(candidates_user_profile_path(current_user)) }" do %> 
          <span> <%= t('profile') %> </span>
        <% end %>
      </div>
      <hr />
      <div class="navbar-brand">
        <%= link_to t('logout'), destroy_user_session_path, method: :delete, class: "navbar-item" %>
      </div>
    <% end %>
    <% if current_user.is_company? %>
      <div class="navbar-brand">
        <%= link_to t('jobs.post_job'), new_companies_job_path, class: "navbar-item #{ 'active' if current_page?(new_companies_job_path)}" %>
      </div>
      <div class="navbar-brand">
        <%= link_to t('my_jobs'), companies_jobs_path(current_user), class: "navbar-item #{ 'active' if current_page?(companies_jobs_path(current_user)) }" %>
      </div>      
      <div class="navbar-brand">
        <%= link_to edit_user_registration_path, class: "navbar-item #{ 'active' if current_page?(edit_user_registration_path) }" do %> 
          <span> <%= t('edit_password') %> </span>
        <% end %>
      </div>
      <hr />
      <div class="navbar-brand">
        <%= link_to t('logout'), destroy_user_session_path, method: :delete, class: "navbar-item" %>
      </div>
    <% end %>
  <% else %>
    <div class="navbar-brand">
      <%= link_to t('pricing'), pricing_path, class: "navbar-item #{ 'active' if current_page?(pricing_path)}" %>
    </div>
    <div class="navbar-brand">
      <%= link_to "Post Job for Free", new_company_registration_path, class: "navbar-item #{ 'active' if current_page?(new_company_registration_path)}" %>
    </div>
    <div class="navbar-brand">
      <%= link_to t('login'), new_user_session_path, class: "navbar-item #{ 'active' if current_page?(new_user_session_path)}" %>
    </div>
  <% end %>
</nav>