<title><%= title %></title>
<meta http-equiv="content-language" content="<%= I18n.default_locale %>">
<meta name="description" content="<%=description%>">
<meta property="og:type" content="website" />
<meta property="og:title" content="<%=title%>" />
<meta property="og:description" content="<%=description%>" />
<meta property="og:url" content="<%=request.original_url%>" />
<meta property="og:site_name" content="Wearehiring" />
<meta property="og:image" content="<%= image %>" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="<%= title %>">
<meta name="twitter:description" content="<%= description %>">
<meta name="twitter:image:src" content="<%= image %>">
