<title><%= title %></title>
<meta name="description" content="<%=description%>">
<meta property="og:type" content="website" />
<meta property="og:title" content="<%=title%>" />
<meta property="og:description" content="<%=description%>" />
<meta property="og:url" content="<%=request.original_url%>" />
<meta property="og:site_name" content="Wearehiring" />
<meta property="og:image" content="<%= asset_path('logo_beta.png') %>" />