<!DOCTYPE html>
<html>
  <head>
    <%= render "gtm_script" if (Rails.env.production?) %>
    <%= render "google_analytics" if (Rails.env.production?) %>
    <%= render "structured_data" %>
    <link rel='icon' href='<%= asset_path('favicon.ico') %>' type='image/x-icon'/ >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application' %>
    <%= tag :meta, name: "stripe-public-key", content: Figaro.env.stripe_publishable_key %>
    <%= javascript_include_tag 'application', "https://js.stripe.com/v3/" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>

  <body class="<%= yield (:body_class) %>">
    <%= render "gtm_iframe" if (Rails.env.production?) %>

    <% if flash[:notice] %>
      <div class="notification is-notice global-notification">
        <p class="notice">
          <%= icon('fas', 'check-circle', class: 'has-text-primary') %>
          <%= notice %> 
        </p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-alert global-notification">
        <p class="alert">
          <%= icon('fas', 'exclamation-triangle', class: 'has-text-danger') %>
          <%= alert %>
        </p>
      </div>
    <% end %>
    <div id="mainWrapper">
      <%= render "application/header" %>

      <%= yield %>

      <%= render "footer" %>
      <%= render "cookies_eu/consent_banner"%>
    </div>
    
    <%= yield :footer %>

  </body>
</html>
