<!DOCTYPE html>
<html>
  <head>
    <%= render "gtm_script" if (Rails.env.production?) %>
    <%= render "google_analytics" if (Rails.env.production?) %>
    <%= render "hotjar" if (Rails.env.production?) %>
    <link rel='icon' href='<%= asset_path('favicon.ico') %>' type='image/x-icon'/ >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application' %>
    <%= tag :meta, name: "stripe-public-key", content: Figaro.env.stripe_publishable_key %>
    <%= javascript_include_tag 'application', "https://js.stripe.com/v3/" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>

  <body class="<%= yield (:body_class) %>">
    <%= render "gtm_iframe" if (Rails.env.production?) %>

    <% if flash[:notice] %>
      <div class="notification is-success global-notification">
        <p class="notice"> <%= notice %> </p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    
    <%= render "header" %>

    <%= yield %>

    <%= render "footer" %>

    <script>
      $(document).ready(function() {

        $(window).scroll(function (event) {
          var scroll = $(window).scrollTop();
          if(scroll >= (50)) {
            $('.logo-size').width(50)
            $('.logo-size').height(50)
          } else {
            $('.logo-size').width(100)
            $('.logo-size').height(100)
          }
        });

        $(document).on("click", ".open-menu", function() {
          document.getElementById("mySidenav").style.width = "100%";
        });

        $(document).on("click", ".close-menu", function() {
          document.getElementById("mySidenav").style.width = "0";
        });
      });
    </script>

    <%= yield :footer %>

  </body>
</html>
